@using InsuranceWebsite.Models
@using MVCGrid.Web
@model UserProfileModelObject

@{
    ViewBag.Title = Resources.Resources.HomePageTitle;
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

@Scripts.Render("~/bundles/jqueryval")

<div id="dialog-form" title="@Resources.Resources.EditUser">

    @using (Html.BeginForm("Edit", "UsersManagement", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        @Html.HiddenFor(i => i.ID);
        <p>
            @Html.Label(Resources.Resources.FirstName)
            @Html.TextBoxFor(i => i.FirstName, new { @class = "text ui-widget-content ui-corner-all", id = "firstname" })
            @Html.ValidationMessageFor(i => i.FirstName)
        </p>
        <p>
            @Html.Label(Resources.Resources.LastName)
            @Html.TextBoxFor(model => model.LastName, new { @class = "text ui-widget-content ui-corner-all", id = "lastname" })
            @Html.ValidationMessageFor(i => i.LastName)
        </p>
        <p>
            @Html.Label(Resources.Resources.Email)
            @Html.TextBoxFor(model => model.User.Email, new { @class = "text ui-widget-content ui-corner-all", id = "email", disabled="disabled" })
            @Html.ValidationMessageFor(i => i.User.Email)
        </p>
        <p>
            @Html.Label(Resources.Resources.UserRole)
            @Html.DropDownListFor(i => i.Role.Id, Model.UserRolesList, new { @class = "text ui-widget-content ui-corner-all", id = "userRoleDropdown", style = "width:95%;padding:.4em;" })
            @Html.ValidationMessageFor(i => i.Role.Id)
        </p>
        <div class="form-group" id="professionalNumberSection">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-envelope"></span>
                @Html.TextBoxFor(m => m.ProfessionalNumber, new { @class = "form-control", @placeholder = Resources.Resources.ProfessionalNumber, @id = "short" })
            </div>
        </div>

        if (Model.User.EmailConfirmed)
        {
            <p>@Html.ActionLink(Resources.Resources.Deactivate, "Deactivate", "UsersManagement", new { id = Model.ID }, new { @class= "btn btn-danger lnkDeactivate" })</p>
        }
        else
        {
            <p>@Html.ActionLink(Resources.Resources.Activate, "Activate", "UsersManagement", new { id = Model.ID }, new { @class = "btn btn-success lnkActivate" })</p>
        }
    }
</div>

<script>

    $(function () {

        $.validator.addMethod('date', function (value, element) {
            if (this.optional(element)) {
                return true;
            }

            var ok = true;
            try {
                $.datepicker.parseDate('dd/mm/yy', value);
            }
            catch (err) {
                ok = false;
            }
            return ok;
        });

        $('.date-picker').datepicker({
            dateFormat: 'dd/mm/yy'
        });

        $("#professionalNumberSection").hide();

        $("#userRoleDropdown").change(function () {
            if ($("#userRoleDropdown").val() == 3) {
                $("#professionalNumberSection").show();
            }
            else {
                $("#professionalNumberSection").hide();
            }
        });

        $("#dialog-activate").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog-deactivate").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $(".lnkDeactivate").click(function (e) {
            // e.preventDefault(); use this or return false
            url = $(this).attr('href');
            $("#dialog-deactivate").dialog('open');

            return false;
        });

        $(".lnkActivate").click(function (e) {
            // e.preventDefault(); use this or return false
            url = $(this).attr('href');
            $("#dialog-activate").dialog('open');

            return false;
        });

    } );

</script>

<div id="dialog-activate" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        @Resources.Resources.AreYouSureToActivateUser
    </p>
</div>

<div id="dialog-deactivate" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        @Resources.Resources.AreYouSureToDeactivateUser
    </p>
</div>