@using InsuranceWebsite.Models
@using MVCGrid.Web
@model UsersManagementViewModel

@{
    ViewBag.Title = Resources.Resources.HomePageTitle;
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

@Styles.Render("~/Content/jsGrid")
@Scripts.Render("~/Scripts/jsGrid")

@Scripts.Render("~/bundles/jqueryval")

<!-- Timeline content -->

<div class="container">

    <div class="col-md-12 no-paddin-xs" style="background-color:#E4E7E8">

        <div class="row">

            @Html.Partial("~/Views/Home/Partial/SideNavBar.cshtml", Model)

            <div class="col-md-6 no-paddin-xs">
                <div class="row">
                    <div class="row">

                        <!-- Timeline content -->
                        <div class="container container-timeline" style="margin:15px;">
                            <div class="col-md-11 no-paddin-xs" style="background-color:white; padding:20px;width:90%">

                                <a href="@Url.Action("Create", "UsersManagement")" class='btn btn-success lnkCreate'>@Resources.Resources.CreateNewUser</a>
                                <p></p>

                                @Html.Partial("_MVCGridToolbar", new MVCGridToolbarModel()
                                {
                                    MVCGridName = "UsersManagementGrid",
                                    PageSize = true,
                                    ColumnVisibility = true,
                                    Export = true,
                                    GlobalSearch = true
                                })
                                @*@Html.MVCGrid("UsersManagementGrid")*@

                            </div>

                            <div class="col-md-11 no-paddin-xs" style="background-color:white; padding:20px;width:90%">
                                <div>@Html.Label(Resources.Resources.AllowedEmailDomains)</div>
                                @using (Html.BeginForm("SaveAllowedEmailsDomains", "UsersManagement", null, FormMethod.Post, new { @class = "form-horizontal", role = "form", id="authorizedEmailForm" }))
                                {
                                    <div style="display:flex;">
                                        @Html.ListBoxFor(m => m.SelectedAllowedEmails, new MultiSelectList(Model.AllowedEmails, "Text", "Text"), new { @class = "form-control listbox", id = "emailListbox" })
                                        <div style="padding-left:20px;">
                                            <div style="display:flex">
                                                @Html.TextBox("Email", null, new { id = "emailDomainTextbox", @class = "form-control" })
                                                <input type="button" class="btn btn-primary" value="@Resources.Resources.AddEmailOrDomain" id="addEmailDomain" />
                                            </div>
                                            <div><input type="button" class="btn btn-warning" value="@Resources.Resources.RemoveEmailOrDomain" id="removeEmailDomain" /></div>
                                            <div><input type="submit" class="btn btn-success" value="@Resources.Resources.Save" id="saveEmailDomain" /></div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--end right  content-->

        </div>

    </div>

</div><!-- end timeline content-->

<style>
    .listbox {
        /* display: block; */
        width: 200px;
        height: 150px;
    }
</style>

<script>
    $(document).ready(function () {
        var url = "";

        $("#addEmailDomain").click(function () {
            if ($('#emailDomainTextbox').val() == null || $('#emailDomainTextbox').val() == '')
                return;

            $('#emailListbox').append('<option value="' + $('#emailDomainTextbox').val() + '">' + $('#emailDomainTextbox').val() + '</option>');
            $('#emailDomainTextbox').val('');
        });

        $('#removeEmailDomain').click(function () {
            $("#emailListbox option:selected").remove();
        });

        $("#authorizedEmailForm").submit(function (e) {
            $("#emailListbox option").attr("selected", "selected");
        });

        $("#dialog-alert").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");

                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        if ('@TempData["msg"]' != "") {
            $("#dialog-alert").dialog('open');
        }

        $("#dialog-edit").dialog({
            title: 'Create User',
            autoOpen: false,
            resizable: false,
            width: 400,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                //$(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            },
            buttons: {
                "@Resources.Resources.Save": function () { $("#dialog-edit").find("form").submit(); }/*,
                Cancel: function() {
                    $("#dialog-edit").dialog("close");
                }*/
            },
            close: function () {
                form[0].reset();
                allFields.removeClass("ui-state-error");
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog-detail").dialog({
            title: 'View User',
            autoOpen: false,
            resizable: false,
            width: 400,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            },
            buttons: {
                "Close": function () {
                    $(this).dialog("close");
                }
            }
        });

        $(".lnkCreate").click(function (e) {
            e.preventDefault(); //use this or return false
            url = $(this).attr('href');
            $(".ui-dialog-title").html("@Resources.Resources.CreateNewUser");
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkEdit").click(function (e) {
            e.preventDefault(); //use this or return false
            url = $(this).attr('href');
            $(".ui-dialog-title").html("@Resources.Resources.EditUser");
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").click(function (e) {
            // e.preventDefault(); use this or return false
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            $('.date-picker').datepicker();

            return false;
        });

        $(".lnkDetail").click(function (e) {
            // e.preventDefault(); use this or return false
            url = $(this).attr('href');
            $("#dialog-detail").dialog('open');

            return false;
        });

        $("#btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });

        $('.date-picker').datepicker();
    });
</script>

<div id="dialog-alert" style="display: none">
    <p>
        @TempData["msg"]!
    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        @Resources.Resources.AreYouSureToDelete
    </p>
</div>

<div id="dialog-edit" style="display: none">
</div>

<div id="dialog-detail" style="display: none">
</div>
