@using InsuranceWebsite.Models
@using MVCGrid.Web
@model UsersManagementViewModel

@{
    ViewBag.Title = Resources.Resources.HomePageTitle;
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

@Styles.Render("~/Content/jsGrid")
@Scripts.Render("~/Scripts/jsGrid")

@Scripts.Render("~/bundles/jqueryval")

<!-- Timeline content -->

<div class="container">

    <div class="col-md-12 no-paddin-xs" style="background-color:#E4E7E8">

        <div class="row">

            @Html.Partial("~/Views/Home/Partial/SideNavBar.cshtml", Model)

            <div class="col-md-6 no-paddin-xs">
                <div class="row">
                    <div class="row">

                        <!-- Timeline content -->
                        <div class="container container-timeline" style="margin:15px;">
                            <div class="col-md-11 no-paddin-xs" style="background-color:white; padding:20px;width:90%">

                                <a href="@Url.Action("Create", "UsersManagement")" class='btn btn-success lnkCreate'>@Resources.Resources.CreateNewUser</a>
                                <p></p>

                                @Html.Partial("_MVCGridToolbar", new MVCGridToolbarModel()
                                {
                                    MVCGridName = "UsersManagementGrid",
                                    PageSize = true,
                                    ColumnVisibility = true,
                                    Export = true,
                                    GlobalSearch = true
                                })
                                @Html.MVCGrid("UsersManagementGrid")

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--end right  content-->

        </div>

    </div>

</div><!-- end timeline content-->

<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-alert").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");

                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        if ('@TempData["msg"]' != "") {
            $("#dialog-alert").dialog('open');
        }

        $("#dialog-edit").dialog({
            title: 'Create User',
            autoOpen: false,
            resizable: false,
            width: 400,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                //$(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            },
            buttons: {
                "@Resources.Resources.Save": function () { $("#dialog-edit").find("form").submit(); }/*,
                Cancel: function() {
                    $("#dialog-edit").dialog("close");
                }*/
            },
            close: function() {
                form[ 0 ].reset();
                allFields.removeClass( "ui-state-error" );
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog-detail").dialog({
            title: 'View User',
            autoOpen: false,
            resizable: false,
            width: 400,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            },
            buttons: {
                "Close": function () {
                    $(this).dialog("close");
                }
            }
        });

        $(".lnkCreate").click(function (e) {
            e.preventDefault(); //use this or return false
            url = $(this).attr('href');
            $(".ui-dialog-title").html("@Resources.Resources.CreateNewUser");
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkEdit").click(function (e) {
            e.preventDefault(); //use this or return false
            url = $(this).attr('href');
            $(".ui-dialog-title").html("@Resources.Resources.EditBanner");
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").click(function (e) {
            // e.preventDefault(); use this or return false
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            $('.date-picker').datepicker();

            return false;
        });

        $(".lnkDetail").click(function (e) {
            // e.preventDefault(); use this or return false
            url = $(this).attr('href');
            $("#dialog-detail").dialog('open');

            return false;
        });

        $("#btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });

        $('.date-picker').datepicker();
    });
</script>

<div id="dialog-alert" style="display: none">
    <p>
        @TempData["msg"]!
    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
</div>

<div id="dialog-detail" style="display: none">
</div>

@Html.Partial("~/Views/Home/Partial/Footer.cshtml", Model)




@*<script>
    
    $("#jsGrid").jsGrid({
        //width: "100%",
        height: "400px",

        filtering: true,
        inserting: true,
        editing: false,
        sorting: true,
        paging: true,
        autoload: true,

        loadIndication: true,
        loadIndicationDelay: 100,
        loadMessage: "Por favor, aguarde...",
        loadShading: true,

        pagerContainer: null,
        pageIndex: 1,
        pageSize: 20,
        pageButtonCount: 5,
        pagerFormat: "Pages: {first} {prev} {pages} {next} {last}    {pageIndex} of {pageCount}",
        pagePrevText: "Prev",
        pageNextText: "Next",
        pageFirstText: "First",
        pageLastText: "Last",
        pageNavigatorNextText: "...",
        pageNavigatorPrevText: "...",

        rowClick: function (args) {
            var $row = this.rowByItem(args.item);
            $row.toggleClass("highlight");
        },

        deleteConfirm: "Do you really want to delete the user?",

        controller: {
            loadData: function (filter) {
                return $.ajax({
                    type: "GET",
                    url: "/usersmanagement/get",
                    data: "",
                    dataType: "json"
                });
            },

            insertItem: function (item) {
                return $.ajax({
                    type: "POST",
                    url: "/api/data",
                    data: item,
                    dataType: "json"
                });
            },

            //updateItem: function (item) {
            //    return $.ajax({
            //        type: "PUT",
            //        url: "/api/data/" + item.ID,
            //        data: item,
            //        dataType: "json"
            //    });
            //},

            deleteItem: function (item) {
                return $.ajax({
                    type: "DELETE",
                    url: "/api/data/" + item.ID,
                    dataType: "json"
                });
            }
        },

        fields: [
            { name: "User.UserName", type: "text", validate: "required", title: "@Resources.Resources.Username" },
            { name: "FirstName", type: "text", validate: "required" },
            { name: "LastName", type: "text", validate: "required" },
            //{ name: "CreateDate", type: "date", width: 50, formatter: "date", formoptions: { rowpos: 3, colpos: 1 }, formatoptions: { srcformat: "ISO8601Long", newformat: "m/d/Y h:i A" } },
            { name: "Active", type: "checkbox", title: "Active", sorting: false },
            { type: "control",
                itemTemplate: function(value, item) {
                    var $result = $([]);

                    $result = $result.add(this._createDeleteButton(item));
        
                    return $result;
                } 
            }
        ]
    });
</script>*@