@using InsuranceWebsite.Models
@using MVCGrid.Web
@model UsersManagementViewModel

@{
    ViewBag.Title = Resources.Resources.HomePageTitle;
}

@Styles.Render("~/Content/jsGrid")
@Scripts.Render("~/Scripts/jsGrid")

@*@Html.Partial("~/Views/Home/Partial/NavBar.cshtml", Model)*@

<!-- Timeline content -->

<div class="container" @*style="margin-top:50px;"*@>

    <div class="col-md-12 no-paddin-xs" style="background-color:gainsboro">

        <div class="row">

            @Html.Partial("~/Views/Home/Partial/SideNavBar.cshtml", Model)

            <div class="col-md-6 no-paddin-xs">
                <div class="row">
                    <div class="row">

                        <!-- Timeline content -->
                        <div class="container container-timeline" style="margin:15px;">
                            <div class="col-md-11 no-paddin-xs" style="background-color:white; padding:20px;width:90%">

                                @*<div id="jsGrid"></div>*@

                                @Html.Partial("_MVCGridToolbar", new MVCGridToolbarModel()
                                {
                                    MVCGridName = "UsersManagementGrid",
                                    PageSize = true,
                                    ColumnVisibility = true,
                                    Export = true,
                                    GlobalSearch = true
                                })
                                @Html.MVCGrid("UsersManagementGrid")

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--end right  content-->

        </div>

    </div>

</div><!-- end timeline content-->

@Html.Partial("~/Views/Home/Partial/Footer.cshtml", Model)

<script>
    
    $("#jsGrid").jsGrid({
        //width: "100%",
        height: "400px",

        filtering: true,
        inserting: true,
        editing: false,
        sorting: true,
        paging: true,
        autoload: true,

        loadIndication: true,
        loadIndicationDelay: 100,
        loadMessage: "Por favor, aguarde...",
        loadShading: true,

        pagerContainer: null,
        pageIndex: 1,
        pageSize: 20,
        pageButtonCount: 5,
        pagerFormat: "Pages: {first} {prev} {pages} {next} {last}    {pageIndex} of {pageCount}",
        pagePrevText: "Prev",
        pageNextText: "Next",
        pageFirstText: "First",
        pageLastText: "Last",
        pageNavigatorNextText: "...",
        pageNavigatorPrevText: "...",

        rowClick: function (args) {
            var $row = this.rowByItem(args.item);
            $row.toggleClass("highlight");
        },

        deleteConfirm: "Do you really want to delete the user?",

        controller: {
            loadData: function (filter) {
                return $.ajax({
                    type: "GET",
                    url: "/usersmanagement/get",
                    data: "",
                    dataType: "json"
                });
            },

            insertItem: function (item) {
                return $.ajax({
                    type: "POST",
                    url: "/api/data",
                    data: item,
                    dataType: "json"
                });
            },

            //updateItem: function (item) {
            //    return $.ajax({
            //        type: "PUT",
            //        url: "/api/data/" + item.ID,
            //        data: item,
            //        dataType: "json"
            //    });
            //},

            deleteItem: function (item) {
                return $.ajax({
                    type: "DELETE",
                    url: "/api/data/" + item.ID,
                    dataType: "json"
                });
            }
        },

        fields: [
            { name: "User.UserName", type: "text", validate: "required", title: "@Resources.Resources.Username" },
            { name: "FirstName", type: "text", validate: "required" },
            { name: "LastName", type: "text", validate: "required" },
            //{ name: "CreateDate", type: "date", width: 50, formatter: "date", formoptions: { rowpos: 3, colpos: 1 }, formatoptions: { srcformat: "ISO8601Long", newformat: "m/d/Y h:i A" } },
            { name: "Active", type: "checkbox", title: "Active", sorting: false },
            { type: "control",
                itemTemplate: function(value, item) {
                    var $result = $([]);

                    $result = $result.add(this._createDeleteButton(item));
        
                    return $result;
                } 
            }
        ]
    });
</script>