@using InsuranceWebsite.Models
@using InsuranceSocialNetworkBusiness
@using InsuranceSocialNetworkCore.Enums
@using InsuranceSocialNetworkDTO.Post;
@model HomeViewModel

@{
    ViewBag.Title = Resources.Resources.ProfilePageTitle;
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript" src="~/Scripts/jquery.expander.js"></script>
<script src="~/Scripts/linkItUp.js"></script>

@Html.Partial("~/Views/Home/Partial/NavBar.cshtml", Model)

<style>
    .search-sub-title {
        text-transform: uppercase;
        color: #00C1DE;
        font-weight: bold;
        font-size: 9px;
        margin-top: 5px;
    }

    .search-company-logo {
        max-width: 130px;
        max-height: 80px;
        float: left;
        margin-right: 15px;
    }

    .search-result {
        padding: 2px 2px 0px 2px;
        /*border-bottom: solid 5px lightgray;*/
        border-top: solid 10px #BDC6C9;
        margin-bottom: 10px;
        /*margin-top: 10px;*/
        /*border-top: solid 0.5px lightgrey;*/
    }

    .search-result-title {
        display: block;
        width: 100%;
        padding-bottom: 10px;
    }

    .search-result-contacts {
        width: 100%;
        display: inline-flex;
        font-size: 9px;
        padding: 20px 0px;
        border-top: solid 0.5px lightgrey;
    }

    .search-result-details {
        border-top: solid 0.5px lightgrey;
        font-size: 9px;
    }

    .search-result-icon {
        max-width: 30px;
        max-height: 30px;
    }

    .stats {
        padding-top: 10px;
    }

    .stat-item {
        padding-right: 40px;
        cursor: pointer;
        margin: 0px !important;
    }
</style>

<!-- Timeline content -->
<div class="container">

    <div class="col-md-12 no-paddin-xs directory-info-row" style="background-color:#BDC6C9;max-height:100vh;">

        <div class="row" style="display:flex;max-height:100vh;">

            @Html.Partial("~/Views/Home/Partial/SideNavBar.cshtml", Model)

            <!-- right  content-->

            <div class="profile-info col-md-6 animated fadeInUp" style="overflow:auto;">

                @Html.Partial("./Partial/TopBannerPartialView", Model)

                @using (Html.BeginForm("SearchAprosePosts", "Home", FormMethod.Post, new { id = "searchForm" }))
                {
                    <div class="panel topPanel panel-white post panel-shadow animated fadeInUp" style="margin-bottom:3px;height:80px;">
                        <div class="post-heading" style="padding: 10px 15px;">
                            <div class="title" style="border:0px;background-color:inherit; font-weight:bold; font-size: 17px; overflow: auto;">
                                <div class="pull-left image" style="max-width:60px;">
                                    <img src="~/Content/icons/129.png" class="avatar img-circle" style="border:none;height:60px; width:60px;border-radius:0px;">
                                </div>

                                <div style="float:left; padding-top:8px;width: calc(100% - 110px);">@Html.TextBoxFor(m => m.SearchModel.SearchTerm, new { @class = "form-control", @placeholder = Resources.Resources.SearchAprosePosts, @style = "padding:18px;border-radius:0px;border:0px;box-shadow: none;font-weight:normal;" })</div>
                                <div style="float:right; max-width: 105px;">
                                    <a onclick="document.getElementById('searchForm').submit();">
                                        <img src="~/Content/icons/icone_pesquisa_rede_social_falar_seguros_AF.png" style="max-width:50px;" />
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                }

                @if (InsuranceBusiness.BusinessLayer.IsUserAuthorizedToFunctionality(this.User.Identity.Name, Functionality.NEW_CURRENT_DISCUSSION_FUNCTIONALITY.ToString()))
                {
                    <div class="panel" style="margin-bottom:0px;">
                        @using (Html.BeginForm("NewAprosePost", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                        @Html.HiddenFor(m => m.Profile.ID_User)
                        @Html.HiddenFor(m => m.Profile.ID)

                        <input type="text" placeholder="@Resources.Resources.Title" rows="2" class="form-control input-lg p-text-area" id="postTitleTextarea" name="postTitleTextarea" />

                        <textarea placeholder="@Resources.Resources.NewAprosePost" rows="2" class="form-control input-lg p-text-area" id="postContentTextarea" name="postContentTextarea"></textarea>
                        <img id="imgPlaceholder"  alt="" style="visibility:hidden;position:absolute" />
                        <div class="panel-footer" style="border-top: 0px; padding: 10px 10px">
                            <button class="btn btn-info pull-right">@Resources.Resources.Publish</button>
                            <ul class="nav nav-pills">
                                <li>
                                    <input type='file' id="imgUpload" style="visibility:hidden;position:absolute" name="imgUpload" />
                                    <a href="javascript:$('#imgUpload').click()" style="padding: 7px 10px">
                                        <img src="~/Content/icons/home_page_rede_social_falar_seguros_AF110.png" class="icon-normal" />
                                    </a>
                                </li>
                                <li>
                                    <input type='file' id="fileUpload" style="visibility:hidden;position:absolute" name="fileUpload" />
                                    <a href="javascript:$('#fileUpload').click()" style="padding: 7px 10px">
                                        <img src="~/Content/icons/home_page_rede_social_falar_seguros_AF111.png" class="icon-normal" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        }
                    </div>
                }

                <div style="background-color:white;">

                    @if (null == Model.Posts || Model.Posts.Count == 0)
                    {
                        <div class="col-md-12 alert alert-info" style="text-align:center">
                            @Resources.Resources.NoAprosePosts
                        </div>
                    }
                    else
                    {
                        foreach (var post in Model.Posts)
                        {
                            <div class="search-result post" >
                                <div class="search-result-title">

                                    @if (post.PostType.Token == PostTypeEnum.IMAGE_POST.ToString())
                                    {
                                        @*<div style="width:100%;text-align:center;">
                                                <img class="" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(post.PostImage[0].Image))" style="max-height:500px;" />
                                            </div>*@

                                        <div class="post-image">
                                            <div id="gallery_@post.ID" class="image show-in-modal"></div>
                                            <script>
                                                $(function () {

                                                    $('#gallery_'+@post.ID).imagesGrid({
                                                        images: [
                                                            {
                                                                src: '@post.ImageSource'
                                                            }
                                                        ],
                                                        align: true,
                                                        getViewAllText: function (imgsCount) { return 'View all' }
                                                    });
                                                });
                                            </script>
                                        </div>
                                    }

                                    <div style="display:block;padding: 20px 30px 0px 30px;width:100%;">
                                        <div style="font-weight:bold;font-size:16px;padding-bottom:10px;">@post.Title</div>

                                        <div style="display:flex;">
                                            @if (post.PostType.Token == InsuranceSocialNetworkCore.Enums.PostTypeEnum.FILE_POST.ToString())
                                            {
                                                <a href="@Url.Action("Download", "Home", new { id = post.ID })">
                                                    <img src="~/Content/icons/icons_mensagens_rede_social_falar_seguros_AF10.png" style="max-width:60px;" />
                                                </a>
                                                <div class="readmore" style="font-size:12px;text-align:justify;padding-top:20px;">@post.Text</div>
                                            }
                                            else
                                            {
                                                <div class="readmore" style="font-size:12px;text-align:justify">@post.Text</div>
                                            }
                                        </div>

                                        @*@if (post.Text.Length > 150)
                                            {
                                                <span style="font-size:12px;">@post.Text.Substring(0, 150)</span>
                                                                <span>...</span>
                                            }
                                            else
                                            {
                                                <span style="font-size:12px;">@post.Text</span>
                                            }*@
                                    </div>
                                </div>

                                <div class="post-description" style="padding: 0px 20px 0px 20px;">

                                    <div class="stats" style="display:flex;">

                                        @if (null != post.PostLike && post.PostLike.Count > 0 && post.PostLike.Exists(i => i.ID_User == Model.Profile.ID_User))
                                        {
                                            <a onclick="UnlikePost(this, @post.ID, @post.PostLike.Count)" class="stat-item" id="unlikePost" style="color:#00C1DE;min-width: 50px;">
                                                <img class="post-icon" src="~/Content/icons/icons_diretorios_rede_social_falar_seguros_AF3.png" /><span style="padding-left: 8px;color:#4B5C66;font-size: 10px;">@post.PostLike.Count</span>
                                            </a>
                                        }
                                        else if (null != post.PostLike && post.PostLike.Count > 0)
                                        {
                                            <a onclick="LikePost(this, @post.ID, @post.PostLike.Count)" class="stat-item" id="likePost" style="min-width: 50px;">
                                                <img class="post-icon" src="~/Content/icons/icons_diretorios_rede_social_falar_seguros_AF2.png" /><span style="padding-left: 8px;color:#4B5C66;font-size: 10px;">@post.PostLike.Count</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a onclick="LikePost(this, @post.ID, @post.PostLike.Count)" class="stat-item" style="min-width: 50px;">
                                                <img class="post-icon" src="~/Content/icons/icons_diretorios_rede_social_falar_seguros_AF2.png" />
                                            </a>
                                        }

                                        @if (null != post.PostComment && post.PostComment.Count > 0)
                                        {
                                            <a class="stat-item" style="cursor:default;min-width: 50px;">
                                                <img class="post-icon" src="~/Content/icons/home_page_rede_social_falar_seguros_AF121.png" /><span style="padding-left: 8px;color:#4B5C66;font-size: 10px;">@post.PostComment.Count</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="stat-item" style="cursor:default;min-width: 50px;">
                                                <img class="post-icon" src="~/Content/icons/home_page_rede_social_falar_seguros_AF121.png" />
                                            </a>
                                        }

                                        @*<a class="stat-item" href="@Url.Action("AproseDetails", "Home", new { id=post.ID })">
                                                <img class="post-icon" src="~/Content/icons/icons_perfil_rede_social_falar_seguros_v27.png" />
                                            </a>*@
                                    </div>
                                </div>

                                <div class="post-footer" style="padding: 0px 20px 0px 20px;">

                                    @if (null != post.PostComment && post.PostComment.Count > 0)
                                    {
                                        <ul class="comments-list" style="padding-left:0px;">

                                            @foreach (PostCommentDTO comment in post.PostComment)
                                            {
                                                <li class="comment">

                                                    <a class="pull-left" href="@Url.Action("ProfileInfo", "Home", new { id = comment.CommentOwner.ID })">

                                                        @if (null != comment.CommentOwner.ProfilePhoto && comment.CommentOwner.ProfilePhoto.Length > 0)
                                                        {
                                                            <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(comment.CommentOwner.ProfilePhoto))" class="avatar" alt="user profile image">
                                                        }
                                                        else
                                                        {
                                                            <img src="~/Content/images/no_photo_img.jpg" class="avatar" alt="user profile image">
                                                        }

                                                    </a>

                                                    <div class="comment-body" style="font-size:12px">

                                                        <h6 class="comment-user-name"><a href="@Url.Action("ProfileInfo", "Home", new { id = comment.CommentOwner.ID })">@comment.CommentOwner.FirstName</a></h6> <span>@comment.Text</span>

                                                        <div class="comment-heading">

                                                            @if (DateTime.Now.Subtract(comment.Date).TotalMinutes < 1)
                                                            {
                                                                <h6 class="time">@Math.Round(DateTime.Now.Subtract(comment.Date).TotalSeconds, 0) @Resources.Resources.SecondsAgo</h6>
                                                            }
                                                            else if (DateTime.Now.Subtract(comment.Date).TotalHours < 1)
                                                            {
                                                                <h6 class="time">@Math.Round(DateTime.Now.Subtract(comment.Date).TotalMinutes, 0) @Resources.Resources.MinutesAgo</h6>
                                                            }
                                                            else if (DateTime.Now.Subtract(comment.Date).TotalDays < 1)
                                                            {
                                                                <h6 class="time">@Math.Round(DateTime.Now.Subtract(comment.Date).TotalHours, 0) @Resources.Resources.HoursAgo</h6>
                                                            }
                                                            else if (DateTime.Now.Subtract(comment.Date).TotalDays == 1)
                                                            {
                                                                <h6 class="text-muted time">@Math.Round(DateTime.Now.Subtract(comment.Date).TotalDays, 0) @Resources.Resources.DayAgo</h6>
                                                            }
                                                            else if (DateTime.Now.Subtract(comment.Date).TotalDays < 3)
                                                            {
                                                                <h6 class="time">@Math.Round(DateTime.Now.Subtract(comment.Date).TotalDays, 0) @Resources.Resources.DaysAgo</h6>
                                                            }
                                                            else
                                                            {
                                                                <h6 class="time">@comment.Date.ToShortDateString()</h6>
                                                            }

                                                        </div>
                                                    </div>

                                                </li>
                                            }

                                        </ul>
                                    }

                                    @using (Html.BeginForm("NewComment", "Home", FormMethod.Post, new { @class = "commentForm" }))
                                    {
                                        <input type="hidden" id="postId" name="postId" value="@post.ID" />
                                        <input id="postNewComment" name="postNewComment" class="form-control add-comment-input" placeholder="@Resources.Resources.AddComment" type="text" style="border:none;padding-left:0px;" />
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>

            </div>

            <!--end right  content-->

            @Html.Partial("~/Views/Home/Partial/RightBar.cshtml", Model)

        </div>

    </div>

</div><!-- end timeline content-->

<script type="text/javascript">

    $(function () {

        $(".comment-body").linkify({ target: "_blank" });

        $('.readmore').expander({
            slicePoint: 500,
            expandText: '@Resources.Resources.ReadMore',
            userCollapseText: '@Resources.Resources.ReadLess'
        });
    });

    function LikePost(object, postId, likesCount) {
        object.style.color = "#00C1DE";
        object.innerHTML = "<img class=\"post-icon\" src=\"/Content/icons/icons_diretorios_rede_social_falar_seguros_AF3.png\" /><span style=\"padding-left: 8px;color:#4B5C66;font-size: 10px;\">" + (likesCount+1) + "</span>";
        likesCount = likesCount + 1;
        object.onclick = function() { UnlikePost(object, postId, likesCount); }

        jQuery.post('@Url.Action("LikePost", "Home")',
                { postId: postId }
            )
            .done(function (data) {
            })
            .fail(function () {
            });
    }

    function UnlikePost(object, postId, likesCount) {
        object.style.color = "#7f7f7f";
        if(likesCount <= 1)
        {
            object.innerHTML = "<img class=\"post-icon\" src=\"/Content/icons/icons_diretorios_rede_social_falar_seguros_AF2.png\" />";
        }
        else
        {
            object.innerHTML = "<img class=\"post-icon\" src=\"/Content/icons/icons_diretorios_rede_social_falar_seguros_AF2.png\" /><span style=\"padding-left: 8px;color:#4B5C66;font-size: 10px;\">" + (likesCount-1) + "</span>";
        }
        if(likesCount > 0)
        {
            likesCount = likesCount - 1;
        }
        object.onclick = function() { LikePost(object, postId, likesCount); }

        jQuery.post('@Url.Action("UnlikePost", "Home")',
                { postId: postId }
            )
            .done(function (data) {
            })
            .fail(function () {
            });
    }
</script>
