@using InsuranceWebsite.Models
@using InsuranceSocialNetworkBusiness
@using InsuranceSocialNetworkCore.Enums
@model HomeViewModel

@{
    ViewBag.Title = Resources.Resources.ProfilePageTitle;
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript" src="~/Scripts/jquery.expander.js"></script>

@Html.Partial("~/Views/Home/Partial/NavBar.cshtml", Model)

<style>
    .search-sub-title {
        text-transform: uppercase;
        color: #00C1DE;
        font-weight: bold;
        font-size: 9px;
        margin-top: 5px;
    }

    .search-company-logo {
        max-width: 130px;
        max-height: 80px;
        float: left;
        margin-right: 15px;
    }

    .search-result {
        padding: 10px 20px 20px 20px;
        border-bottom: solid 2px lightgray;
        margin-bottom: 10px;
        margin-top: 10px;
        border-top: solid 0.5px lightgrey;
    }

    .search-result-title {
        display: inline-flex;
        width: 100%;
        padding-bottom: 10px;
    }

    .search-result-contacts {
        width: 100%;
        display: inline-flex;
        font-size: 9px;
        padding: 20px 0px;
        border-top: solid 0.5px lightgrey;
    }

    .search-result-details {
        border-top: solid 0.5px lightgrey;
        font-size: 9px;
    }

    .search-result-icon {
        max-width: 30px;
        max-height: 30px;
    }

    .stats {
        padding-top: 10px;
    }

    .stat-item {
        padding-right: 40px;
        cursor: pointer;
    }
</style>

<!-- Timeline content -->
<div class="container">

    <div class="col-md-12 no-paddin-xs directory-info-row" style="background-color:#BDC6C9">

        <div class="row" style="display:flex">

            @Html.Partial("~/Views/Home/Partial/SideNavBar.cshtml", Model)

            <!-- right  content-->

            <div class="profile-info col-md-6 animated fadeInUp">

                @Html.Partial("./Partial/TopBannerPartialView", Model)

                @if (InsuranceBusiness.BusinessLayer.IsUserAuthorizedToFunctionality(this.User.Identity.Name, Functionality.NEW_CURRENT_DISCUSSION_FUNCTIONALITY.ToString()))
                {
                    <div class="panel topPanel">
                        @using (Html.BeginForm("NewAsfPost", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.HiddenFor(m => m.Profile.ID_User)
                            @Html.HiddenFor(m => m.Profile.ID)

                            <input type="text" placeholder="@Resources.Resources.Title" rows="2" class="form-control input-lg p-text-area" id="postTitleTextarea" name="postTitleTextarea" />

                            <textarea placeholder="@Resources.Resources.NewAsfPost" rows="2" class="form-control input-lg p-text-area" id="postContentTextarea" name="postContentTextarea"></textarea>
                            <img id="imgPlaceholder" src="#" alt="" style="visibility:hidden;position:absolute" />
                            <div class="panel-footer" style="border-top: 0px; padding: 5px 15px">
                                <button class="btn btn-info pull-right">@Resources.Resources.Publish</button>
                                <ul class="nav nav-pills">
                                    <li>
                                        <input type='file' id="imgUpload" style="visibility:hidden;position:absolute" name="imgUpload" />
                                        <a href="javascript:$('#imgUpload').click()" style="padding: 7px 10px"><i class="fa fa-camera"></i></a>
                                    </li>
                                    <li>
                                        <input type='file' id="fileUpload" style="visibility:hidden;position:absolute" name="fileUpload" />
                                        <a href="javascript:$('#fileUpload').click()" style="padding: 7px 10px"><i class="fa fa-paperclip"></i></a>
                                    </li>
                                </ul>
                            </div>
                        }
                    </div>

                }

                <div style="background-color:white;">

                    <div style="border-bottom: solid 0.5px lightgrey;">
                        <img src="~/Content/icons/129.png" style="max-width:60px;" />
                        <span style="font-weight:bold">@Resources.Resources.ASF</span>
                        <a href="@Url.Action("Index", "Home")">
                            <img class="post-icon" src="~/Content/icons/136.png" style="float: right;margin-right: 20px;margin-top: 13px;" />
                        </a>
                    </div>

                    @if (null == Model.Posts || Model.Posts.Count == 0)
                    {
                        <div class="col-md-12 alert alert-info" style="text-align:center">
                            @Resources.Resources.NoAfsPosts
                        </div>
                    }
                    else
                    {
                        foreach (var post in Model.Posts)
                        {
                            <div class="search-result" href="#" style="border-top:none;">
                                <div class="search-result-title">

                                    @if (post.PostType.Token == PostTypeEnum.IMAGE_POST.ToString())
                                    {
                                        <img class="search-company-logo" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(post.PostImage[0].Image))" />
                                    }
                                    else if (post.PostType.Token == InsuranceSocialNetworkCore.Enums.PostTypeEnum.FILE_POST.ToString())
                                    {
                                        <a href="@Url.Action("Download", "Home", new { id = post.ID })"><i class="fa fa-file-text-o" aria-hidden="true" style="font-size:30px;padding-left: 15px;padding-right:10px;"></i></a>
                                    }
                                    <div style="display:block;padding: 0px;width:100%;">
                                        <div style="font-weight:bold;">@post.Title</div>

                                        <div class="readmore" style="font-size:12px;text-align:justify">@post.Text</div>

                                        @*@if (post.Text.Length > 150)
                                        {
                                            <span style="font-size:12px;">@post.Text.Substring(0, 150)</span>
                                                            <span>...</span>
                                        }
                                        else
                                        {
                                            <span style="font-size:12px;">@post.Text</span>
                                        }*@
                                    </div>
                                </div>
                                <div class="post-description" style="border-top: 1px solid #eee;">

                                    <div class="stats">

                                        @if (null != post.PostLike && post.PostLike.Count > 0 && post.PostLike.Exists(i => i.ID_User == Model.Profile.ID_User))
                                        {
                                            <a onclick="UnlikePost(this, @post.ID, @post.PostLike.Count)" class="stat-item" id="unlikePost" style="color:#00C1DE">
                                                <img class="post-icon" src="~/Content/icons/icons_diretorios_rede_social_falar_seguros_AF3.png" /><span style="padding-left: 8px;color:#4B5C66;font-size: 10px;">@post.PostLike.Count</span>
                                            </a>
                                        }
                                        else if (null != post.PostLike && post.PostLike.Count > 0)
                                        {
                                            <a onclick="LikePost(this, @post.ID, @post.PostLike.Count)" class="stat-item" id="likePost">
                                                <img class="post-icon" src="~/Content/icons/icons_diretorios_rede_social_falar_seguros_AF2.png" /><span style="padding-left: 8px;color:#4B5C66;font-size: 10px;">@post.PostLike.Count</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a onclick="LikePost(this, @post.ID, @post.PostLike.Count)" class="stat-item">
                                                <img class="post-icon" src="~/Content/icons/icons_diretorios_rede_social_falar_seguros_AF2.png" />
                                            </a>
                                        }

                                        @if (null != post.PostComment && post.PostComment.Count > 0)
                                        {
                                            <a class="stat-item" style="cursor:default;">
                                                <img class="post-icon" src="~/Content/icons/home_page_rede_social_falar_seguros_AF121.png" /><span style="padding-left: 8px;color:#4B5C66;font-size: 10px;">@post.PostComment.Count</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="stat-item" style="cursor:default;">
                                                <img class="post-icon" src="~/Content/icons/home_page_rede_social_falar_seguros_AF121.png" />
                                            </a>
                                        }

                                        <a class="stat-item" href="@Url.Action("AsfDetails", "Home", new { id=post.ID })">
                                            <img class="post-icon" src="~/Content/icons/icons_perfil_rede_social_falar_seguros_v27.png" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>

            </div>

            <!--end right  content-->

            @Html.Partial("~/Views/Home/Partial/RightBar.cshtml", Model)

        </div>

    </div>

</div><!-- end timeline content-->

<script type="text/javascript">

    $(function () {
        $('.readmore').expander({
            slicePoint: 500,
            expandText: '@Resources.Resources.ReadMore',
            userCollapseText: '@Resources.Resources.ReadLess'
        });
    });

    function LikePost(object, postId, likesCount) {
        object.style.color = "#00C1DE";
        object.innerHTML = "<img class=\"post-icon\" src=\"/Content/icons/icons_diretorios_rede_social_falar_seguros_AF3.png\" /><span style=\"padding-left: 8px;color:#4B5C66;font-size: 10px;\">" + (likesCount+1) + "</span>";
        likesCount = likesCount + 1;
        object.onclick = function() { UnlikePost(object, postId, likesCount); }

        jQuery.post('@Url.Action("LikePost", "Home")',
                { postId: postId }
            )
            .done(function (data) {
            })
            .fail(function () {
            });
    }

    function UnlikePost(object, postId, likesCount) {
        object.style.color = "#7f7f7f";
        if(likesCount <= 1)
        {
            object.innerHTML = "<img class=\"post-icon\" src=\"/Content/icons/icons_diretorios_rede_social_falar_seguros_AF2.png\" />";
        }
        else
        {
            object.innerHTML = "<img class=\"post-icon\" src=\"/Content/icons/icons_diretorios_rede_social_falar_seguros_AF2.png\" /><span style=\"padding-left: 8px;color:#4B5C66;font-size: 10px;\">" + (likesCount-1) + "</span>";
        }
        if(likesCount > 0)
        {
            likesCount = likesCount - 1;
        }
        object.onclick = function() { LikePost(object, postId, likesCount); }

        jQuery.post('@Url.Action("UnlikePost", "Home")',
                { postId: postId }
            )
            .done(function (data) {
            })
            .fail(function () {
            });
    }
</script>
