@using InsuranceWebsite.Models
@using InsuranceSocialNetworkDTO.UserProfile
@model FriendsViewModel

@{
    ViewBag.Title = Resources.Resources.ProfilePageTitle;
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

@Html.Partial("~/Views/Home/Partial/NavBar.cshtml", Model)

<!-- Timeline content -->
<div class="container">

    <div class="col-md-12 no-paddin-xs" style="background-color:ghostwhite">

        <div class="row" style="display:flex">

            @Html.Partial("~/Views/Home/Partial/SideNavBar.cshtml", Model)

            <!-- right  content-->

            <div class="profile-info col-md-12 animated fadeInUp">

                @*<div class="alert alert-info">
                    <strong>Info:</strong> Esta página ainda está em desenvolvimento.
                </div>*@

                @foreach (UserProfileDTO friend in Model.Friends)
                {
                    <div class="col-md-3">

                        <div class="panel widget">

                            <div class="widget-header bg-purple">

                                <img class="widget-bg img-responsive" src="img/Photos/1.jpg" alt="Image">

                            </div>

                            <div class="widget-body text-center">

                                <img alt="Profile Picture" class="widget-img img-border-light" src="img/Friends/woman-1.jpg">

                                <h4 class="mar-no">@friend.FirstName @friend.LastName</h4>

                                <p class="text-muted mar-btm">@friend.User.UserName</p>



                                <ul class="list-unstyled text-center pad-top mar-no clearfix">

                                    <li class="col-xs-4">

                                        <span class="text-lg">1,345</span>

                                        <p class="text-muted text-uppercase">

                                            <small>Following</small>

                                        </p>

                                    </li>

                                    <li class="col-xs-4">

                                        <span class="text-lg">23,456</span>

                                        <p class="text-muted text-uppercase">

                                            <small>Followers</small>

                                        </p>

                                    </li>

                                    <li class="col-xs-4">

                                        <span class="text-lg">52,678</span>

                                        <p class="text-muted text-uppercase">

                                            <small>Likes</small>

                                        </p>

                                    </li>

                                </ul>

                            </div>

                        </div>

                    </div>
                }

            </div>

            <!--end right  content-->

        </div>

    </div>

</div><!-- end timeline content-->

<!-- Timeline content -->
@*<div class="container">

    <div class="col-md-12 no-paddin-xs" style="background-color:ghostwhite">

        <div class="row" style="display:flex">

            <hr>

            

        </div>

    </div>

</div>*@<!--End Timeline content -->

@Html.Partial("~/Views/Home/Partial/Footer.cshtml", Model)
