@using InsuranceWebsite.Models
@using InsuranceSocialNetworkDTO.UserProfile
@model HomeViewModel

@{
    ViewBag.Title = Resources.Resources.ProfilePageTitle;
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

@Html.Partial("~/Views/Home/Partial/NavBar.cshtml", Model)

<!-- Timeline content -->
<div class="container">

    <div class="col-md-12 no-paddin-xs directory-info-row" style="background-color:#BDC6C9">

        <div class="row" style="display:flex">

            @Html.Partial("~/Views/Home/Partial/SideNavBar.cshtml", Model)

            <!-- right  content-->

            <div class="profile-info col-md-6 animated fadeInUp">

                @Html.Partial("./Partial/TopBannerPartialView", Model)

                @using (Html.BeginForm("SearchUsers", "Home", FormMethod.Post, new { id = "searchForm" }))
                {
                    <div class="panel panel-white post panel-shadow animated fadeInUp" style="margin-bottom:0px;height:80px;">
                        <div class="post-heading" style="padding: 10px 15px;">
                            <div class="title" style="border:0px;background-color:inherit; font-weight:bold; font-size: 17px; overflow: auto;">
                                <div class="pull-left image" style="max-width:60px;">
                                    <img src="~/Content/icons/home_page_rede_social_falar_seguros_AF122.png" class="avatar img-circle" style="border:none;height:60px; width:60px;">
                                </div>

                                <div style="float:left; padding-top:8px;width: calc(100% - 125px);">@Html.TextBoxFor(m => m.SearchModel.SearchTerm, new { @class = "form-control", @placeholder = Resources.Resources.SearchByCompanyNameEmailLocality, @style = "padding:18px;border-radius:0px;border:0px;box-shadow: none;font-weight:normal;" })</div>
                                <div style="float:right; max-width: 50px;">
                                    <a href="#" onclick="document.getElementById('searchForm').submit();">
                                        <img src="~/Content/icons/icone_pesquisa_rede_social_falar_seguros_AF.png" />
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                }
                <div class="panel panel-white post panel-shadow animated fadeInUp" style="margin-bottom:2px;height:70px;background-color:#EDEFF0;">
                    <div class="post-heading" style="padding: 10px 15px;vertical-align:middle;">
                        <div class="pull-left" style="padding-top:12px;">
                            @if(Model.Friends.Count == 1)
                            {
                                <span style="font-size:16px;font-weight:bold;color:#4B5C66;">@Model.Friends.Count @Resources.Resources.Connection</span>
                            }
                            else
                            {
                                <span style="font-size:16px;font-weight:bold;color:#4B5C66;">@Model.Friends.Count @Resources.Resources.Connections</span>
                            }
                        </div>
                        <div style="float:right; padding-top:16px; display:table; font-size:11px; font-weight:bold;">
                            <div style="display:table-cell;">
                                <span style="color:#4B5C66;">@Resources.Resources.BlockedFriends</span>
                            </div>
                            <div style="display:table-cell;padding-left:10px;">
                                <span style="color:#00C1DE;">@Resources.Resources.SearchNewFriends</span>
                            </div>
                        </div>
                    </div>
                </div>

                @if (null == Model.Friends || Model.Friends.Count == 0)
                {
                    <div class="col-md-12 alert alert-info" style="text-align:center">
                        @Resources.Resources.NoFriends
                    </div>
                }
                else
                {

                    foreach (UserProfileDTO friend in Model.Friends)
                    {
                        <div class="panel panel-body post panel-shadow animated fadeInUp" style="margin-bottom:2px;max-height:80px;padding:10px 15px;">
                            <div class="pull-left image">
                                <a href="@Url.Action("ProfileInfo", "Home", new { id = friend.ID })" style="padding: 0px; text-align: -webkit-center;">
                                    @if (null == friend.ProfilePhoto || friend.ProfilePhoto.Length == 0)
                                    {
                                        <img class="thumb media-object" src="~/Content/images/no_photo_img.jpg" alt="" style="border-radius:100px;max-height:60px;border: 2px solid #EDEFF0;">
                                    }
                                    else
                                    {
                                        <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(friend.ProfilePhoto))" class="thumb media-object" style="border-radius:100px;max-height:60px;border: 2px solid #EDEFF0;">
                                    }
                                </a>
                            </div>
                            <div style="float:left; padding:0px 15px; width: calc(100% - 268px);">
                                <div style="color:#4B5C66;font-weight:bold;font-size:14px;">@friend.FirstName @friend.LastName</div>
                                @if (string.IsNullOrEmpty(friend.CompanyName))
                                {
                                    <div style="color:#939DA3;font-size:11px;font-weight:bold;">-</div>
                                }
                                else
                                {
                                    <div style="color:#939DA3;font-size:11px;font-weight:bold;">@friend.CompanyName</div>
                                }
                                <div style="color:#939DA3;font-size:11px;font-weight:bold;">@friend.CompanyName</div>
                                @if (string.IsNullOrEmpty(friend.District))
                                {
                                    if (string.IsNullOrEmpty(friend.County))
                                    {
                                        if (string.IsNullOrEmpty(friend.Locality))
                                        {
                                            <div style="color:#939DA3;font-size:11px;font-weight:bold;">-</div>
                                        }
                                        else
                                        {
                                            <div style="color:#939DA3;font-size:11px;font-weight:bold;">@friend.Locality, @friend.County</div>

                                        }
                                    }
                                    else
                                    {
                                        if (string.IsNullOrEmpty(friend.Locality))
                                        {
                                            <div style="color:#939DA3;font-size:11px;font-weight:bold;">@friend.County</div>
                                        }
                                        else
                                        {
                                            <div style="color:#939DA3;font-size:11px;font-weight:bold;">@friend.Locality, @friend.County</div>

                                        }
                                    }
                                }
                                else
                                {
                                    if (string.IsNullOrEmpty(friend.County))
                                    {
                                        if (string.IsNullOrEmpty(friend.Locality))
                                        {
                                            <div style="color:#939DA3;font-size:11px;font-weight:bold;">@friend.District</div>
                                        }
                                        else
                                        {
                                            <div style="color:#939DA3;font-size:11px;font-weight:bold;">@friend.Locality, @friend.District</div>

                                        }
                                    }
                                    else
                                    {
                                        if (string.IsNullOrEmpty(friend.Locality))
                                        {
                                            <div style="color:#939DA3;font-size:11px;font-weight:bold;">@friend.County, @friend.District</div>

                                        }
                                        else
                                        {
                                            <div style="color:#939DA3;font-size:11px;font-weight:bold;">@friend.Locality, @friend.County, @friend.District</div>

                                        }
                                    }
                                }
                            </div>
                            <div style="float:right; padding-top:13px; display:table; font-size:11px; font-weight:bold;">
                                <div style="display:table-cell;vertical-align:middle;">
                                    <a href="@Url.Action("SendMessage", new { id = friend.ID })">
                                        <span style="color:#4B5C66;">@Resources.Resources.SendMessage</span>
                                    </a>
                                </div>
                                <div style="display:table-cell;vertical-align:middle;padding:0px 10px;">
                                    <span style="color:#00C1DE;">@Resources.Resources.Linked</span>
                                </div>
                                <div style="display:table-cell;vertical-align:middle;">
                                    <span><img src="~/Content/icons/home_page_rede_social_falar_seguros_AF112_h.png" style="max-width:30px;" /></span>
                                </div>
                            </div>
                            
                        </div>
                    }
                }

            </div>

            <!--end right  content-->

            @Html.Partial("~/Views/Home/Partial/RightBar.cshtml", Model)

        </div>

    </div>

</div><!-- end timeline content-->

@*@Html.Partial("~/Views/Home/Partial/Footer.cshtml", Model)*@
