@using InsuranceWebsite.Models
@using InsuranceSocialNetworkDTO.UserProfile
@model HomeViewModel

@{
    ViewBag.Title = Resources.Resources.ProfilePageTitle;
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

@Html.Partial("~/Views/Home/Partial/NavBar.cshtml", Model)

<!-- Timeline content -->
<div class="container">

    <div class="col-md-12 no-paddin-xs directory-info-row" style="background-color:#E3E6E8">

        <div class="row" style="display:flex">

            @Html.Partial("~/Views/Home/Partial/SideNavBar.cshtml", Model)

            <!-- right  content-->

            <div class="profile-info col-md-6 animated fadeInUp">

                @Html.Partial("./Partial/TopBannerPartialView", Model)

                @if (null == Model.Friends || Model.Friends.Count == 0)
                {
                    <div class="col-md-12 alert alert-info" style="text-align:center">
                        @Resources.Resources.NoFriends
                    </div>
                }
                else
                {

                    foreach (UserProfileDTO friend in Model.Friends)
                    {
                        <div class="col-md-4 col-sm-3">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="media">
                                        <a class="pull-left" href="@Url.Action("ProfileTimeline", "Home", new { id = friend.ID })" style="padding: 0px; text-align: -webkit-center;">
                                            @if (null == friend.ProfilePhoto || friend.ProfilePhoto.Length == 0)
                                            {
                                                <img class="thumb media-object" src="~/Content/images/no_photo_img.jpg" alt="" style="border-radius:100px;max-width:80%;">
                                            }
                                            else
                                            {
                                                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(friend.ProfilePhoto))" class="thumb media-object" style="border-radius:100px;max-width:80%;">
                                            }
                                        </a>
                                        <div class="media-body" style="text-align:center">
                                            <h5 style="text-align:center">@friend.FirstName @friend.LastName</h5>
                                            <ul class="social-links">
                                                @*@if (!Model.SearchModel.AlreadyFriends.Contains(friend.ID))
                                                {
                                                    <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" onclick="addFriendFunction(this, @profile.ID)" data-original-title="@Resources.Resources.AddFriend"><i class="fa fa-user-plus"></i></a></li>
                                                }
                                                else
                                                {
                                                    <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="@Resources.Resources.RemoveFriend"><i class="fa fa-user-times"></i></a></li>
                                                }*@
                                                <li><a href="@Url.Action("SendMessage", new { id = friend.ID })" title="" data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="@Resources.Resources.SendMessage"><i class="fa fa-comments"></i></a></li>
                                                <li><a href="@Html.DisplayTextFor(i => i.Profile.Website)" target="_blank" title="" data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="@Resources.Resources.Website"><i class="fa fa-globe"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>

            <!--end right  content-->

            @Html.Partial("~/Views/Home/Partial/RightBar.cshtml", Model)

        </div>

    </div>

</div><!-- end timeline content-->

@*@Html.Partial("~/Views/Home/Partial/Footer.cshtml", Model)*@
