@using InsuranceWebsite.Models
@using InsuranceSocialNetworkBusiness
@using InsuranceSocialNetworkCore.Enums
@using InsuranceSocialNetworkDTO.Post;
@model HomeViewModel

@{
    ViewBag.Title = Resources.Resources.ProfilePageTitle;
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<link href="~/Content/contextMenu/jquery.contextMenu.css" rel="stylesheet" />

<script src="~/Scripts/contextMenu/jquery.contextMenu.js"></script>
<script src="~/Scripts/contextMenu/jquery.ui.position.min.js"></script>
<script src="~/Scripts/contextMenu/contextMenu.main.js"></script>

<script type="text/javascript" src="~/Scripts/jquery.expander.js"></script>

@Html.Partial("~/Views/Home/Partial/NavBar.cshtml", Model)

<style>
    .search-sub-title {
        text-transform: uppercase;
        color: #00C1DE;
        font-weight: bold;
        font-size: 9px;
        margin-top: 5px;
    }

    .search-company-logo {
        max-width: 130px;
        max-height: 80px;
        float: left;
        margin-right: 15px;
    }

    .search-result {
        padding: 2px 2px 0px 2px;
        /*border-bottom: solid 5px lightgray;*/
        border-top: solid 10px #BDC6C9;
        margin-bottom: 10px;
        /*margin-top: 10px;*/
        /*border-top: solid 0.5px lightgrey;*/
    }

    .search-result-title {
        display: block;
        width: 100%;
        padding-bottom: 10px;
    }

    .search-result-contacts {
        width: 100%;
        display: inline-flex;
        font-size: 9px;
        padding: 20px 0px;
        border-top: solid 0.5px lightgrey;
    }

    .search-result-details {
        border-top: solid 0.5px lightgrey;
        font-size: 9px;
    }

    .search-result-icon {
        max-width: 30px;
        max-height: 30px;
    }

    .stats {
        padding-top: 10px;
    }

    .stat-item {
        padding-right: 40px;
        cursor: pointer;
        margin: 0px !important;
    }

    .ui-dialog {
        z-index: 1000 !important;
    }

    .ui-front {
        z-index: 1000 !important;
    }

    .ui-widget-overlay {
        z-index: 999 !important;
        opacity: 0.3;
    }

    .ui-dialog-titlebar {
        display: none;
    }
</style>

<!-- Timeline content -->
<div class="container">

    <div class="col-md-12 no-paddin-xs directory-info-row" style="background-color:#BDC6C9;max-height:100vh;">

        <div class="row" style="display:flex;max-height:100vh;">

            @Html.Partial("~/Views/Home/Partial/SideNavBar.cshtml", Model)

            <!-- right  content-->

            <div class="profile-info col-md-6 animated fadeInUp" style="overflow:auto;">

                @Html.Partial("./Partial/TopBannerPartialView", Model)

                @using (Html.BeginForm("SearchHRPosts", "Home", FormMethod.Post, new { id = "searchForm" }))
                {
                    <div class="panel topPanel panel-white post panel-shadow animated fadeInUp" style="margin-bottom:3px;height:80px;">
                        <div class="post-heading" style="padding: 15px 15px;">
                            <div class="title" style="border:0px;background-color:inherit; font-weight:bold; font-size: 17px; overflow: auto;">
                                <div class="pull-left image" style="max-width:60px;">
                                    <a id="newPostButton" href="@Url.Action("CreateNewHRPost", "Home", new { id=PostSubjectEnum.HUMAN_RESOURCES_TALENT_POST })">
                                        <img src="~/Content/icons/mais_icons_mensagens_rede_social_falar_seguros_AF2.png" class="avatar img-circle" style="border:none;height:50px; width:60px;border-radius:0px;">
                                    </a>
                                </div>

                                <div style="float:left; padding-top:8px;width: calc(100% - 110px);">@Html.TextBoxFor(m => m.SearchModel.SearchTerm, new { @class = "form-control", @placeholder = Resources.Resources.SearchHRPosts, @style = "padding:18px;border-radius:0px;border:0px;box-shadow: none;font-weight:normal;" })</div>
                                <div style="float:right; max-width: 105px;">
                                    <a  onclick="document.getElementById('searchForm').submit();">
                                        <img src="~/Content/icons/icone_pesquisa_rede_social_falar_seguros_AF.png" style="max-width:50px;" />
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                }

                <div class="panel panel-white post panel-shadow animated fadeInUp" style="margin-bottom:3px;height:80px;display:table;border:0px;width:100%;background-color:transparent;color:#4B5C66;font-weight:bold;font-size:16px;">
                    <div class="post-heading" style="padding: 10px 15px;width:50%;text-align:center;display:table-cell; vertical-align:middle;background-color:#fff;">
                        <a href="@Url.Action("HRInsurances", "Home", new { id = PostSubjectEnum.HUMAN_RESOURCES_TALENT_POST })">@Resources.Resources.Talent</a>
                    </div>
                    <div style="width:3px;background-color:transparent;"></div>
                    <div class="post-heading" style="padding: 10px 15px;width:50%;text-align:center;display:table-cell; vertical-align:middle;background-color:#fff;">
                        @Resources.Resources.Applications
                        <span style="font-size:8px;display:block;">@Resources.Resources.AvailableSoon.ToUpper()</span>
                    </div>
                </div>

                <div style="background-color:white;">

                    @if (null == Model.Posts || Model.Posts.Count == 0)
                    {
                        <div class="col-md-12 alert alert-info" style="text-align:center">
                            @Resources.Resources.NoHRPosts
                        </div>
                    }
                    else
                    {
                        foreach (var post in Model.Posts)
                        {
                            <div class="panel panel-white post panel-shadow">

                                <div class="post-heading post">

                                    <div class="pull-left image" style="padding:5px">
                                        <a href="@Url.Action("ProfileInfo", "Home", new { id = post.PostOwner.ID })">
                                            @if (null != post.PostOwner.ProfilePhoto && post.PostOwner.ProfilePhoto.Length > 0)
                                            {
                                                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(post.PostOwner.ProfilePhoto))" class="avatar" alt="user profile image">
                                            }
                                            else
                                            {
                                                <img src="~/Content/images/no_photo_img.jpg" class="avatar" alt="user profile image">
                                            }
                                        </a>
                                    </div>

                                    <div class="pull-left meta" style="margin-bottom: 0px;">

                                        <div class="h5" style="font-weight: bold;">

                                            <a href="@Url.Action("ProfileInfo", "Home", new { id = post.PostOwner.ID })" class="post-user-name">@post.PostOwner.FirstName</a>
                                            @if (post.IsRepost)
                                            {
                                                <span style="font-weight:normal;color:#939DA3;"> @string.Format(Resources.Resources.SharedPostOf, "") <span style="font-weight:bold;">@post.RepostPost.PostOwner.FirstName</span></span>
                                            }

                                        </div>

                                        <h6 class="text-muted time">@post.PostOwner.CompanyName</h6>

                                    </div>

                                    @if (post.PostOwner.ID_User == Model.Profile.ID_User)
                                    {
                                    <div class="pull-right">
                                        <i class="glyphicon glyphicon-option-vertical icon context-menu-one" id="menu_@post.ID" style="border:0px;font-size: 24px;margin-right: 10px;"></i>
                                    </div>
                                    }
                                </div>

                                <div class="post-description" style="padding-top:10px;padding-bottom:10px;">
                                    @if (post.PostSubject.Token == PostSubjectEnum.HUMAN_RESOURCES_TALENT_POST.ToString())
                                    {
                                        <span class="h5" style="font-weight:bold;">@Resources.Resources.Talent</span>
                                    }
                                    else
                                    {
                                        <span class="h5" style="font-weight:bold;">@Resources.Resources.Applications</span>
                                    }
                                    <span class="h5" style=""> - 
                                        @if (post.ID_County.HasValue)
                                        {
                                            if (post.ID_District.HasValue)
                                            {
                                                <span>@post.County.Name, @post.District.Name</span>
                                            }
                                            else
                                            {
                                                <span>@post.County.Name</span>
                                            }
                                        }
                                        else
                                        {
                                            if (post.ID_District.HasValue)
                                            {
                                                <span>@post.District.Name</span>
                                            }
                                        }

                                    </span>

                                </div>

                                <div class="post-description" style="word-break:normal; text-align:justify;">

                                    @if (post.PostType.Token == InsuranceSocialNetworkCore.Enums.PostTypeEnum.FILE_POST.ToString())
                                    {
                                        <a id="file_@post.ID" href="@Url.Action("Download", "Home", new { id = post.ID })">
                                            <i class="fa fa-file-text-o" aria-hidden="true" style="font-size:30px;padding-left: 15px;padding-right:10px;"></i>
                                        </a>
                                    }
                                    <span id="text_@post.ID">@post.Text</span>

                                </div>

                                @*Reported Post Details*@
                                @if (post.IsRepost && post.PostType.Token == InsuranceSocialNetworkCore.Enums.PostTypeEnum.TEXT_POST.ToString())
                                {
                                    <a href="@Url.Action("PostDetail", "Home", new { idPost = post.RepostPost.ID})">
                                        <div class="panel panel-white post panel-shadow" style="border: 1px #ccc solid;">

                                            <div class="post-heading">

                                                <div class="pull-left image" style="padding:5px">
                                                    @*<a href="@Url.Action("ProfileInfo", "Home", new { id = post.PostOwner.ID })">*@
                                                    @if (null != post.RepostPost.PostOwner.ProfilePhoto && post.RepostPost.PostOwner.ProfilePhoto.Length > 0)
                                                    {
                                                        <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(post.RepostPost.PostOwner.ProfilePhoto))" class="avatar" alt="user profile image">
                                                    }
                                                    else
                                                    {
                                                        <img src="~/Content/images/no_photo_img.jpg" class="avatar" alt="user profile image">
                                                    }
                                                    @*</a>*@
                                                </div>

                                                <div class="pull-left meta" style="margin-bottom: 0px;">

                                                    <div class="h5" style="font-weight: bold;">

                                                        @*<a href="@Url.Action("ProfileInfo", "Home", new { id = post.RepostPost.PostOwner.ID })" class="post-user-name">*@@post.RepostPost.PostOwner.FirstName@*</a>*@

                                                    </div>

                                                    @if (post.RepostPost.PostSubject.Token == InsuranceSocialNetworkCore.Enums.PostSubjectEnum.SPONSORED_POST.ToString())
                                                    {
                                                        <h6 class="text-muted time">@Resources.Resources.Sponsored.ToUpper()</h6>
                                                    }
                                                    else
                                                    {
                                                        if (DateTime.Now.Subtract(post.RepostPost.CreateDate).TotalMinutes < 1)
                                                        {
                                                            <h6 class="text-muted time">@Math.Round(DateTime.Now.Subtract(post.RepostPost.CreateDate).TotalSeconds, 0) @Resources.Resources.SecondsAgo</h6>
                                                        }
                                                        else if (DateTime.Now.Subtract(post.RepostPost.CreateDate).TotalHours < 2)
                                                        {
                                                            <h6 class="text-muted time">@Math.Round(DateTime.Now.Subtract(post.RepostPost.CreateDate).TotalMinutes, 0) @Resources.Resources.MinutesAgo</h6>
                                                        }
                                                        else if (DateTime.Now.Subtract(post.RepostPost.CreateDate).TotalDays < 1)
                                                        {
                                                            <h6 class="text-muted time">@Math.Round(DateTime.Now.Subtract(post.RepostPost.CreateDate).TotalHours, 0) @Resources.Resources.HoursAgo</h6>
                                                        }
                                                        else if (DateTime.Now.Subtract(post.RepostPost.CreateDate).TotalDays == 1)
                                                        {
                                                            <h6 class="text-muted time">@Math.Round(DateTime.Now.Subtract(post.RepostPost.CreateDate).TotalDays, 0) @Resources.Resources.DayAgo</h6>
                                                        }
                                                        else if (DateTime.Now.Subtract(post.RepostPost.CreateDate).TotalDays < 3)
                                                        {
                                                            <h6 class="text-muted time">@Math.Round(DateTime.Now.Subtract(post.RepostPost.CreateDate).TotalDays, 0) @Resources.Resources.DaysAgo</h6>
                                                        }
                                                        else
                                                        {
                                                            <h6 class="text-muted time">@post.RepostPost.CreateDate.ToShortDateString()</h6>
                                                        }
                                                    }

                                                </div>

                                                @*<div class="pull-right">
                                                        <i class="glyphicon glyphicon-option-vertical icon context-menu-one" id="menu_@post.RepostPost.ID" style="border:0px;font-size: 24px;margin-right: 10px;"></i>
                                                    </div>*@

                                            </div>

                                            <div class="post-description" style="word-break:normal; text-align:justify;">

                                                @if (post.RepostPost.PostType.Token == InsuranceSocialNetworkCore.Enums.PostTypeEnum.FILE_POST.ToString())
                                                {
                                                    @*<a id="file_@post.RepostPost.ID" href="@Url.Action("Download", "Home", new { id = post.RepostPost.ID })">*@<i class="fa fa-file-text-o" aria-hidden="true" style="font-size:30px;padding-left: 15px;padding-right:10px;"></i>@*</a>*@
                                                }
                                                <span id="text_@post.RepostPost.ID">@post.RepostPost.Text</span>

                                            </div>

                                            @if (post.RepostPost.PostType.Token == InsuranceSocialNetworkCore.Enums.PostTypeEnum.IMAGE_POST.ToString())
                                            {

                                                <div class="post-image">

                                                    @*<img src="@post.RepostPost.ImageSource" class="image show-in-modal" alt="image post">*@

                                                    <div id="gallery_@post.RepostPost.ID" class="image show-in-modal"></div>

                                                    <script>

                        $(function () {

                            $('#gallery_'+@post.RepostPost.ID).imagesGrid({
                                images: [
                                    {
                                        src: '@post.RepostPost.ImageSource'
                                    }
                                ],
                                align: true,
                                getViewAllText: function (imgsCount) { return 'View all' }
                            });

                        });

                                                    </script>

                                                </div>
                                            }

                                            @if (post.RepostPost.PostType.Token == InsuranceSocialNetworkCore.Enums.PostTypeEnum.LINK_POST.ToString())
                                            {

                                                <div id="livePreviewBox">
                                                    <div style="padding:10px;">
                                                        @*<a href="@post.RepostPost.URL" target="_blank">*@
                                                        <div style="border: 1px #ccc solid;">
                                                            @if (!string.IsNullOrEmpty(post.RepostPost.ImageSource))
                                                            {
                                                                <div>
                                                                    <div>
                                                                        <div style="text-align:center;"><img src="@post.RepostPost.ImageSource" class="image" alt="image post"></div>
                                                                    </div>
                                                                </div>
                                                            }
                                                            @if (!string.IsNullOrEmpty(post.RepostPost.URL_Title) || !string.IsNullOrEmpty(post.RepostPost.URL_Description) || !string.IsNullOrEmpty(post.RepostPost.URL_Domain))
                                                            {
                                                                <div style="border-top: 1px #ccc solid;padding: 10px;">
                                                                    <div style="font-weight: bold;font-size: 16px;color:#333;">@post.RepostPost.URL_Title</div>
                                                                    <div style="font-size: 12px;">@post.RepostPost.URL_Description</div>
                                                                    <div>
                                                                        <div>
                                                                            <div style="color: #6F7D85;">@post.RepostPost.URL_Domain</div>
                                                                            <div class=""></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                        @*</a>*@
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </a>
                                }

                                @if (post.PostType.Token == InsuranceSocialNetworkCore.Enums.PostTypeEnum.IMAGE_POST.ToString())
                                {

                                    <div class="post-image">

                                        @*<img src="@post.ImageSource" class="image show-in-modal" alt="image post">*@

                                        <div id="gallery_@post.ID" class="image show-in-modal"></div>

                                        <script>

                        $(function () {

                            $('#gallery_'+@post.ID).imagesGrid({
                                images: [
                                    {
                                        src: '@post.ImageSource'
                                    }
                                ],
                                align: true,
                                getViewAllText: function (imgsCount) { return 'View all' }
                            });

                        });

                                        </script>

                                    </div>
                                }

                                @if (post.PostType.Token == InsuranceSocialNetworkCore.Enums.PostTypeEnum.LINK_POST.ToString())
                                {

                                    <div id="livePreviewBox">
                                        <div style="padding:10px;">
                                            <a href="@post.URL" target="_blank">
                                                <div style="border: 1px #ccc solid;">
                                                    @if (!string.IsNullOrEmpty(post.ImageSource))
                                                    {
                                                        <div>
                                                            <div>
                                                                <div style="text-align:center;"><img src="@post.ImageSource" class="image" alt="image post"></div>
                                                            </div>
                                                        </div>
                                                    }
                                                    @if (!string.IsNullOrEmpty(post.URL_Title) || !string.IsNullOrEmpty(post.URL_Description) || !string.IsNullOrEmpty(post.URL_Domain))
                                                    {
                                                        <div style="border-top: 1px #ccc solid;padding: 10px;">
                                                            <div style="font-weight: bold;font-size: 16px;color:#333;">@post.URL_Title</div>
                                                            <div style="font-size: 12px;">@post.URL_Description</div>
                                                            <div>
                                                                <div>
                                                                    <div style="color: #6F7D85;">@post.URL_Domain</div>
                                                                    <div class=""></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                }

                                <div class="post-description" style="border-top: 1px solid #eee;">

                                    <div class="stats">

                                        @if (null != post.PostLike && post.PostLike.Count > 0 && post.PostLike.Exists(i => i.ID_User == Model.Profile.ID_User))
                    {
                                            <a onclick="UnlikePost(this, @post.ID, @post.PostLike.Count)" class="stat-item" id="unlikePost" style="color:#00C1DE;min-width: 50px;">
                                                <img class="post-icon" src="~/Content/icons/icons_diretorios_rede_social_falar_seguros_AF3.png" /><span style="padding-left: 8px;color:#4B5C66;font-size: 10px;">@post.PostLike.Count</span>
                                            </a>
                                        }
                                        else if (null != post.PostLike && post.PostLike.Count > 0)
                                        {
                                            <a onclick="LikePost(this, @post.ID, @post.PostLike.Count)" class="stat-item" id="likePost" style="min-width: 50px;">
                                                <img class="post-icon" src="~/Content/icons/icons_diretorios_rede_social_falar_seguros_AF2.png" /><span style="padding-left: 8px;color:#4B5C66;font-size: 10px;">@post.PostLike.Count</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a onclick="LikePost(this, @post.ID, @post.PostLike.Count)" class="stat-item" style="min-width: 50px;">
                                                <img class="post-icon" src="~/Content/icons/icons_diretorios_rede_social_falar_seguros_AF2.png" />
                                            </a>
                                        }

                                        <a href="mailto:@post.PostOwner.ContactEmail?subject=@string.Format("[Portal Falar Seguros] {0}", post.Title)" class="stat-item" style="cursor:default;min-width: 50px;">
                                            <img class="post-icon" src="~/Content/icons/login_rede_social_falar_seguros_AF3.png" />
                                        </a>

                                        @*<a id="sharePostButton" onclick="SharePost(@post.ID)" class="stat-item" style="min-width: 50px;">
                                            <img class="post-icon" src="~/Content/icons/icons_perfil_rede_social_falar_seguros_v27.png" />
                                        </a>*@

                                    </div>

                                </div>
                            </div>
                        }
                    }
                </div>

            </div>

            <!--end right  content-->

            @Html.Partial("~/Views/Home/Partial/RightBar.cshtml", Model)

        </div>

    </div>

</div><!-- end timeline content-->

<div id="dialog-create" style="display: none; top:10%;"></div>
<div id="dialog-confirm-delete" style="display: none"></div>

<script type="text/javascript">

    $(function () {
        var url = "";

        $('.readmore').expander({
            slicePoint: 500,
            expandText: '@Resources.Resources.ReadMore',
            userCollapseText: '@Resources.Resources.ReadLess'
        });

        $("#dialog-create").dialog({
            title: '@Resources.Resources.CreateNewOffer',
            autoOpen: false,
            resizable: false,
            width: 450,
            height: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            position: { my: "center", at: "center", of: window },
            open: function (event, ui) {
                $(this).load(url);
            },
            buttons: {
            },
        close: function () {
        }
        });

        $("#newPostButton").click(function (e) {
            e.preventDefault(); //use this or return false
            url = $(this).attr('href');
            @*url = '@Url.Action("CreateNewHRPost", "Home", new { id=PostSubjectEnum. })';*@
            $(".ui-dialog-title").html("@Resources.Resources.CreateNewOffer");
            $("#dialog-create").dialog('open');

            return false;
        });

        $.contextMenu({
            selector: '.context-menu-one',
            callback: function (key, options) {
                //var m = "clicked: " + key;
                //window.console && console.log(m) || alert(m);
                postId = options.$trigger.attr("id").replace("menu_", "");
                switch (key)
                {
                    case "delete":
                        $("#dialog-confirm-delete").dialog('open');
                        break;
                    default: break;
                }
            },
            items: {
                "delete": { name: "@Resources.Resources.Delete", icon: "" }
            }
        });

        $("#dialog-confirm-delete").dialog({
            title: '@Resources.Resources.Delete',
            autoOpen: false,
            resizable: false,
            width: 450,
            height: 200,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            position: { my: "center", at: "center", of: window },
            open: function (e, ui) {
                $(this).load("@Url.Action("ConfirmPostDelete", "Home")" + "/" + postId);
            },
            buttons: {}
        });
    });

    function LikePost(object, postId, likesCount) {
        object.style.color = "#00C1DE";
        object.innerHTML = "<img class=\"post-icon\" src=\"/Content/icons/icons_diretorios_rede_social_falar_seguros_AF3.png\" /><span style=\"padding-left: 8px;color:#4B5C66;font-size: 10px;\">" + (likesCount+1) + "</span>";
        likesCount = likesCount + 1;
        object.onclick = function() { UnlikePost(object, postId, likesCount); }

        jQuery.post('@Url.Action("LikePost", "Home")',
                { postId: postId }
            )
            .done(function (data) {
            })
            .fail(function () {
            });
    }

    function UnlikePost(object, postId, likesCount) {
        object.style.color = "#7f7f7f";
        if(likesCount <= 1)
        {
            object.innerHTML = "<img class=\"post-icon\" src=\"/Content/icons/icons_diretorios_rede_social_falar_seguros_AF2.png\" />";
        }
        else
        {
            object.innerHTML = "<img class=\"post-icon\" src=\"/Content/icons/icons_diretorios_rede_social_falar_seguros_AF2.png\" /><span style=\"padding-left: 8px;color:#4B5C66;font-size: 10px;\">" + (likesCount-1) + "</span>";
        }
        if(likesCount > 0)
        {
            likesCount = likesCount - 1;
        }
        object.onclick = function() { LikePost(object, postId, likesCount); }

        jQuery.post('@Url.Action("UnlikePost", "Home")',
                { postId: postId }
            )
            .done(function (data) {
            })
            .fail(function () {
            });
    }
</script>
