@using InsuranceWebsite.Models
@using InsuranceSocialNetworkBusiness
@using InsuranceSocialNetworkCore.Enums
@model HomeViewModel

@{
    ViewBag.Title = Resources.Resources.HomePageTitle;
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

@Html.Partial("~/Views/Home/Partial/NavBar.cshtml", Model)

<!-- Timeline content -->
<div class="container">

    <div class="col-md-12 no-paddin-xs" style="background-color:#BDC6C9;max-height:100vh;">

        <div class="row" style="display:flex;max-height:100vh;">

            @Html.Partial("~/Views/Home/Partial/SideNavBar.cshtml", Model)

            <!-- left  content-->
            @if (InsuranceBusiness.BusinessLayer.IsUserInRoleByUsername(this.User.Identity.Name, RoleEnum.DIRECTORY_COMPANY.ToString()) && !Model.IsCompanyProfileEdit)
            {
                @Html.Partial("~/Views/Home/Partial/CompanyProfile.cshtml", Model)
            }
            else if (InsuranceBusiness.BusinessLayer.IsUserInRoleByUsername(this.User.Identity.Name, RoleEnum.DIRECTORY_COMPANY.ToString()) && Model.IsCompanyProfileEdit)
            {
                @Html.Partial("~/Views/Home/Partial/CompanyProfileEdit.cshtml", Model)
            }
            else if (InsuranceBusiness.BusinessLayer.IsUserInRoleByUsername(this.User.Identity.Name, RoleEnum.PORTAL_COMMERCIAL.ToString()))
            {
                @Html.Partial("~/Views/Home/Partial/Timeline.cshtml", Model)
            }
            else if (Model.IsPostsView && !Model.IsProfileTimeline)
            {
                @Html.Partial("~/Views/Home/Partial/Timeline.cshtml", Model)
            }
            else if (Model.IsProfileTimeline && !Model.IsOwnProfile)
            {
                @Html.Partial("~/Views/Home/Partial/ProfileTimeline.cshtml", Model)
            }
            else if (Model.IsProfileTimeline && Model.IsOwnProfile)
            {
                @Html.Partial("~/Views/Home/Partial/ProfileOwn.cshtml", Model)
            }
            else if (Model.IsProfileConfigurations && Model.IsOwnProfile)
            {
                @Html.Partial("~/Views/Home/Partial/ProfileOwnConfigurations.cshtml", Model)
            }
            else if (Model.IsProfileEditConfiguations && Model.IsOwnProfile)
            {
                @Html.Partial("~/Views/Home/Partial/ProfileEditConfigurations.cshtml", Model)
            }
            else if (Model.IsProfileEdit)
            {
                @Html.Partial("~/Views/Home/Partial/ProfileEdit.cshtml", Model)
            }
            @*else if (Model.IsProfileEditConfiguations)
            {
                @Html.Partial("~/Views/Home/Partial/ProfileEditConfigurations.cshtml", Model)
            }*@
            else if (Model.IsSearchView)
            {
                @Html.Partial("~/Views/Home/Partial/SearchResult.cshtml", Model)
            }
            else if (Model.IsProfileSearchView)
            {
                @Html.Partial("~/Views/Home/Partial/SearchUsersResult.cshtml", Model)
            }
            else
            {
                <h1>APANHOU OUTRA VIEW QUALQUER...</h1>
            }
            <!--end left  content-->

            @Html.Partial("~/Views/Home/Partial/RightBar.cshtml", Model)

        </div>

    </div>

</div><!-- end timeline content-->

@*@Html.Partial("~/Views/Home/Partial/Footer.cshtml", Model)*@
