@using InsuranceWebsite.Models
@model HomeViewModel

@{
    ViewBag.Title = Resources.Resources.HomePageTitle;
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

@Html.Partial("~/Views/Home/Partial/NavBar.cshtml", Model)

<!-- Timeline content -->
<div class="container">

    <div class="col-md-12 no-paddin-xs" style="background-color:ghostwhite">

        <div class="row" style="display:flex">

            @Html.Partial("~/Views/Home/Partial/SideNavBar.cshtml", Model)

            <!-- right  content-->
            @if (Model.IsPostsView)
            {
                @Html.Partial("~/Views/Home/Partial/Timeline.cshtml", Model)
            }
            else if (Model.IsSearchView)
            {
                @Html.Partial("~/Views/Home/Partial/SearchResult.cshtml", Model)
            }

            @*@if (Model.IsNotificationsView)
            {
                @Html.Partial("~/Views/Home/Partial/Notifications.cshtml", Model)
            }*@
            <!--end right  content-->

            @Html.Partial("~/Views/Home/Partial/RightBar.cshtml", Model)

        </div>

    </div>

</div><!-- end timeline content-->

@Html.Partial("~/Views/Home/Partial/Footer.cshtml", Model)
