@using InsuranceWebsite.Models
@using InsuranceSocialNetworkDTO.Chat;
@model MessagesViewModel

@{
    ViewBag.Title = Resources.Resources.MessagesPageTitle;
}

<link href="~/Content/bookpost/css/messages.css" rel="stylesheet">

<style>

    /*.ui-widget-overlay.custom-overlay {
        background-color: black;
        background-image: none;
        opacity: 0.9;
        z-index: 1040;
    }*/

    .ui-dialog {
        z-index: 1040 !important;
    }

</style>

@Html.Partial("~/Views/Home/Partial/NavBar.cshtml", Model)

<div class="container">

    <div class="col-md-12 no-paddin-xs" style="background-color:#BDC6C9">

        <div class="row" style="display:flex;max-height:100vh;">

            @Html.Partial("~/Views/Home/Partial/SideNavBar.cshtml", Model)

            <!-- left  content-->
            <div class="profile-info col-md-6 animated fadeInUp" tabindex="5001" id="messageListPanel">

                @*@using (Html.BeginForm("SearchConversations", "Home", FormMethod.Post, new { id = "searchForm" }))
                {
                    <div class="panel panel-white post panel-shadow animated fadeInUp" style="margin-bottom:0px;height:80px;">
                        <div class="post-heading" style="padding: 10px 15px;">
                            <div class="title" style="border:0px;background-color:inherit; font-weight:bold; font-size: 17px; overflow: auto;">
                                <div class="pull-left image" style="max-width:60px;">
                                    <img src="~/Content/icons/home_page_rede_social_falar_seguros_AF122.png" class="avatar img-circle" style="border:none;height:60px; width:60px;">
                                </div>

                                <div style="float:left; padding-top:8px;width: calc(100% - 125px);">@Html.TextBoxFor(m => m.SearchModel.SearchTerm, new { @class = "form-control", @placeholder = Resources.Resources.SearchByCompanyNameEmailLocality, @style = "padding:18px;border-radius:0px;border:0px;box-shadow: none;font-weight:normal;" })</div>
                                <div style="float:right; max-width: 50px;">
                                    <a href="#" onclick="document.getElementById('searchForm').submit();">
                                        <img src="~/Content/icons/icone_pesquisa_rede_social_falar_seguros_AF.png" />
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                }*@

                @if (null == Model.ActiveChat)
                {
                    <div class="col-md-12 alert alert-info" style="text-align:center">
                        @Resources.Resources.NoActiveChatSelected
                    </div>
                }
                else
                {
                    @Html.Partial("~/Views/Home/Partial/ChatSectionView.cshtml", new ChatViewModel() { Chat = Model.ActiveChat, Profile = Model.Profile })
                }

            </div>
            <!--end left  content-->

            <div class="profile-info col-md-6 animated fadeInUp" style="overflow:auto;">

                @using (Html.BeginForm("SearchConversations", "Home", FormMethod.Post, new { id = "searchForm" }))
                {
                    <div class="panel panel-white post panel-shadow animated fadeInUp" style="margin-bottom:0px;height:80px;">
                        <div class="post-heading" style="padding: 10px 15px;">
                            <div class="title" style="border:0px;background-color:inherit; font-weight:bold; font-size: 17px; overflow: auto;">
                                <div class="pull-left image" style="max-width:60px;">
                                    <img src="~/Content/icons/home_page_rede_social_falar_seguros_AF122.png" class="avatar img-circle" style="border:none;height:60px; width:60px;">
                                </div>

                                <div style="float:left; padding-top:8px;width: calc(100% - 175px);">@Html.TextBoxFor(m => m.SearchModel.SearchTerm, new { @class = "form-control", @placeholder = Resources.Resources.SearchMessages, @style = "padding:18px;border-radius:0px;border:0px;box-shadow: none;font-weight:normal;" })</div>
                                <div style="float:right; max-width: 105px;">
                                    <a href="#" onclick="document.getElementById('searchForm').submit();">
                                        <img src="~/Content/icons/icone_pesquisa_rede_social_falar_seguros_AF.png" style="max-width:50px;" />
                                    </a>
                                    @*<img src="~/Content/icons/icons_mensagens_rede_social_falar_seguros_AF16.png" style="max-width:50px;" />*@
                                </div>
                            </div>

                        </div>
                    </div>
                }

                <div class="" style="background-color:transparent; box-shadow:none; margin-bottom: 10px; margin-top: 2px;">
                    @if (null == Model.Chats || Model.Chats.Count == 0)
                    {
                        @Resources.Resources.NoChats
                    }
                    else
                    {
                        foreach (ChatDTO chat in Model.Chats)
                        {
                            <div id="chatEntry_@chat.ID" class="panel panel-body post panel-shadow animated fadeInUp @(chat.HasUnreadMessages ? "unread_chat" : "read_chat") @((null != Model.ActiveChat && Model.ActiveChat.ID == chat.ID) ? "active" : "")" style="margin-bottom:2px;max-height:80px;padding:10px 15px;cursor:pointer;">
                                <div class="pull-left image" style="cursor:pointer;" onclick="$('.user').removeClass('active');$(this).addClass('active');$('#messageListPanel').load('@Url.Action("LoadChat", "Home", new { id = chat.ID })');">
                                    @*<a href="@Url.Action("ProfileInfo", "Home", new { id = chat.ID })" style="padding: 0px; text-align: -webkit-center;">*@
                                        @if (null == chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).ProfilePhoto || chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).ProfilePhoto.Length == 0)
                                        {
                                            <img class="thumb media-object" src="~/Content/images/no_photo_img.jpg" alt="" style="border-radius:100px;max-height:60px;border: 2px solid #EDEFF0;">
                                        }
                                        else
                                        {
                                            <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(chat.ChatMemberProfile.FirstOrDefault(i=>i.ID_User != Model.Profile.ID_User).ProfilePhoto))" class="thumb media-object" style="border-radius:100px;max-height:60px;border: 2px solid #EDEFF0;">
                                        }
                                    @*</a>*@
                                </div>
                                <div style="float:left; padding:0px 15px; width: calc(100% - 170px);cursor:pointer;" onclick="$('.user').removeClass('active');$(this).addClass('active');$('#messageListPanel').load('@Url.Action("LoadChat", "Home", new { id = chat.ID })');">
                                    <div style="color:#4B5C66;font-weight:bold;font-size:14px;">@chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).FirstName @chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).LastName</div>
                                    @if (string.IsNullOrEmpty(chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).CompanyName))
                                    {
                                        <div style="color:#939DA3;font-size:11px;font-weight:bold;">-</div>
                                    }
                                    else
                                    {
                                        <div style="color:#939DA3;font-size:11px;font-weight:bold;">@chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).CompanyName</div>
                                    }

                                    @if (string.IsNullOrEmpty(chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).District))
                                    {
                                        if (string.IsNullOrEmpty(chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).County))
                                        {
                                            if (string.IsNullOrEmpty(chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).Locality))
                                            {
                                                <div style="color:#939DA3;font-size:11px;font-weight:bold;">-</div>
                                            }
                                            else
                                            {
                                                <div style="color:#939DA3;font-size:11px;font-weight:bold;">@chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).Locality, @chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).County</div>

                                            }
                                        }
                                        else
                                        {
                                            if (string.IsNullOrEmpty(chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).Locality))
                                            {
                                                <div style="color:#939DA3;font-size:11px;font-weight:bold;">@chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).County</div>
                                            }
                                            else
                                            {
                                                <div style="color:#939DA3;font-size:11px;font-weight:bold;">@chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).Locality, @chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).County</div>

                                            }
                                        }
                                    }
                                    else
                                    {
                                        if (string.IsNullOrEmpty(chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).County))
                                        {
                                            if (string.IsNullOrEmpty(chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).Locality))
                                            {
                                                <div style="color:#939DA3;font-size:11px;font-weight:bold;">@chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).District</div>
                                            }
                                            else
                                            {
                                                <div style="color:#939DA3;font-size:11px;font-weight:bold;">@chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).Locality, @chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).District</div>

                                            }
                                        }
                                        else
                                        {
                                            if (string.IsNullOrEmpty(chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).Locality))
                                            {
                                                <div style="color:#939DA3;font-size:11px;font-weight:bold;">@chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).County, @chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).District</div>

                                            }
                                            else
                                            {
                                                <div style="color:#939DA3;font-size:11px;font-weight:bold;">@chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).Locality, @chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).County, @chat.ChatMemberProfile.FirstOrDefault(i => i.ID_User != Model.Profile.ID_User).District</div>

                                            }
                                        }
                                    }
                                </div>
                                <div style="float:right; padding-top:13px; display:table; font-size:11px; font-weight:bold;">
                                    <div style="display:table-cell;vertical-align:middle;cursor:pointer;">
                                        <img src="~/Content/icons/icons_mensagens_rede_social_falar_seguros_AF10.png" style="max-width:30px;" />
                                    </div>
                                    <div style="display:table-cell;vertical-align:middle;padding:0px 10px;cursor:pointer;">
                                        <img src="~/Content/icons/icons_mensagens_rede_social_falar_seguros_AF2.png" style="max-width:30px;" onclick="ConfirmDeleteChat(@chat.ID)" />
                                    </div>
                                    <div style="display:table-cell;vertical-align:middle;cursor:pointer;">
                                        @if (chat.HasUnreadMessages)
                                        {
                                            <span><img src="~/Content/icons/icons_mensagens_rede_social_falar_seguros_AF5.png" style="max-width:30px;" /></span>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("MarkChatAsUnread", new { id = chat.ID })">
                                                <span><img src="~/Content/icons/icons_mensagens_rede_social_falar_seguros_AF6.png" style="max-width:30px;" /></span>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                @*</div>*@
            </div>

        </div>

    </div>

</div>

<div id="dialog-confirm-delete" style="display: none; z-index:50;"></div>

<script type="text/javascript">

    var chatId;

    $(function () {
        
        $("#dialog-confirm-delete").dialog({
            title: '@Resources.Resources.Delete',
            autoOpen: false,
            resizable: false,
            width: 400,
            height: 150,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (e, ui) {
                //$('.ui-widget-overlay').addClass('custom-overlay');
                $(this).load("@Url.Action("ConfirmChatDelete", "Home")" + "/" + chatId);
            },
            buttons: {}
        });

    }); 

    function ConfirmDeleteChat(id)
    {
        chatId = id;
        $("#dialog-confirm-delete").dialog('open');
    }
</script>
