@using InsuranceWebsite.Models
@model ProfileViewModel

@{
    ViewBag.Title = Resources.Resources.ProfilePageTitle;

    var base64 = Convert.ToBase64String(Model.Profile.ProfilePhoto);
    var imgSrc = String.Format("data:image/png;base64,{0}", base64);
}



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

@Html.Partial("~/Views/Home/Partial/NavBar.cshtml", Model)

<!-- Timeline content -->
<div class="container">

    <div class="col-md-12 no-paddin-xs" style="background-color:#BDC6C9">

        <div class="row" style="display:flex">

            @Html.Partial("~/Views/Home/Partial/SideNavBar.cshtml", Model)

            <div class="col-md-12 animated fadeInUp">

                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-12">
                        <div class="main-content animated fadeInUp">
                            <ul class="nav nav-tabs nav-tabs-custom-colored tabs-iconized">
                                <li class="active">
                                    <a href="#profile-tab" data-toggle="tab" aria-expanded="false">
                                        <i class="fa fa-user"></i> @Resources.Resources.UserProfile
                                    </a>
                                </li>
                                @if (Model.IsOwnProfile)
                                {
                                    <li class="">
                                        <a href="#settings-tab" data-toggle="tab" aria-expanded="true">
                                            <i class="fa fa-gear"></i> @Resources.Resources.Settings
                                        </a>
                                    </li>
                                }
                                @*<li class="">
                                    <a href="#activity-tab" data-toggle="tab" aria-expanded="true">
                                        <i class="fa fa-rss"></i> Recent Activity
                                    </a>
                                </li>*@
                            </ul>
                            <div class="tab-content profile-page">
                                <div class="tab-pane profile active" id="profile-tab">
                                    <div class="row">
                                        <div class="col-md-3">
                                            
                                            <div class="user-info-left">
                                                @if (null == Model.Profile.ProfilePhoto || Model.Profile.ProfilePhoto.Length == 0)
                                                {
                                                    <img src="~/Content/images/no_photo_img.jpg" class="avatar img-circle">
                                                }
                                                else
                                                {
                                                    <img src="@imgSrc" class="avatar img-circle">
                                                }
                                                
                                                <h2>@Model.Profile.FirstName @Model.Profile.LastName <i class="fa fa-circle green-font online-icon"></i><sup class="sr-only">online</sup></h2>
                                                <div class="contact">
                                                    @if (!Model.IsOwnProfile)
                                                    {
                                                        <div class="action-buttons">
                                                            <div class="row">
                                                                @if (!Model.IsFriendRequest && !Model.IsFriend)
                                                                {
                                                                    <div class="col-xs-12">
                                                                        <a class="btn btn-success btn-block" onclick="addFriendFunction(this, @Model.Profile.ID)"><i class="fa fa-plus-round"></i>@Resources.Resources.AddFriend</a>
                                                                    </div>
                                                                }
                                                                <div class="col-xs-12">
                                                                    @Html.ActionLink(Resources.Resources.SendMessage, "SendMessage", new { id = Model.Profile.ID }, new { @class = "btn btn-default btn-block" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="action-buttons">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    @Html.ActionLink(Resources.Resources.Edit, "ProfileEdit", new { userId = Model.Profile.ID_User }, new { @class = "btn btn-success btn-block" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    <ul class="list-inline social">
                                                        <li><a href="#" title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
                                                        <li><a href="#" title="Twitter"><i class="fa fa-twitter-square"></i></a></li>
                                                        <li><a href="#" title="Google Plus"><i class="fa fa-google-plus-square"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        @if (Model.IsFriendRequest)
                                        {
                                            <div class="col-md-9">
                                                <div class="action-buttons">
                                                    <div class="row">
                                                        <div class="col-xs-6" style="padding: 0px 50px 20px 50px;">
                                                            @Html.ActionLink(Resources.Resources.AcceptRequest, "AcceptFriendRequest", new { id = Model.Profile.ID_User }, new { @class = "btn btn-success btn-block" })
                                                        </div>
                                                        <div class="col-xs-6" style="padding: 0px 50px 20px 50px;">
                                                            @Html.ActionLink(Resources.Resources.IgnoreRequest, "IgnoreFriendRequest", new { id = Model.Profile.ID_User }, new { @class = "btn btn-default btn-block" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div class="col-md-9">
                                            
                                            <div class="user-info-right">
                                                <div class="basic-info">
                                                    <h3><i class="fa fa-square"></i> @Resources.Resources.BasicInformation</h3>
                                                    <p class="data-row">
                                                        <span class="data-name">@Resources.Resources.FirstName</span>
                                                        <label class="form-control">@Html.DisplayTextFor(i => i.Profile.FirstName)</label>
                                                    </p>
                                                    <p class="data-row">
                                                        <span class="data-name">@Resources.Resources.LastName</span>
                                                        <label class="form-control">@Html.DisplayTextFor(i => i.Profile.LastName)</label>
                                                    </p>
                                                    <p class="data-row">
                                                        <span class="data-name">@Resources.Resources.BirthDate</span>
                                                        <label class="form-control">@Html.DisplayTextFor(i => i.Profile.Birthdate)</label>
                                                    </p>
                                                    <p class="data-row">
                                                        <span class="data-name">@Resources.Resources.DateJoined</span>
                                                        <label class="form-control">@Html.DisplayTextFor(i => i.Profile.CreateDate)</label>
                                                    </p>
                                                </div>
                                                <div class="contact_info">
                                                    <h3><i class="fa fa-square"></i> @Resources.Resources.ContactInformation</h3>
                                                    <p class="data-row">
                                                        <span class="data-name">@Resources.Resources.ContactEmail</span>
                                                        <label class="form-control"><a href="mailto:@Html.DisplayTextFor(i => i.Profile.ContactEmail)" target="_blank">@Html.DisplayTextFor(i => i.Profile.ContactEmail)</a></label>
                                                    </p>
                                                    <p class="data-row">
                                                        <span class="data-name">@Resources.Resources.Website</span>
                                                        <label class="form-control"><a href="@Html.DisplayTextFor(i => i.Profile.Website)" target="_blank">@Html.DisplayTextFor(i => i.Profile.Website)</a></label>
                                                    </p>
                                                    <p class="data-row">
                                                        <span class="data-name">@Resources.Resources.Telephone_1</span>
                                                        <label class="form-control">@Html.DisplayTextFor(i => i.Profile.Telephone_1)</label>
                                                    </p>
                                                    <p class="data-row">
                                                        <span class="data-name">@Resources.Resources.Telephone_2</span>
                                                        <label class="form-control">@Html.DisplayTextFor(i => i.Profile.Telephone_2)</label>
                                                    </p>
                                                    <p class="data-row">
                                                        <span class="data-name">@Resources.Resources.MobilePhone_1</span>
                                                        <label class="form-control">@Html.DisplayTextFor(i => i.Profile.MobilePhone_1)</label>
                                                    </p>
                                                    <p class="data-row">
                                                        <span class="data-name">@Resources.Resources.MobilePhone_2</span>
                                                        <label class="form-control">@Html.DisplayTextFor(i => i.Profile.MobilePhone_2)</label>
                                                    </p>
                                                    <p class="data-row">
                                                        <span class="data-name">@Resources.Resources.Skype</span>
                                                        <label class="form-control">@Html.DisplayTextFor(i => i.Profile.Skype)</label>
                                                    </p>
                                                    <p class="data-row">
                                                        <span class="data-name">@Resources.Resources.Whatsapp</span>
                                                        <label class="form-control">@Html.DisplayTextFor(i => i.Profile.Whatsapp)</label>
                                                    </p>
                                                    <p class="data-row">
                                                        <span class="data-name">@Resources.Resources.Address</span>
                                                        <label class="form-control">@Html.DisplayTextFor(i => i.Profile.Address)</label>
                                                    </p>
                                                </div>
                                                <div class="about">
                                                    <h3><i class="fa fa-square"></i> @Resources.Resources.AboutMe</h3>
                                                    @Html.TextAreaFor(i => i.Profile.AboutMe, new { @class = "form-control aboutme", @disabled="disabled" })
                                                    <p></p>
                                                    <h3><i class="fa fa-square"></i> @Resources.Resources.CompaniesWorkingWith</h3>
                                                    @Html.TextAreaFor(i => i.Profile.CompaniesWorkingWith, new { @class = "form-control aboutme", @disabled = "disabled" })
                                                    <p></p>
                                                </div>
                                                <div class="basic-info">
                                                    <h3><i class="fa fa-square"></i> @Resources.Resources.AllowedEmailDomains</h3>
                                                    @Html.ListBoxFor(m => m.SelectedAllowedEmails, new MultiSelectList(Model.AllowedEmails, "Text", "Text"), new { @class = "form-control listbox", id = "emailListbox", style = "max-width:49%;display: inline-flex;min-height: 103px;" })
                                                </div>
                                                <div class="about">
                                                    <h3><i class="fa fa-square"></i> @Resources.Resources.Statistics</h3>
                                                    <p><span class="badge">332</span> Following</p>
                                                    <p><span class="badge">124</span> Followers</p>
                                                    <p><span class="badge">620</span> Likes</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane activity" id="activity-tab">
                                    <ul class="list-unstyled activity-list">
                                        <li>
                                            <i class="fa fa-shopping-cart activity-icon pull-left"></i>
                                            <p>
                                                <a href="#">Jonathan</a> commented on <a href="#">Special Deal 2013</a> <span class="timestamp">12 minutes ago</span>
                                            </p>
                                        </li>
                                        <li>
                                            <i class="fa fa-pencil activity-icon pull-left"></i>
                                            <p>
                                                <a href="#">Jonathan</a> posted <a href="#">a new blog post</a> <span class="timestamp">4 hours ago</span>
                                            </p>
                                        </li>
                                        <li>
                                            <i class="fa fa-user activity-icon pull-left"></i>
                                            <p>
                                                <a href="#">Jonathan</a> edited his profile <span class="timestamp">11 hours ago</span>
                                            </p>
                                        </li>
                                        <li>
                                            <i class="fa fa-pencil activity-icon pull-left"></i>
                                            <p>
                                                <a href="#">Jonathan</a> has added review on <a href="#">jQuery Complete Guide</a> book <span class="timestamp">Yesterday</span>
                                            </p>
                                        </li>
                                        <li>
                                            <i class="fa fa-thumbs-up activity-icon pull-left"></i>
                                            <p>
                                                <a href="#">Jonathan</a> liked <a href="#">a post</a> <span class="timestamp">December 12</span>
                                            </p>
                                        </li>
                                        <li>
                                            <i class="fa fa-tasks activity-icon pull-left"></i>
                                            <p>
                                                <a href="#">Jonathan</a> has completed one task <span class="timestamp">December 11</span>
                                            </p>
                                        </li>
                                        <li>
                                            <i class="fa fa-picture-o activity-icon pull-left"></i>
                                            <p>
                                                <a href="#">Jonathan</a> uploaded <a href="#">new photos</a> <span class="timestamp">December 5</span>
                                            </p>
                                        </li>
                                        <li>
                                            <i class="fa fa-credit-card activity-icon pull-left"></i>
                                            <p>
                                                <a href="#">Jonathan</a> has updated his credit card info <span class="timestamp">September 28</span>
                                            </p>
                                        </li>
                                    </ul>
                                    <p class="text-center more"><a href="#" class="btn btn-custom-primary">View more <i class="fa fa-long-arrow-right"></i></a></p>
                                </div>
                                <div class="tab-pane settings" id="settings-tab">
                                    @*@using (Html.BeginForm("ProfileSettingsSave", "Home", FormMethod.Post, new { @class = "" }))
                                    {
                                        @Html.HiddenFor(i => i.ID)*@

                                        <div class="row">
                                            <div class="col-md-12">

                                                <div class="user-info-right">
                                                    <div class="password-info">
                                                        <h3><i class="fa fa-square"></i> @Resources.Resources.ChangePassword</h3>
                                                        <p class="data-row">
                                                            <span class="data-name">@Resources.Resources.OldPassword</span>
                                                            @Html.DisplayFor(i => i.Settings.OldPassword, new { @class = "form-control" })
                                                        </p>
                                                        <p class="data-row">
                                                            <span class="data-name">@Resources.Resources.NewPassword</span>
                                                            @Html.DisplayFor(i => i.Settings.NewPassword, new { @class = "form-control" })
                                                        </p>
                                                        <p class="data-row">
                                                            <span class="data-name">@Resources.Resources.RepeatPassword</span>
                                                            @Html.DisplayFor(i => i.Settings.RepeatPassword, new { @class = "form-control" })
                                                        </p>
                                                    </div>
                                                    <div class="privacy_info">
                                                        <h3><i class="fa fa-square"></i> @Resources.Resources.Privacy</h3>
                                                        <p class="data-row">
                                                            <span class="data-name">@Resources.Resources.ShowDisplayName</span>
                                                            @Html.CheckBoxFor(i => i.Settings.ShowDisplayName, new { @class = "form-control", disabled = "disabled" })
                                                        </p>
                                                        <p class="data-row">
                                                            <span class="data-name">@Resources.Resources.ShowBirthDate</span>
                                                            @Html.CheckBoxFor(i => i.Settings.ShowBirthDate, new { @class = "form-control", disabled = "disabled" })
                                                        </p>
                                                        <p class="data-row">
                                                            <span class="data-name">@Resources.Resources.ShowContactInformation</span>
                                                            @Html.CheckBoxFor(i => i.Settings.ShowContactInformation, new { @class = "form-control", disabled = "disabled" })
                                                        </p>
                                                        <p class="data-row">
                                                            <span class="data-name">@Resources.Resources.ShowOnlineStatus</span>
                                                            @Html.CheckBoxFor(i => i.Settings.ShowOnlineStatus, new { @class = "form-control", disabled = "disabled" })
                                                        </p>
                                                    </div>
                                                    <div class="notifications_info">
                                                        <h3><i class="fa fa-square"></i> @Resources.Resources.Notifications</h3>
                                                        <p class="data-row">
                                                            <span class="data-name">@Resources.Resources.LikesOnYourPosts</span>
                                                            @Html.CheckBoxFor(i => i.Settings.LikesOnYourPosts, new { @class = "form-control", disabled = "disabled" })
                                                        </p>
                                                        <p class="data-row">
                                                            <span class="data-name">@Resources.Resources.CommentsOnYourPosts</span>
                                                            @Html.CheckBoxFor(i => i.Settings.CommentsOnYourPosts, new { @class = "form-control", disabled = "disabled" })
                                                        </p>
                                                        <p></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        @*<div class="action-buttons">
                                            <div class="row" style="margin-left:30%;margin-right:30%">
                                                <div class="col-xs-12">
                                                    <input type="submit" class="btn btn-success btn-block" value="@Resources.Resources.Save" />
                                                    @Html.ActionLink(Resources.Resources.Cancel, "ProfileInfo", new { id = Model.Profile.ID }, new { @class = "btn btn-default btn-block" })
                                                </div>
                                            </div>
                                        </div>*@
                                    @*}*@
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

</div><!-- end timeline content-->

<script type="text/javascript">

    function addFriendFunction(object, userId) {
        object.style.display = "none";

        jQuery.post('@Url.Action("AddFriend", "Home")',
                { id: userId }
            )
            .done(function (data) { })
            .fail(function () {
                object.style.display = "block";
            });
    }

</script>

<style>
    #container .modal.fade {
        left: -25%;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
        -o-transition: opacity 0.3s linear, left 0.3s ease-out;
        transition: opacity 0.3s linear, left 0.3s ease-out;
    }

        #container .modal.fade.in {
            left: 50%;
        }

    #container .modal-body {
        max-height: 50px;
    }

    #article-editor {
        width: 600px;
        margin-left: -300px;
        margin-right: -300px;
    }

    .data-row .data-name
    {
        padding: 10px 5px 10px 5px;
    }

    .form-control
    {
        max-width:30%;
        display:inline-flex;
    }

    .aboutme
    {
        max-width: 100%;
        max-height: 200px;
    }

    label.form-control
    {
        font-weight:500;
    }

    .data-row .data-name 
    {
        width: 20em;
    }
</style>

@*@Html.Partial("~/Views/Home/Partial/Footer.cshtml", Model)*@
