@using InsuranceWebsite.Models
@using MVCGrid.Web
@model BannerModelObject

@{
    ViewBag.Title = Resources.Resources.HomePageTitle;
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

@*@Scripts.Render("~/bundles/jquery")*@
@Scripts.Render("~/bundles/jqueryval")

@*@Html.Partial("~/Views/Home/Partial/NavBar.cshtml", Model)*@

<!-- Timeline content -->

<div class="container" @*style="margin-top:50px;"*@>

    <div class="col-md-12 no-paddin-xs" style="background-color:#E4E7E8">

        <div class="row">

            @*@Html.Partial("~/Views/Home/Partial/SideNavBar.cshtml", Model)*@

            <div class="col-md-6 no-paddin-xs">
                <div class="row">
                    <div class="row">

                        <!-- Timeline content -->
                        <div class="container container-timeline" style="margin:15px;">
                            <div class="col-md-11 no-paddin-xs" style="background-color:white; padding:20px;width:90%">

                                @*<input type="button" id="addNewBanner" class="btn btn-info btn-xs btn-panel-home" value="@Resources.Resources.AddNewBanner" />*@

                                @*@using (Html.BeginForm("CreateBanner", "BannersManagement", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken();
                                    @Html.Label(Resources.Resources.Description)
                                    @Html.TextBoxFor(i => i.newBanner.Description, new { @class = "text ui-widget-content ui-corner-all", id = "description" })
                                    @Html.ValidationMessageFor(i => i.newBanner.Description)
                                    @Html.Label(Resources.Resources.Banner)
                                    @Html.TextBoxFor(i => i.newBanner.ID_Banner_Type, new { type = "file", @class = "text ui-widget-content ui-corner-all", name = "fileUploaderControl", id = "fileUploaderControl" })
                                    @Html.Label(Resources.Resources.StartDate)
                                    @Html.TextBoxFor(model => model.newBanner.StartDate, new { @class = "date-picker text ui-widget-content ui-corner-all", id = "startdate" })
                                    @Html.Label(Resources.Resources.DueDate)
                                    @Html.TextBoxFor(model => model.newBanner.DueDate, new { @class = "date-picker text ui-widget-content ui-corner-all", id = "duedate" })

                                    <input type="submit" value="Save Banner" />
                                }*@

                                @using (Html.BeginForm("CreateBanner", "BannersManagement", FormMethod.Post, new { @class = "", enctype = "multipart/form-data" }))
                                {
                                    @Html.HiddenFor(i => i.ID)

                                    @Html.TextBoxFor(i => i.Description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(i => i.Description)
                                    @Html.TextBoxFor(i => i.StartDate, new { @class = "form-control date-picker" })
                                    @Html.ValidationMessageFor(i => i.StartDate)

                                    <input type="submit" class="btn btn-success btn-block" value="@Resources.Resources.Save" />
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--end right  content-->

        </div>

    </div>

</div><!-- end timeline content-->

@*@Html.Partial("~/Views/BannersManagement/Partial/CreateBannerModalView.cshtml", new BannerModelObject())*@

@*@Html.Partial("~/Views/Home/Partial/Footer.cshtml", Model)*@


<script>

    $(function () {
        $('.date-picker').datepicker();
    });

</script>