@using InsuranceWebsite.Models
@using MVCGrid.Web
@model BannerModelObject

@{
    ViewBag.Title = Resources.Resources.HomePageTitle;
}

@Scripts.Render("~/bundles/jqueryval")

<div id="dialog-form" title="@Resources.Resources.CreateNewBanner">

    @using (Html.BeginForm("Create", "BannersManagement", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        @Html.HiddenFor(i => i.ID);
        <p>
            @Html.Label(Resources.Resources.Description)
            @Html.TextBoxFor(i => i.Description, new { @class = "text ui-widget-content ui-corner-all", id = "description" })
            @Html.ValidationMessageFor(i => i.Description)
        </p>
        <p>
            @Html.Label(Resources.Resources.Website)
            @Html.TextBoxFor(i => i.Url, new { @class = "text ui-widget-content ui-corner-all", id = "description" })
            @Html.ValidationMessageFor(i => i.Url)
        </p>
        <p>
            @Html.Label(Resources.Resources.BannerType)
            @Html.DropDownListFor(i => i.ID_Banner_Type, Model.BannerTypesList, new { @class = "text ui-widget-content ui-corner-all", id = "bannertype", style = "width:95%;padding:.4em;" })
            @Html.ValidationMessageFor(i => i.ID_Banner_Type)
        </p>
        <p>
            @Html.Label(Resources.Resources.Banner)
            <input type="file" name="fileUploaderControl" id="fileUploaderControl" class="text ui-widget-content ui-corner-all">
        </p>
        <p>
            @Html.Label(Resources.Resources.StartDate)
            @Html.TextBoxFor(model => model.StartDate, "{0:dd/MM/yyyy}", new { @class = "date-picker text ui-widget-content ui-corner-all", id = "startdate" })
            @Html.ValidationMessageFor(i => i.StartDate)
        </p>
        <p>
            @Html.Label(Resources.Resources.DueDate)
            @Html.TextBoxFor(model => model.DueDate, "{0:dd/MM/yyyy}", new { @class = "date-picker text ui-widget-content ui-corner-all", id = "duedate" })
            @Html.ValidationMessageFor(i => i.DueDate)
        </p>
    }
</div>

<script>

    $(function () {

        $.validator.addMethod('date', function (value, element) {
            if (this.optional(element)) {
                return true;
            }

            var ok = true;
            try {
                $.datepicker.parseDate('dd/mm/yy', value);
            }
            catch (err) {
                ok = false;
            }
            return ok;
        });

        $('.date-picker').datepicker({
            dateFormat: 'dd/mm/yy'
        });

    } );

</script>