@using InsuranceWebsite.Models
@model PostViewModel

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<style>

    .ui-dialog .ui-dialog-content{
        padding: 0px !important;
        height: auto !important;
    }

</style>

<div class="panel topPanel" style="margin-bottom: 0px;">
    @using (Html.BeginForm("EditPost", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id="editForm" }))
    {
        @Html.HiddenFor(m => m.Profile.ID_User)
        @Html.HiddenFor(m => m.Profile.ID)
        @Html.HiddenFor(m => m.Post.ID)

        if (Model.Post.PostType.Token == InsuranceSocialNetworkCore.Enums.PostTypeEnum.IMAGE_POST.ToString() && null != Model.Post.PostImage && Model.Post.PostImage.Count > 0)
        {
            <textarea placeholder="@Resources.Resources.WhatsInYourMindToday" rows="1" class="form-control input-lg p-text-area" id="postContentTextarea" name="postContentTextarea" style="resize: vertical;word-break:normal;height:100px;max-height:500px; text-align:justify;">@Model.Post.Text</textarea>
            <img id="imgPlaceholderEdit" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.Post.PostImage[0].Image))" alt="" style="" />
        }
        else
        {
            <textarea placeholder="@Resources.Resources.WhatsInYourMindToday" rows="1" class="form-control input-lg p-text-area" id="postContentTextarea" name="postContentTextarea" style="resize: vertical;word-break:normal;height:300px;max-height:500px; text-align:justify;">@Model.Post.Text</textarea>
            <img id="imgPlaceholderEdit" src="#" alt="" style="visibility:hidden;position:absolute" />
        }

        <div class="panel-footer" style="border-top: 0px; padding: 10px 10px">
            <ul class="nav nav-pills">
                <li>
                    <input type='file' id="imgEditUpload" style="visibility:hidden;position:absolute" name="imgEditUpload" />
                    <a href="javascript:$('#imgEditUpload').click()" style="padding: 3px 5px">
                        <img src="~/Content/icons/home_page_rede_social_falar_seguros_AF110.png" class="icon-normal" />
                    </a>
                </li>
                <li>
                    <input type='file' id="fileEditUpload" style="visibility:hidden;position:absolute" name="fileEditUpload" />
                    <a href="javascript:$('#fileEditUpload').click()" style="padding: 3px 5px">
                        <img src="~/Content/icons/home_page_rede_social_falar_seguros_AF111.png" class="icon-normal" />
                    </a>
                </li>
            </ul>
        </div>
    }
</div>

<div class="" style="text-align:center;">
    <div class="ui-dialog-buttonset">
        <button type="button" class="ui-button ui-corner-all ui-widget" id="okButton">@Resources.Resources.Save</button>
        <button type="button" class="ui-button ui-corner-all ui-widget" id="cancelButton">@Resources.Resources.Cancel</button>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $("#cancelButton").on("click", function (e) {
            $("#dialog-confirm-edit").dialog("close");
        });

        $("#okButton").on("click", function (e) {
            $("#editForm").submit();
            $("#dialog-confirm-edit").dialog("close");
        });

        $("#imgEditUpload").change(function () {
            readURL(this);
            $("#fileEditUpload").files = null;
        });

        $("#fileEditUpload").change(function () {
            $('#imgPlaceholderEdit').attr('style', 'visibility:hidden;position:absolute');
            $('#imgPlaceholderEdit').attr('src', '');
            $("#imgEditUpload").files = null;
        });

    });

    function readURL(input) {
        
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                alert(e.target.result)
                $('#imgPlaceholderEdit').attr('style', '');
                $('#imgPlaceholderEdit').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>

@*<div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix ui-draggable-handle"><span id="ui-id-11" class="ui-dialog-title">&nbsp;</span><button type="button" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close" style="display: none;"><span class="ui-button-icon ui-icon ui-icon-closethick"></span><span class="ui-button-icon-space"> </span>Close</button></div><div id="dialog-confirm-delete" style="width: auto; min-height: 0px; max-height: none; height: 124px;" class="ui-dialog-content ui-widget-content">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        @Resources.Resources.AreYouSureToDeletePost
    </p>
</div>
<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
    <div class="ui-dialog-buttonset">
        <button type="button" class="ui-button ui-corner-all ui-widget">@Resources.Resources.Ok</button>
        <button type="button" class="ui-button ui-corner-all ui-widget">@Resources.Resources.Cancel</button>
    </div>
</div>*@

@*@Scripts.Render("~/bundles/jqueryval")*@

@*<div id="dialog-form" title="@Resources.Resources.CreateNewBanner">

    <div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix ui-draggable-handle"><span id="ui-id-11" class="ui-dialog-title">&nbsp;</span><button type="button" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close" style="display: none;"><span class="ui-button-icon ui-icon ui-icon-closethick"></span><span class="ui-button-icon-space"> </span>Close</button></div><div id="dialog-confirm-delete" style="width: auto; min-height: 0px; max-height: none; height: 124px;" class="ui-dialog-content ui-widget-content">
        <p>
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
            @Resources.Resources.AreYouSureToDeletePost
        </p>
    </div>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <div class="ui-dialog-buttonset">
            <button type="button" class="ui-button ui-corner-all ui-widget">@Resources.Resources.Ok</button>
            <button type="button" class="ui-button ui-corner-all ui-widget">@Resources.Resources.Cancel</button>
        </div>
    </div>


</div>*@
