@using InsuranceWebsite.Models
@model HomeViewModel

<style>
    .panel{
        margin-bottom: 4px !important;
    }

    .main-photo {
        max-width: 120px;
        max-height: 120px;
        border-radius: 100px;
        border: 3px solid #E3E6E8;
    }

    .profile-icon{
        max-width: 65px;
    }

    .profile-info{
        font-size: 12px;
    }

    .data-row{
        display:flex;
        margin:0px 0px 2px;
        height:34px;
    }

    .label-control{
        border:none;
        box-shadow:none;
        border-radius:0px;

    }

    .profile-label {
        font-size: 12px !important;
        font-weight: bold !important;
        padding: 10px !important;
    }

    .label-control {
        background-color: #F6F8F7;
    }
</style>

<div class="profile-info col-md-6 animated fadeInUp" style="overflow:auto;">

    @Html.Partial("./Partial/TopBannerPartialView", Model)

    <div class="panel topPanel" style="display:flex;padding:10px 0px;font-weight:bold;color:#4B5C66">
        <div style="width:calc( 50% - 60px );height:120px; display:table;justify-content: space-evenly;">
            <div style="display:table-cell;vertical-align:middle;">
                <img src="~/Content/icons/icons_perfil_rede_social_falar_seguros_v22.png" class="profile-icon" />
            </div>
            <div style="display:table-cell;vertical-align:middle;"><span style="display:block;color:#00C1DE;">@Resources.Resources.UserProfile</span>@*@Html.ActionLink(Resources.Resources.Edit, "ProfileEdit", new { userId = Model.CompanyModel.ID_User }, null)*@</div>
        </div>
        <div style="width:120px;text-align:center;">
            @if (null == Model.CompanyModel || null == Model.CompanyModel.LogoPhoto || Model.CompanyModel.LogoPhoto.Length == 0)
            {
                <img src="~/Content/images/no_photo_img.jpg" class="mini-avatar item-photo main-photo">
            }
            else
            {
                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.CompanyModel.LogoPhoto))" class="mini-avatar item-photo main-photo">
            }
        </div>
        <div style="width:calc( 50% - 60px );height:120px; text-align:right;display:table;justify-content: space-evenly;font-weight:bold;">
            <div style="display:table-cell;vertical-align:middle;"></div>
            <div style="display:table-cell;vertical-align:middle;">
                @*<img src="~/Content/icons/icons_perfil_rede_social_falar_seguros_v25.png" class="profile-icon" />*@
            </div>
        </div>
    </div>

    <div class="panel panel-white" style="display:block;padding:10px 20px;font-weight:bold;color:#4B5C66;font-size:12px;">
        <div style="padding:10px 0px;">
            <span style="font-size:14px;">@Resources.Resources.BasicInformation</span>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.Name</span>
                <label class="form-control label-control profile-label">@Html.DisplayTextFor(i => i.CompanyModel.Name)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.NIF</span>
                <label class="form-control label-control profile-label">@Html.DisplayTextFor(i => i.CompanyModel.NIF)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.BusinessName</span>
                <label class="form-control label-control profile-label">@Html.DisplayTextFor(i => i.CompanyModel.BusinessName)</label>
            </p>
        </div>
        @*<div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.Services</span>
                <label class="form-control label-control profile-label">@Html.DisplayTextFor(i => i.CompanyModel.ID_Service)</label>
            </p>
        </div>*@
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.Description</span>
                <label class="form-control label-control profile-label">@Html.DisplayTextFor(i => i.CompanyModel.Description)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.Address</span>
                <label class="form-control label-control profile-label">@Html.DisplayTextFor(i => i.CompanyModel.Address)</label>
            </p>
        </div>
        @*<div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.District</span>
                <label class="form-control label-control profile-label">@Html.DisplayTextFor(i => i.CompanyModel.District.Name)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.County</span>
                <label class="form-control label-control profile-label">@Html.DisplayTextFor(i => i.CompanyModel.County.Name)</label>
            </p>
        </div>*@
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.OfficialAgent</span>
                <label class="form-control label-control profile-label">@Html.DisplayTextFor(i => i.CompanyModel.OfficialAgent)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.OfficialPartner</span>
                <label class="form-control label-control profile-label">@Html.DisplayTextFor(i => i.CompanyModel.OfficialPartner)</label>
            </p>
        </div>
        <div>
            <p>
                @Html.ValidationMessageFor(i => i.CompanyModel.Name)
            </p><p>
                @Html.ValidationMessageFor(i => i.CompanyModel.NIF)
            </p><p>
                @Html.ValidationMessageFor(i => i.CompanyModel.BusinessName)
            </p><p>
                @Html.ValidationMessageFor(i => i.CompanyModel.Address)
            </p><p>
                @Html.ValidationMessageFor(i => i.CompanyModel.OfficialAgent)
            </p><p>
                @Html.ValidationMessageFor(i => i.CompanyModel.OfficialPartner)
            </p><p>
                @Html.ValidationMessageFor(i => i.CompanyModel.Description)
            </p>
        </div>

        <p></p>
        <div style="padding:10px 0px;">
            <span style="font-size:14px;">@Resources.Resources.ContactInformation</span>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.ContactEmail</span>
                <label class="form-control label-control profile-label">@Html.DisplayTextFor(i => i.CompanyModel.ContactEmail)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.Telephone_1</span>
                <label class="form-control label-control profile-label">@Html.DisplayTextFor(i => i.CompanyModel.Telephone_1)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.Telephone_2</span>
                <label class="form-control label-control profile-label">@Html.DisplayTextFor(i => i.CompanyModel.Telephone_2)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.MobilePhone_1</span>
                <label class="form-control label-control profile-label">@Html.DisplayTextFor(i => i.CompanyModel.MobilePhone_1)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.MobilePhone_2</span>
                <label class="form-control label-control profile-label">@Html.DisplayTextFor(i => i.CompanyModel.MobilePhone_2)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.Website</span>
                <label class="form-control label-control profile-label">@Html.DisplayTextFor(i => i.CompanyModel.Website)</label>
            </p>
        </div>
        <div>
            <p>
                @Html.ValidationMessageFor(i => i.CompanyModel.ContactEmail)
            </p><p>
                @Html.ValidationMessageFor(i => i.CompanyModel.Telephone_1)
            </p><p>
                @Html.ValidationMessageFor(i => i.CompanyModel.Telephone_2)
            </p><p>
                @Html.ValidationMessageFor(i => i.CompanyModel.MobilePhone_1)
            </p><p>
                @Html.ValidationMessageFor(i => i.CompanyModel.MobilePhone_2)
            </p><p>
                @Html.ValidationMessageFor(i => i.CompanyModel.Website)
            </p>
        </div>
    </div>

</div>


<script type="text/javascript">

    $(document).ready(function () {
        
    });

</script>
