@using InsuranceWebsite.Models
@using InsuranceSocialNetworkCore.Enums
@model NoteModelObject

@{
    ViewBag.Title = Resources.Resources.HomePageTitle;
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

@Scripts.Render("~/bundles/jqueryval")

<style>
    .panel {
        margin-bottom: 4px !important;
    }

    .main-photo {
        max-width: 120px;
        max-height: 120px;
        border-radius: 100px;
        border: 3px solid #E3E6E8;
    }

    .profile-icon {
        max-width: 65px;
    }

    .profile-info {
        font-size: 12px;
    }

    .data-row {
        display: flex;
        margin: 0px 0px 2px;
        height: 34px;
    }

    .label-control {
        border: none;
        box-shadow: none;
        border-radius: 0px;
    }

    .profile-label {
        font-size: 12px !important;
        font-weight: bold !important;
        padding: 10px !important;
    }

    .label-control {
        background-color: #F6F8F7;
    }

    .form-control input {
        width: 100% !important;
        border: 0px !important;
        background-color: transparent !important;
    }

    .profile-textarea {
        background-color: #F6F8F7;
        border-radius: 0px;
    }

    .btn-blue {
        background-color: #00C1DE;
        color: #fff;
        font-weight: bold;
        width: 100px;
        padding: 10px;
    }

    .btn-darkblue {
        background-color: #4B5C66;
        color: #fff;
        font-weight: bold;
        width: 100px;
        padding: 10px;
    }

    .ui-dialog {
        z-index: 1000 !important;
    }

    .ui-front {
        z-index: 1000 !important;
    }

    .ui-widget-overlay {
        z-index: 999 !important;
        opacity: 0.3;
    }

    .ui-dialog-titlebar {
        display: none;
    }
</style>

<div id="dialog-form" title="@Resources.Resources.EditCompany" style="padding-top:10px;">

    @using (Html.BeginForm("CreateNote", "Home", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        @Html.HiddenFor(i => i.ID_Chat);
        @Html.HiddenFor(i => i.ID_User);

        <div>
            <p class="data-row" style="display:inline;">
                <span class="data-name profile-label" style="width:100%;">@Resources.Resources.Note</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.Text, new { style= "", maxlength = "150" })</label>
                @Html.ValidationMessageFor(i => i.Text)
            </p>
        </div>

        <div>
            <input class="btn btn-blue" id="submitButton" type="submit" value="@Resources.Resources.Save" />
        </div>
    }
</div>

<script>

    $(function () {

    } );

</script>