@using InsuranceSocialNetworkDTO.Post;
@model InsuranceWebsite.Models.PostItemsViewModel

@Html.HiddenFor(m => m.Items)
@Html.HiddenFor(m => m.Profile)

<div>
    @foreach (PostDTO post in Model.Items)
    {
        <div class="panel panel-white post panel-shadow">

            <div class="post-heading">

                <div class="pull-left image" style="padding:5px">
                    <a href="@Url.Action("ProfileTimeline", "Home", new { id = post.PostOwner.ID })">
                        @if (null != post.PostOwner.ProfilePhoto && post.PostOwner.ProfilePhoto.Length > 0)
                        {
                        <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(post.PostOwner.ProfilePhoto))" class="avatar" alt="user profile image">
                        }
                        else
                        {
                        <img src="~/Content/images/no_photo_img.jpg" class="avatar" alt="user profile image">
                        }
                    </a>
                </div>

                <div class="pull-left meta" style="margin-bottom: 0px;">

                    <div class="h5" style="font-weight: bold;">

                        <a href="@Url.Action("ProfileTimeline", "Home", new { id = post.PostOwner.ID })" class="post-user-name">@post.PostOwner.FirstName</a>

                        @*@switch (post.PostType.Token)
                            {
                                case "IMAGE_POST":
                                    @Resources.Resources.UploadedPhoto;
                                    break;
                                case "TEXT_POST":
                                    @Resources.Resources.MadePost;
                                    break;
                                case "LINK_POST":
                                    @Resources.Resources.MadePost;
                                    break;
                                case "VIDEO_POST":
                                    @Resources.Resources.UploadedVideo;
                                    break;
                                default:
                                    break;
                            }*@

                    </div>

                    @if (post.PostSubject.Token == InsuranceSocialNetworkCore.Enums.PostSubjectEnum.SPONSORED_POST.ToString())
                    {
                    <h6 class="text-muted time">@Resources.Resources.Sponsored.ToUpper()</h6>
                    }
                    else
                    {
                        if (DateTime.Now.Subtract(post.CreateDate).TotalMinutes < 1)
                        {
                    <h6 class="text-muted time">@Math.Round(DateTime.Now.Subtract(post.CreateDate).TotalSeconds, 0) @Resources.Resources.SecondsAgo</h6>
                        }
                        else if (DateTime.Now.Subtract(post.CreateDate).TotalHours < 2)
                        {
                    <h6 class="text-muted time">@Math.Round(DateTime.Now.Subtract(post.CreateDate).TotalMinutes, 0) @Resources.Resources.MinutesAgo</h6>
                        }
                        else if (DateTime.Now.Subtract(post.CreateDate).TotalDays < 1)
                        {
                    <h6 class="text-muted time">@Math.Round(DateTime.Now.Subtract(post.CreateDate).TotalHours, 0) @Resources.Resources.HoursAgo</h6>
                        }
                        else if (DateTime.Now.Subtract(post.CreateDate).TotalDays == 1)
                        {
                    <h6 class="text-muted time">@Math.Round(DateTime.Now.Subtract(post.CreateDate).TotalDays, 0) @Resources.Resources.DayAgo</h6>
                        }
                        else if (DateTime.Now.Subtract(post.CreateDate).TotalDays < 3)
                        {
                    <h6 class="text-muted time">@Math.Round(DateTime.Now.Subtract(post.CreateDate).TotalDays, 0) @Resources.Resources.DaysAgo</h6>
                        }
                        else
                        {
                    <h6 class="text-muted time">@post.CreateDate.ToShortDateString()</h6>
                        }
                    }

                </div>

                <div class="pull-right">
                    @*<a onclick="alert('Opções do post a serem mostradas...')" class="stat-item">
                            <i class="glyphicon glyphicon-option-vertical icon" style="border:0px;font-size: 24px;margin-right: 10px;"></i>
                        </a>*@

                    @*<span class="context-menu-one btn btn-neutral">right click me</span>*@
                    <i class="glyphicon glyphicon-option-vertical icon context-menu-one" style="border:0px;font-size: 24px;margin-right: 10px;"></i>
                </div>

            </div>

            <div class="post-description">

                <p style="word-break: break-all;">
                    @if (post.PostType.Token == InsuranceSocialNetworkCore.Enums.PostTypeEnum.FILE_POST.ToString())
                    {
                    <a href="@Url.Action("Download", "Home", new { id = post.ID })"><i class="fa fa-file-text-o" aria-hidden="true" style="font-size:30px;padding-left: 15px;padding-right:10px;"></i></a>
                    }
                    @post.Text
                </p>

            </div>

            @if (post.PostType.Token == InsuranceSocialNetworkCore.Enums.PostTypeEnum.IMAGE_POST.ToString())
                {

                <div class="post-image">

                    @*<img src="@post.ImageSource" class="image show-in-modal" alt="image post">*@

                    <div id="gallery_@post.ID" class="image show-in-modal"></div>

                    <script>

                        $(function () {

                            $('#gallery_'+@post.ID).imagesGrid({
                                images: [
                                    {
                                        src: '@post.ImageSource'
                                    }
                                ],
                                align: true,
                                getViewAllText: function (imgsCount) { return 'View all' }
                            });

                        });

                    </script>

                </div>
            }

            <div class="post-description" style="border-top: 1px solid #eee;">

                <div class="stats">

                    @if (null != post.PostLike && post.PostLike.Count > 0 && post.PostLike.Exists(i => i.ID_User == Model.Profile.ID_User))
                    {
                    <a onclick="UnlikePost(this, @post.ID, @post.PostLike.Count)" class="stat-item" id="unlikePost" style="color:#00C1DE">
                        <i class="glyphicon glyphicon-star icon"></i><span style="padding-left: 8px;color:#4B5C66;font-size: 10px;">@post.PostLike.Count</span>
                    </a>
                    }
                    else if (null != post.PostLike && post.PostLike.Count > 0)
                    {
                    <a onclick="LikePost(this, @post.ID, @post.PostLike.Count)" class="stat-item" id="likePost">
                        <i class="glyphicon glyphicon-star icon"></i><span style="padding-left: 8px;color:#4B5C66;font-size: 10px;">@post.PostLike.Count</span>
                    </a>
                    }
                    else
                    {
                    @*<a href="@Url.Action("LikePost", "Home", new { postId = post.ID, userId = Model.Profile.ID_User })" class="stat-item">*@
                    <a onclick="LikePost(this, @post.ID, @post.PostLike.Count)" class="stat-item">
                        <i class="glyphicon glyphicon-star icon"></i>
                    </a>
                    }

                    @*<a href="#" class="stat-item">

                            <i class="fa fa-retweet icon"></i>12

                        </a>*@

                    <a class="stat-item">

                        <i class="glyphicon glyphicon-option-horizontal icon"></i>
                        @if (post.PostComment.Count > 0)
                        {
                        <span style="padding-left: 8px;color:#4B5C66;font-size: 10px;">
                            @post.PostComment.Count
                        </span>
                        }

                    </a>

                </div>

            </div>

            @*@if (post.PostSubject.Token != InsuranceSocialNetworkCore.Enums.PostSubjectEnum.SPONSORED_POST.ToString())
                {*@
            <div class="post-footer" style="border-top: 1px solid #eee;">

                @if (null != post.PostComment && post.PostComment.Count > 0)
                {
                <ul class="comments-list">

                    @foreach (PostCommentDTO comment in post.PostComment)
                        {
                        <li class="comment">

                            <a class="pull-left" href="@Url.Action("ProfileTimeline", "Home", new { id = comment.CommentOwner.ID })">

                                @if (null != comment.CommentOwner.ProfilePhoto && comment.CommentOwner.ProfilePhoto.Length > 0)
                                    {
                                    <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(comment.CommentOwner.ProfilePhoto))" class="avatar" alt="user profile image">
                                    }
                                    else
                                    {
                                    <img src="~/Content/images/no_photo_img.jpg" class="avatar" alt="user profile image">
                                    }

                            </a>

                            <div class="comment-body" style="font-size:12px">

                                <h6 class="comment-user-name"><a href="@Url.Action("ProfileTimeline", "Home", new { id = comment.CommentOwner.ID })">@comment.CommentOwner.FirstName</a></h6> @comment.Text

                                <div class="comment-heading">

                                    @if (DateTime.Now.Subtract(comment.Date).TotalMinutes < 1)
                                        {
                                        <h6 class="time">@Math.Round(DateTime.Now.Subtract(comment.Date).TotalSeconds, 0) @Resources.Resources.SecondsAgo</h6>
                                        }
                                        else if (DateTime.Now.Subtract(comment.Date).TotalHours < 1)
                                        {
                                        <h6 class="time">@Math.Round(DateTime.Now.Subtract(comment.Date).TotalMinutes, 0) @Resources.Resources.MinutesAgo</h6>
                                        }
                                        else if (DateTime.Now.Subtract(comment.Date).TotalDays < 1)
                                        {
                                        <h6 class="time">@Math.Round(DateTime.Now.Subtract(comment.Date).TotalHours, 0) @Resources.Resources.HoursAgo</h6>
                                        }
                                        else if (DateTime.Now.Subtract(comment.Date).TotalDays == 1)
                                        {
                                        <h6 class="text-muted time">@Math.Round(DateTime.Now.Subtract(comment.Date).TotalDays, 0) @Resources.Resources.DayAgo</h6>
                                        }
                                        else if (DateTime.Now.Subtract(comment.Date).TotalDays < 3)
                                        {
                                        <h6 class="time">@Math.Round(DateTime.Now.Subtract(comment.Date).TotalDays, 0) @Resources.Resources.DaysAgo</h6>
                                        }
                                        else
                                        {
                                        <h6 class="time">@comment.Date.ToShortDateString()</h6>
                                        }

                                </div>
                            </div>

                        </li>
                        }

                </ul>
                }

                @using (Html.BeginForm("NewComment", "Home", FormMethod.Post, new { @class = "commentForm" }))
                {
                <input type="hidden" id="postId" name="postId" value="@post.ID" />
                <input id="postNewComment" name="postNewComment" class="form-control add-comment-input" placeholder="@Resources.Resources.AddComment" type="text" />
                }
            </div>
            @*}*@

        </div>
    }
</div>

<ul class="context-menu-list context-menu-root" style="width: 208px; top: 194px; left: 418px; z-index: 1; display: none;">
    <li class="context-menu-item context-menu-icon context-menu-icon-edit"><span>@Resources.Resources.Edit</span></li>
    <li class="context-menu-item context-menu-icon context-menu-icon-cut"><span>@Resources.Resources.Hide</span></li>
    <li class="context-menu-item context-menu-separator context-menu-not-selectable"></li>
    <li class="context-menu-item context-menu-icon context-menu-icon-quit"><span>@Resources.Resources.Delete</span></li>
</ul>

<script type="text/javascript">
    $(function() {
        $(".commentForm").on("submit", function(e) {
            e.preventDefault();  //prevent form from submitting

            if($(e.target).parent().children(".comments-list").length == 0)
            {
                //alert("nao ha comments list");
                $(e.target).parent().prepend("<ul class=\"comments-list\"></ul>");
            }

            $(e.target).parent().children(".comments-list").append("<li class=\"comment\"><a class=\"pull-left\" href=\"/Home/ProfileTimeline/@Model.Profile.ID\"><img src=\"@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.Profile.ProfilePhoto))\" class=\"avatar\" ></a><div class=\"comment-body\" style=\"font-size:12px\"><h6 class=\"comment-user-name\"><a href=\"/Home/ProfileInfo/1\">Administrator</a></h6> " + $(e.target).children("#postNewComment").val() + "<div class=\"comment-heading\"><h6 class=\"time\">@Resources.Resources.Now</h6></div></div></li>");
            jQuery.post('@Url.Action("NewComment", "Home")',
                { postId: $(e.target).children("#postId").val(), postNewComment: $(e.target).children("#postNewComment").val(), hasNotification: true }
            )
            .done(function (data) {
                //alert("retorno do comment:" + data);
            })
            .fail(function () {
                //alert("falhou...");
            });

            $(e.target).children("#postNewComment").val("");

        });

        $.contextMenu({
            selector: '.context-menu-one',
            callback: function (key, options) {
                var m = "clicked: " + key;
                window.console && console.log(m) || alert(m);
            },
            items: {
                "edit": { name: "@Resources.Resources.Edit", icon: "edit" },
                "hide": { name: "@Resources.Resources.Hide", icon: "hide" },
                "sep1": "---------",
                "delete": { name: "@Resources.Resources.Delete", icon: "delete" }
            }
        });

        $('.context-menu-one').on('click', function (e) {
            console.log('clicked', this);
        })
    });

    function LikePost(object, postId, likesCount) {
        object.style.color = "#00C1DE";
        object.innerHTML = "<i class=\"glyphicon glyphicon-star icon\"></i><span style=\"padding-left: 8px;color:#4B5C66;font-size: 10px;\">" + (likesCount+1) + "</span>";
        likesCount = likesCount + 1;
        object.onclick = function() { UnlikePost(object, postId, likesCount); }

        jQuery.post('@Url.Action("LikePost", "Home")',
                { postId: postId }
            )
            .done(function (data) {
            })
            .fail(function () {
            });
    }

    function UnlikePost(object, postId, likesCount) {
        object.style.color = "#7f7f7f";
        if(likesCount <= 1)
        {
            object.innerHTML = "<i class=\"glyphicon glyphicon-star icon\"></i>";
        }
        else
        {
            object.innerHTML = "<i class=\"glyphicon glyphicon-star icon\"></i><span style=\"padding-left: 8px;color:#4B5C66;font-size: 10px;\">" + (likesCount-1) + "</span>";
        }
        if(likesCount > 0)
        {
            likesCount = likesCount - 1;
        }
        object.onclick = function() { LikePost(object, postId, likesCount); }

        jQuery.post('@Url.Action("UnlikePost", "Home")',
                { postId: postId }
            )
            .done(function (data) {
            })
            .fail(function () {
            });
    }

</script>
