@using InsuranceWebsite.Models
@model HomeViewModel

<style>
    .panel{
        margin-bottom: 4px !important;
    }

    .main-photo {
        max-width: 120px;
        max-height: 120px;
        border-radius: 100px;
        border: 3px solid #E3E6E8;
    }

    .profile-icon{
        max-width: 65px;
    }

    .profile-info{
        font-size: 12px;
    }

    .data-row{
        display:flex;
        margin:0px 0px 2px;
        height:34px;
    }

    .label-control {
        border: none;
        box-shadow: none;
        border-radius: 0px;
        background-color: #F6F8F7;
    }

    .profile-label {
        font-size: 12px !important;
        font-weight: bold !important;
        padding: 10px !important;
    }

    .form-control input {
        width: 100% !important;
        border: 0px !important;
        background-color: transparent !important;
    }

    .profile-textarea {
        background-color: #F6F8F7;
        border-radius: 0px;
    }

    .btn-blue {
        background-color: #00C1DE;
        color: #fff;
        font-weight: bold;
        width: 100px;
        padding: 10px;
    }

    .btn-darkblue {
        background-color: #4B5C66;
        color: #fff;
        font-weight: bold;
        width: 100px;
        padding: 10px;
    }
</style>

<div class="profile-info col-md-6 animated fadeInUp" style="overflow:auto;">

    @Html.Partial("./Partial/TopBannerPartialView", Model)

    <div class="panel topPanel" style="display:flex;padding:10px 0px;font-weight:bold;color:#4B5C66">
        <div style="width:calc( 50% - 60px );height:120px; display:table;justify-content: space-evenly;">
            <div style="display:table-cell;vertical-align:middle;">
                <img src="~/Content/icons/icons_perfil_rede_social_falar_seguros_v22.png" class="profile-icon" />
            </div>
            <div style="display:table-cell;vertical-align:middle;"><span style="display:block;color:#00C1DE;">@Resources.Resources.UserProfile</span>@Html.ActionLink(Resources.Resources.Cancel, "ProfileInfo", new { id = Model.Profile.ID }, null)</div>
        </div>
        <div style="width:120px;text-align:center;">
            @if (null == Model.Profile || null == Model.Profile.ProfilePhoto || Model.Profile.ProfilePhoto.Length == 0)
            {
                <img src="~/Content/images/no_photo_img.jpg" class="mini-avatar item-photo main-photo">
            }
            else
            {
                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.Profile.ProfilePhoto))" class="mini-avatar item-photo main-photo">
            }
        </div>
        <div style="width:calc( 50% - 60px );height:120px; text-align:right;display:table;justify-content: space-evenly;font-weight:bold;">
            <div style="display:table-cell;vertical-align:middle;">@Resources.Resources.Configurations</div>
            <div style="display:table-cell;vertical-align:middle;">
                <img src="~/Content/icons/icons_perfil_rede_social_falar_seguros_v25.png" class="profile-icon" />
            </div>
        </div>
    </div>

    <div class="panel panel-white" style="display:block;padding:10px 0px;font-weight:bold;color:#4B5C66">
        <div style="width:100%;display:flex;">
            <div style="max-width:120px;display:block;justify-content: space-evenly;text-align:center;padding:0px 10px 0px 30px;">
                <div>
                    <img src="~/Content/icons/icons_perfil_rede_social_falar_seguros_v24.png" class="profile-icon" />
                    <span style="font-size:18px;">@Model.Profile.TotalFriends</span>
                </div>
                <div style="">@Resources.Resources.Connections</div>
            </div>
            <div style="width:100%;display:flex;justify-content: space-evenly;text-align:center;align-self:center;">
                <div style="display:table-cell;vertical-align:middle;font-size:14px;font-weight:normal;color:#6F7D85;">
                    <span style="display:block;font-size:20px;font-weight:bold;padding-bottom:10px;color:#4B5C66;">@Model.Profile.FirstName @Model.Profile.LastName</span>
                    @if (string.IsNullOrEmpty(Model.Profile.CompanyName))
                    {
                        <span style="display:block;font-weight:bold;">-</span>
                    }
                    else
                    {
                        <span style="display:block;font-weight:bold;">@Model.Profile.CompanyName</span>
                    }

                    @if (!Model.Profile.ID_District.HasValue)
                    {
                        if (!Model.Profile.ID_County.HasValue)
                        {
                            if (!Model.Profile.ID_Parish.HasValue)
                            {
                                <span>-</span>
                            }
                            else
                            {
                                <span>@Model.Profile.Parish.Name</span>

                            }
                        }
                        else
                        {
                            if (!Model.Profile.ID_Parish.HasValue)
                            {
                                <span>@Model.Profile.County.Name</span>
                            }
                            else
                            {
                                <span>@Model.Profile.Parish.Name, @Model.Profile.County.Name</span>

                            }
                        }
                    }
                    else
                    {
                        if (!Model.Profile.ID_County.HasValue)
                        {
                            if (!Model.Profile.ID_Parish.HasValue)
                            {
                                <span>@Model.Profile.District</span>
                            }
                            else
                            {
                                <span>@Model.Profile.Parish.Name, @Model.Profile.District.Name</span>

                            }
                        }
                        else
                        {
                            if (!Model.Profile.ID_Parish.HasValue)
                            {
                                <span>@Model.Profile.County.Name, @Model.Profile.District.Name</span>

                            }
                            else
                            {
                                <span>@Model.Profile.Parish.Name, @Model.Profile.County.Name, @Model.Profile.District.Name</span>

                            }
                        }
                    }
                </div>
            </div>
            <div style="max-width:120px;text-align:center;display:block;justify-content: space-evenly;padding:0px 30px 0px 10px;">
                <div>
                    <img src="~/Content/icons/icons_perfil_rede_social_falar_seguros_AF4.png" class="profile-icon" />
                    <span style="font-size:18px;">@Model.Profile.TotalLikes</span>
                </div>
                <div style="">@Resources.Resources.Likes</div>
            </div>
        </div>
    </div>

    <div class="panel panel-white" style="padding:20px;">
        <div style="width:100%;display:block;text-align:center;">
            @if (string.IsNullOrEmpty(Model.Profile.Facebook))
            {
                <img style="max-width:40px;" src="~/Content/icons/icons_perfil_rede_social_falar_seguros_AF3.png" />
            }
            else
            {
                <a href="@Model.Profile.Facebook" target="_blank" class="" style="border-radius:3px;color:#00C1DE;"><img style="max-width:40px;" src="~/Content/icons/icons_perfil_rede_social_falar_seguros_AF3.png" /></a>
            }
            <span style="padding:10px;"></span>
            @if (string.IsNullOrEmpty(Model.Profile.Facebook))
            {
                <img style="max-width:40px;" src="~/Content/icons/icons_perfil_rede_social_falar_seguros_AF2.png" />
            }
            else
            {
                <a href="@Model.Profile.Twitter" target="_blank" class="" style="border-radius:3px;color:#00C1DE;"><img style="max-width:40px;" src="~/Content/icons/icons_perfil_rede_social_falar_seguros_AF2.png" /></a>
            }
            <span style="padding:10px;"></span>
            @if (string.IsNullOrEmpty(Model.Profile.Facebook))
            {
                <img style="max-width:40px;" src="~/Content/icons/icons_perfil_rede_social_falar_seguros_AF.png" />
            }
            else
            {
                <a href="@Model.Profile.GooglePlus" target="_blank" class="" style="border-radius:3px;color:#00C1DE;"><img style="max-width:40px;" src="~/Content/icons/icons_perfil_rede_social_falar_seguros_AF.png" /></a>
            }
        </div>
    </div>

    @*<div class="panel panel-white" style="display:block;padding:10px 0px;font-weight:bold;color:#4B5C66">
        <div style="width:100%;text-align:center;display:table;">
            <div style="display:table-cell;vertical-align:middle;"><span style="display:block;font-size:20px;">@Model.Profile.FirstName @Model.Profile.LastName</span>@Model.Profile.Address</div>
        </div>
        <div style="width:100%;display:flex;">
            <div style="width:33%;display:block;justify-content: space-evenly;text-align:center;">
                <div>
                    <img src="~/Content/icons/icons_perfil_rede_social_falar_seguros_v24.png" class="profile-icon" />
                    <span style="font-size:18px;">000</span>
                </div>
                <div style="">@Resources.Resources.Contacts</div>
            </div>
            <div style="width:34%;display:block;justify-content: space-evenly;text-align:center;">
                <div>
                    <img src="~/Content/icons/icons_perfil_rede_social_falar_seguros_v24.png" class="profile-icon" />
                    <span style="font-size:18px;">000</span>
                </div>
                <div style="">@Resources.Resources.Likes</div>
            </div>
            <div style="width:33%;text-align:center;display:block;justify-content: space-evenly;">
                <div>
                    <img src="~/Content/icons/icons_perfil_rede_social_falar_seguros_v24.png" class="profile-icon" />
                    <span style="font-size:18px;">000</span>
                </div>
                <div style="">@Resources.Resources.Followers</div>
            </div>
        </div>
    </div>

    <div class="panel panel-white">
        <div style="width:100%;display:flex;text-align:center;">

        </div>
    </div>*@

    <div class="panel panel-white" style="display:block;padding:10px 20px;font-weight:bold;color:#4B5C66;font-size:12px;">
@using (Html.BeginForm("ProfileSave", "Home", FormMethod.Post, new { @class = "", enctype = "multipart/form-data", id = "profileInformationForm" }))
{
    @Html.HiddenFor(i => i.ProfileEditModel.ID)
        <div style="padding:10px 0px;">
            <span style="font-size:14px;">@Resources.Resources.BasicInformation</span>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.FirstName</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.FirstName)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.LastName</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.LastName)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.BirthDate</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.Birthdate)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.CompanyName</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.CompanyName)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.RegisterDate</span>
                <label class="form-control label-control profile-label">@Html.DisplayTextFor(i => i.ProfileEditModel.CreateDate)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.Address</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.Address)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.PostalCode</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.PostalCode)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.District</span>
                <label class="form-control label-control profile-label" style="padding: 3px !important;">@Html.DropDownListFor(i => i.ProfileEditModel.ID_District, Model.ProfileEditModel.DistrictList, new { @class = "text ui-widget-content ui-corner-all", @style = "color:#777;min-height:28px;width:100%;", @placeholder = Resources.Resources.Location, id = "districtList" })</label>
                @Html.HiddenFor(i => i.ProfileEditModel.ID_District, new { id = "districtId" })
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.County</span>
                <label class="form-control label-control profile-label" style="padding: 3px !important;">@Html.DropDownListFor(i => i.ProfileEditModel.ID_County, Model.ProfileEditModel.CountyList, new { @class = "text ui-widget-content ui-corner-all", @style = "color:#777;min-height:28px;width:100%;", @placeholder = Resources.Resources.Location, id = "countyList" })</label>
                @Html.HiddenFor(i => i.ProfileEditModel.ID_County, new { id = "countyId" })
            </p>
        </div>
        @*<div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.Locality</span>
                <label class="form-control label-control profile-label" style="padding: 3px !important;">@Html.DropDownListFor(i => i.ProfileEditModel.ID_Parish, Model.ProfileEditModel.ParishList, new { @class = "text ui-widget-content ui-corner-all", @style = "color:#777;min-height:28px;width:100%;", @placeholder = Resources.Resources.Location, id = "parishList" })</label>
                @Html.HiddenFor(i => i.ProfileEditModel.ID_Parish, new { id = "parishId" })
            </p>
        </div>*@
        <div>
            @Html.ValidationMessageFor(i => i.ProfileEditModel.FirstName)
            @Html.ValidationMessageFor(i => i.ProfileEditModel.LastName)
        </div>

        <p></p>
        <div style="padding:10px 0px;">
            <span style="font-size:14px;">@Resources.Resources.ContactInformation</span>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.ContactEmail</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.ContactEmail)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.Website</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.Website)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.Telephone_1</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.Telephone_1)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.Telephone_2</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.Telephone_2)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.MobilePhone_1</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.MobilePhone_1)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.MobilePhone_2</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.MobilePhone_2)</label>
            </p>
        </div>
        <div>
            @Html.ValidationMessageFor(i => i.ProfileEditModel.ContactEmail)
            @Html.ValidationMessageFor(i => i.ProfileEditModel.Website)
        </div>

        <p></p>
        <div style="padding:10px 0px;">
            <span style="font-size:14px;">@Resources.Resources.SocialNetworks</span>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.Facebook</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.Facebook)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.Twitter</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.Twitter)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.GooglePlus</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.GooglePlus)</label>
            </p>
        </div>
        <div>
            @Html.ValidationMessageFor(i => i.ProfileEditModel.Facebook)
            @Html.ValidationMessageFor(i => i.ProfileEditModel.Twitter)
            @Html.ValidationMessageFor(i => i.ProfileEditModel.GooglePlus)
        </div>

        <p></p>
        <div style="padding:10px 0px;">
            <span style="font-size:14px;">@Resources.Resources.AboutMe</span>
        </div>
        <div>
            @Html.TextAreaFor(i => i.ProfileEditModel.AboutMe, new { @class = "form-control aboutme profile-textarea", @style = "resize:none;scroll-behaviour:auto;font-weight:normal;" })
        </div>

        <p></p>
        <div style="padding:10px 0px;">
            <span style="font-size:14px;">@Resources.Resources.CompaniesWorkingWith</span>
        </div>
        <div style="padding:10px 0px;display:flex;">
            @*@Html.TextAreaFor(i => i.ProfileEditModel.AllowedEmailsText, new { @class = "form-control aboutme profile-textarea", @disabled = "disabled", @style = "resize:none;scroll-behaviour:auto;font-weight:normal;" })*@
            <div style="width: 50%;margin-right: 5px;height:152px;">
                @Html.ListBox("AvailableCompanies", new MultiSelectList(Model.ProfileEditModel.AvailableCompaniesToWorkWith, "Value", "Text"), new { @class = "form-control listbox", id = "availableCompaniesListbox", style = "display: inline-flex;height:100%;" })
            </div>
            <div style="width:50%;">
                <div style="width: 100%;margin-right: 5px;">
                    @Html.ListBoxFor(m => m.ProfileEditModel.SelectedCompaniesWorkingWith, new MultiSelectList(Model.ProfileEditModel.CompaniesWorkingWith, "Value", "Text"), new { @class = "form-control listbox", id = "companiesListbox", style = "display: inline-flex;min-height: 120px;" })
                </div>
                <div>
                    <img src="~/Content/icons/icons_perfil_rede_social_falar_seguros_v210.png" class="profile-icon" style="max-width:30px;" id="removeCompany" />
                    <img src="~/Content/icons/icons_perfil_rede_social_falar_seguros_v29.png" class="profile-icon" style="max-width:30px;" id="addCompany" />
                    <img src="~/Content/icons/icons_perfil_rede_social_falar_seguros_v216.png" class="profile-icon" style="max-width:30px;float:right;" id="moveCompanyDown" />
                    <img src="~/Content/icons/icons_perfil_rede_social_falar_seguros_v217.png" class="profile-icon" style="max-width:30px;float:right;" id="moveCompanyUp" />
                </div>
            </div>
        </div>
        @*<div>
            @Html.TextAreaFor(i => i.ProfileEditModel.CompaniesWorkingWith, new { @class = "form-control aboutme profile-textarea", @disabled = "disabled", @style = "resize:none;scroll-behaviour:auto;font-weight:normal;" })
            
        </div>*@

        <p></p>
        <div style="padding:10px 0px;">
            <span style="font-size:14px;">@Resources.Resources.AllowedEmailDomains</span>
        </div>
        <div style="padding:10px 0px;display:flex;">
            @*@Html.TextAreaFor(i => i.ProfileEditModel.AllowedEmailsText, new { @class = "form-control aboutme profile-textarea", @disabled = "disabled", @style = "resize:none;scroll-behaviour:auto;font-weight:normal;" })*@
            <div style="width: 100%;margin-right: 5px;">
                @Html.ListBoxFor(m => m.ProfileEditModel.SelectedAllowedEmails, new MultiSelectList(Model.ProfileEditModel.AllowedEmails, "Text", "Text"), new { @class = "form-control listbox", id = "emailListbox", style = "display: inline-flex;min-height: 120px;" })
            </div>
            <div>
                <input type="email" id="emailDomainTextbox" style="width: 100%;border: 4px solid lightgrey;height: 40px;" placeholder="@Resources.Resources.InsertEmail"  />
                <input type="button" style="width:100%;" class="btn btn-blue" value="@Resources.Resources.AddEmail" id="addEmailDomain" />
                <input type="button" style="width:100%;" class="btn btn-darkblue" value="@Resources.Resources.RemoveEmail" id="removeEmailDomain" />
            </div>
        </div>

        <p></p>
        <div class="action-buttons" style="display:block; text-align:center;">
            @Html.ActionLink(Resources.Resources.Cancel, "ProfileInfo", new { id = Model.Profile.ID }, new { @class = "btn btn-darkblue" })
            <input type="button" class="btn btn-blue" value="@Resources.Resources.Save" id="submitButton" />
        </div>
}
    </div>

</div>


<script type="text/javascript">

    $(document).ready(function () {
        var ddlCounties = $("#countyList"); //dropdownlist for counties
        var ddlParishes = $("#parishList"); //dropdownlist for parishes

        if ($("#countyId").val() == null || $("#countyId").val() == '')
        {
            $('#countyList').prop('disabled', true);
        }
        
        if ($("#parishId").val() == null || $("#parishId").val() == '') {
            $('#parishList').prop('disabled', true);
        }
        
        $("#districtList").change(function () {
            var selectedItem = $("#districtList").val(); //dropdownlist for states

            $('#countyList').prop('disabled', false);

            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetCountiesByDistrict", "Home")',
                data: { "districtId": selectedItem },
                success: function (data) {
                    ddlCounties.html('')
                    $.each(data, function (id, option) {
                        ddlCounties.append($('<option></option>').val(option.Value).html(option.Text));
                    });
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve counties.');
                }
            });

        });

        $("#countyList").change(function () {
            var selectedItem = $("#countyList").val(); //dropdownlist for states

            $('#parishList').prop('disabled', false);

            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetParishesByCounty", "Home")',
                data: { "countyId": selectedItem },
                success: function (data) {
                    ddlParishes.html('')
                    $.each(data, function (id, option) {
                        ddlParishes.append($('<option></option>').val(option.Value).html(option.Text));
                    });
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve parishes.');
                }
            });

        });

        $("#addEmailDomain").click(function () {
            if ($('#emailDomainTextbox').val() == null || $('#emailDomainTextbox').val() == '')
                return;

            if (!$('#emailDomainTextbox').valid())
                return;

            $('#emailListbox').append('<option value="' + $('#emailDomainTextbox').val() + '">' + $('#emailDomainTextbox').val() + '</option>');
            $('#emailDomainTextbox').val('');
        });

        $('#removeEmailDomain').click(function () {
            $("#emailListbox option:selected").remove();
        });

        $("#submitButton").click(function () {
            $('#emailListbox option').prop('selected', true);
            $('#companiesListbox option').prop('selected', true);
            $("#profileInformationForm").submit();
        });

        $('#addCompany').click(function (e) {
            var selectedOpts = $('#availableCompaniesListbox option:selected');
            if (selectedOpts.length == 0) {
                //alert("Nothing to move.");
                e.preventDefault();
            }
            $('#companiesListbox').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });
        //$('#btnAllRight').click(function (e) {
        //    var selectedOpts = $('#lstBox1 option');
        //    if (selectedOpts.length == 0) {
        //        alert("Nothing to move.");
        //        e.preventDefault();
        //    }
        //    $('#lstBox2').append($(selectedOpts).clone());
        //    $(selectedOpts).remove();
        //    e.preventDefault();
        //});
        $('#removeCompany').click(function (e) {
            var selectedOpts = $('#companiesListbox option:selected');
            if (selectedOpts.length == 0) {
                //alert("Nothing to move.");
                e.preventDefault();
            }
            $('#availableCompaniesListbox').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });
        //$('#btnAllLeft').click(function (e) {
        //    var selectedOpts = $('#lstBox2 option');
        //    if (selectedOpts.length == 0) {
        //        alert("Nothing to move.");
        //        e.preventDefault();
        //    }
        //    $('#lstBox1').append($(selectedOpts).clone());
        //    $(selectedOpts).remove();
        //    e.preventDefault();
        //});
        $('#moveCompanyUp').click(function (e) {

            var selectedOption = $('#companiesListbox option:selected');
            var nextOption = $('#companiesListbox option:selected').next("option");

            if ($(nextOption).text() != "") {
                $(selectedOption).remove();
                $(nextOption).after($(selectedOption));
            }
        });

        $('#moveCompanyDown').click(function (e) {

            var selectedOption = $('#companiesListbox option:selected');
            var prevOption = $('#companiesListbox option:selected').prev("option");

            if ($(prevOption).text() != "") {
                $(selectedOption).remove();
                $(prevOption).before($(selectedOption));
            }
        });
    });

</script>
