@using InsuranceWebsite.Models
@model HomeViewModel

<style>
    .panel {
        margin-bottom: 4px !important;
    }

    .main-photo {
        max-width: 120px;
        max-height: 120px;
        border-radius: 100px;
        border: 3px solid #E3E6E8;
    }

    .profile-icon {
        max-width: 65px;
    }

    .profile-info {
        font-size: 12px;
    }

    .data-row {
        display: flex;
        margin: 0px 0px 2px;
        height: 34px;
    }

    .label-control {
        border: none;
        box-shadow: none;
        border-radius: 0px;
    }

    .profile-label {
        font-size: 12px !important;
        font-weight: bold !important;
        padding: 10px !important;
    }

    .label-control {
        background-color: #F6F8F7;
    }
</style>

<div class="profile-info col-md-6 animated fadeInUp" style="padding-bottom:30px;overflow:auto;">

    @Html.Partial("./Partial/TopBannerPartialView", Model)

    <div class="panel topPanel" style="display:flex;padding:10px 0px;font-weight:bold;color:#4B5C66">
        <div style="width:calc( 50% - 60px );display:block;justify-content: space-evenly;text-align:center;font-size:16px;padding-top:10px;padding-right:20px;">
            <div style="display:inline-grid;">
                <img src="~/Content/icons/icons_perfil_rede_social_falar_seguros_v24.png" class="profile-icon" />
                <span style="font-size:18px;">@Model.ProfileInfo.TotalFriends</span>
            </div>
            <div style="">@Resources.Resources.Connections</div>
        </div>
        <div style="width:120px;text-align:center;">
            @if (null == Model.Profile || null == Model.ProfileInfo.ProfilePhoto || Model.ProfileInfo.ProfilePhoto.Length == 0)
            {
                <img src="~/Content/images/no_photo_img.jpg" class="mini-avatar item-photo main-photo">
            }
            else
            {
                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.ProfileInfo.ProfilePhoto))" class="mini-avatar item-photo main-photo">
            }
        </div>
        <div style="width:calc( 50% - 60px );display:block;justify-content: space-evenly;text-align:center;font-size:16px;padding-top:10px;padding-left:20px;">
            <div style="display:inline-grid;">
                <img src="~/Content/icons/icons_perfil_rede_social_falar_seguros_AF4.png" class="profile-icon" />
                <span style="font-size:18px;">@Model.ProfileInfo.TotalLikes</span>
            </div>
            <div style="">@Resources.Resources.Likes</div>
        </div>
    </div>

    <div class="panel panel-white" style="display:block;padding:10px 0px;font-weight:bold;">
        <div style="width:100%;text-align:center;display:table;padding-bottom:10px;color:#6F7D85;">
            <div style="display:table-cell;vertical-align:middle;">
                <span style="display:block;font-size:20px;color:#4B5C66;padding-bottom:10px;">@Model.ProfileInfo.FirstName @Model.ProfileInfo.LastName</span>
                @if (string.IsNullOrEmpty(Model.ProfileInfo.CompanyName))
            {
            <span style="display:block;font-weight:bold;">-</span>
            }
            else
            {
            <span style="display:block;font-weight:bold;">@Model.ProfileInfo.CompanyName</span>
            }

                @if (!Model.ProfileInfo.ID_District.HasValue)
            {
                if (!Model.ProfileInfo.ID_County.HasValue)
                {
                    if (!Model.ProfileInfo.ID_Parish.HasValue)
                    {
            <span>-</span>
                    }
                    else
                    {
            <span>@Model.ProfileInfo.Parish.Name</span>

                    }
                }
                else
                {
                    if (!Model.ProfileInfo.ID_Parish.HasValue)
                    {
            <span>@Model.ProfileInfo.County</span>
                    }
                    else
                    {
            <span>@Model.ProfileInfo.Parish.Name, @Model.ProfileInfo.County.Name</span>

                    }
                }
            }
            else
            {
                if (!Model.ProfileInfo.ID_County.HasValue)
                {
                    if (!Model.ProfileInfo.ID_Parish.HasValue)
                    {
            <span>@Model.ProfileInfo.District.Name</span>
                    }
                    else
                    {
            <span>@Model.ProfileInfo.Parish.Name, @Model.ProfileInfo.District.Name</span>

                    }
                }
                else
                {
                    if (!Model.ProfileInfo.ID_Parish.HasValue)
                    {
            <span>@Model.ProfileInfo.County.Name, @Model.ProfileInfo.District.Name</span>

                    }
                    else
                    {
            <span>@Model.ProfileInfo.Parish.Name, @Model.ProfileInfo.County.Name, @Model.ProfileInfo.District.Name</span>

                    }
                }
            }
            </div>
        </div>
        <div style="width:100%;text-align:center;display:grid;font-size:14px;">
            <div style="display:table-cell;vertical-align:middle;"><span style="display:block;">@Html.ActionLink(Resources.Resources.SendMessage, "SendMessage", new { id = Model.ProfileInfo.ID }, new { style= "color:#4B5C66;" })</span></div>
            @if (Model.IsFriend)
            {
                <div style="display:table-cell;vertical-align:middle;color:#00C1DE;"><span style="display:block;color:#00C1DE;">@Resources.Resources.Connected</span></div>
            }
            else if (Model.IsFriendRequested)
            {
                <div style="display:table-cell;vertical-align:middle;cursor:pointer;color:#00C1DE;">@Resources.Resources.FriendRequestPending</div>
            }
            else if (Model.IsFriendRequest && !Model.IsOwnProfile)
            {
                <div id="requestControlButtons" style="display:inline-block;text-align:center;">
                    <div style="display:inline-flex;vertical-align:middle;cursor:pointer;"><a class="" style="border-radius:3px;color:#00C1DE;" id="btnAcceptFriend" onclick="acceptFriendFunction(this, '@Model.ProfileInfo.ID_User')">@Resources.Resources.AcceptRequest</a></div>
                    <div style="width:20px;height:20px;display:inline-flex;"></div>
                    <div style="display:inline-flex;vertical-align:middle;cursor:pointer;"><a class="" style="border-radius:3px;color:#00C1DE;" id="btnIgnoreFriend" onclick="ignoreFriendFunction(this, '@Model.ProfileInfo.ID_User')">@Resources.Resources.IgnoreRequest</a></div>
                </div>
            }
            else
            {
                <div style="display:table-cell;vertical-align:middle;cursor:pointer;"><a class="" style="border-radius:3px;color:#00C1DE;" id="btnAddFriend" onclick="addFriendFunction(this, @Model.ProfileInfo.ID)">@Resources.Resources.Connect</a></div>
            }
        </div>
    </div>

    <div class="panel panel-white" style="padding:20px;">
        <div style="width:100%;display:block;text-align:center;">
            @if (string.IsNullOrEmpty(Model.ProfileInfo.Facebook))
            {
            <img style="max-width:40px;" src="~/Content/icons/icons_perfil_rede_social_falar_seguros_AF3.png" />
            }
            else
            {
            <a href="@Model.ProfileInfo.Facebook" target="_blank" class="" style="border-radius:3px;color:#00C1DE;"><img style="max-width:40px;" src="~/Content/icons/icons_perfil_rede_social_falar_seguros_AF3.png" /></a>
            }
            <span style="padding:10px;"></span>
            @if (string.IsNullOrEmpty(Model.ProfileInfo.Facebook))
            {
            <img style="max-width:40px;" src="~/Content/icons/icons_perfil_rede_social_falar_seguros_AF2.png" />
            }
            else
            {
            <a href="@Model.ProfileInfo.Twitter" target="_blank" class="" style="border-radius:3px;color:#00C1DE;"><img style="max-width:40px;" src="~/Content/icons/icons_perfil_rede_social_falar_seguros_AF2.png" /></a>
            }
            <span style="padding:10px;"></span>
            @if (string.IsNullOrEmpty(Model.ProfileInfo.Facebook))
            {
            <img style="max-width:40px;" src="~/Content/icons/icons_perfil_rede_social_falar_seguros_AF.png" />
            }
            else
            {
            <a href="@Model.ProfileInfo.GooglePlus" target="_blank" class="" style="border-radius:3px;color:#00C1DE;"><img style="max-width:40px;" src="~/Content/icons/icons_perfil_rede_social_falar_seguros_AF.png" /></a>
            }
        </div>
    </div>

    <div class="panel panel-white" style="width:100%;display:grid;text-align:center;font-weight:bold;color:#4B5C66;font-size:16px;padding:20px 0px;min-height:80px;">
        <span>@Resources.Resources.BirthDate</span>
        @if (Model.ProfileInfo.Birthdate.HasValue)
        {
            <span style="color:#00C1DE;">@Model.ProfileInfo.Birthdate.Value.ToShortDateString()</span>
        }
        else
        {
            <span style="color:#00C1DE;">-</span>
        }
    </div>

    <div class="panel panel-white" style="display:block;padding:10px 20px;font-weight:bold;color:#4B5C66;font-size:12px;min-height:80px;">
        <div style="padding:10px 0px;">
            <span style="font-size:14px;">@Resources.Resources.AboutMe</span>
        </div>
        <div style="font-weight:normal;">
            @Model.ProfileInfo.AboutMe
        </div>
    </div>
    <div class="panel panel-white" style="display:block;padding:10px 20px;font-weight:bold;color:#4B5C66;font-size:12px;min-height:80px;">
        <div style="padding:10px 0px;">
            <span style="font-size:14px;">@Resources.Resources.CompaniesWorkingWith</span>
        </div>
        <div>
            @Html.ListBoxFor(m => m.SelectedCompaniesWorkingWith, new MultiSelectList(Model.CompaniesWorkingWith, "Value", "Text"), new { @class = "form-control listbox", id = "companiesListbox", style = "display: inline-flex;min-height: 100px;", disabled = "disabled" })
        </div>
    </div>

    <div class="panel panel-white" style="display:block;padding:10px 20px 30px 20px;font-weight:bold;color:#4B5C66;font-size:12px;">
        <div style="padding:10px 0px;">
            <span style="font-size:14px;">@Resources.Resources.ContactInformation</span>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.ContactEmail</span>
                <label class="form-control label-control profile-label">@Html.DisplayTextFor(i => i.ProfileInfo.ContactEmail)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.Website</span>
                <label class="form-control label-control profile-label">@Html.DisplayTextFor(i => i.ProfileInfo.Website)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.Telephone_1</span>
                <label class="form-control label-control profile-label">@Html.DisplayTextFor(i => i.ProfileInfo.Telephone_1)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.Telephone_2</span>
                <label class="form-control label-control profile-label">@Html.DisplayTextFor(i => i.ProfileInfo.Telephone_2)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.MobilePhone_1</span>
                <label class="form-control label-control profile-label">@Html.DisplayTextFor(i => i.ProfileInfo.MobilePhone_1)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.MobilePhone_2</span>
                <label class="form-control label-control profile-label">@Html.DisplayTextFor(i => i.ProfileInfo.MobilePhone_2)</label>
            </p>
        </div>
    </div>

</div>


<script type="text/javascript">

    $(document).ready(function () {

    });

    function addFriendFunction(object, userId) {
        object.style.display = "none";

        jQuery.post('@Url.Action("AddFriend", "Home")',
                { id: userId }
            )
            .done(function (data) {})
            .fail(function () {
                object.style.display = "block";
            });
    }

    function acceptFriendFunction(object, userId) {
        $("#requestControlButtons").prop('display', 'none');
        //object.style.display = "none";

        jQuery.post('@Url.Action("AcceptFriendRequest", "Home")',
                { id: userId }
            )
            .done(function (data) {
                location.reload(true);
            })
            .fail(function () {
                //object.style.display = "block";
                $("#requestControlButtons").prop('display', 'inline-block');
            });
    }

    function ignoreFriendFunction(object, userId) {
        $("#requestControlButtons").prop('display', 'none');
        //object.style.display = "none";

        jQuery.post('@Url.Action("IgnoreFriendRequest", "Home")',
                { id: userId }
            )
            .done(function (data) {
                location.reload(true);
            })
            .fail(function () {
                //object.style.display = "block";
                $("#requestControlButtons").prop('display', 'inline-block');
            });
    }

</script>
