@using InsuranceWebsite.Models
@model HomeViewModel

<style>
    .panel{
        margin-bottom: 4px !important;
    }

    .main-photo {
        max-width: 120px;
        max-height: 120px;
        border-radius: 100px;
        border: 3px solid #E3E6E8;
    }

    .profile-icon{
        max-width: 65px;
    }

    .profile-info{
        font-size: 12px;
    }

    .data-row{
        display:flex;
        margin:0px 0px 2px;
        height:34px;
    }

    .label-control{
        border:none;
        box-shadow:none;
        border-radius:0px;

    }

    .profile-label {
        font-size: 12px !important;
        font-weight: bold !important;
        padding: 10px !important;
    }

    .label-control {
        background-color: #F6F8F7;
    }

    .form-control input {
        width: 100% !important;
        border: 0px !important;
        background-color: transparent !important;
    }

    .profile-textarea {
        background-color: #F6F8F7;
        border-radius: 0px;
    }

    .btn-blue {
        background-color: #00C1DE;
        color: #fff;
        font-weight: bold;
        width: 100px;
        padding: 10px;
    }

    .btn-darkblue {
        background-color: #4B5C66;
        color: #fff;
        font-weight: bold;
        width: 100px;
        padding: 10px;
    }
</style>

<div class="profile-info col-md-6 animated fadeInUp">

    @Html.Partial("./Partial/TopBannerPartialView", Model)

    <div class="panel topPanel" style="display:flex;padding:10px 0px;font-weight:bold;color:#4B5C66">
        <div style="width:calc( 50% - 60px );height:120px; display:table;justify-content: space-evenly;">
            <div style="display:table-cell;vertical-align:middle;">
                <img src="~/Content/icons/icons_perfil_rede_social_falar_seguros_v22.png" class="profile-icon" />
            </div>
            <div style="display:table-cell;vertical-align:middle;"><span style="display:block;color:#00C1DE;">@Resources.Resources.UserProfile</span>@Html.ActionLink(Resources.Resources.Cancel, "ProfileInfo", new { id = Model.Profile.ID }, null)</div>
        </div>
        <div style="width:120px;text-align:center;">
            @if (null == Model.Profile || null == Model.Profile.ProfilePhoto || Model.Profile.ProfilePhoto.Length == 0)
            {
                <img src="~/Content/images/no_photo_img.jpg" class="mini-avatar item-photo main-photo">
            }
            else
            {
                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.Profile.ProfilePhoto))" class="mini-avatar item-photo main-photo">
            }
        </div>
        <div style="width:calc( 50% - 60px );height:120px; text-align:right;display:table;justify-content: space-evenly;font-weight:bold;">
            <div style="display:table-cell;vertical-align:middle;">@Resources.Resources.Configurations</div>
            <div style="display:table-cell;vertical-align:middle;">
                <img src="~/Content/icons/icons_perfil_rede_social_falar_seguros_v25.png" class="profile-icon" />
            </div>
        </div>
    </div>

    <div class="panel panel-white" style="display:block;padding:10px 0px;font-weight:bold;color:#4B5C66">
        <div style="width:100%;text-align:center;display:table;">
            <div style="display:table-cell;vertical-align:middle;"><span style="display:block;font-size:20px;">@Model.Profile.FirstName @Model.Profile.LastName</span>@Model.Profile.Address</div>
        </div>
        <div style="width:100%;display:flex;">
            <div style="width:33%;display:block;justify-content: space-evenly;text-align:center;">
                <div>
                    <img src="~/Content/icons/icons_perfil_rede_social_falar_seguros_v24.png" class="profile-icon" />
                    <span style="font-size:18px;">000</span>
                </div>
                <div style="">@Resources.Resources.Contacts</div>
            </div>
            <div style="width:34%;display:block;justify-content: space-evenly;text-align:center;">
                <div>
                    <img src="~/Content/icons/icons_perfil_rede_social_falar_seguros_v24.png" class="profile-icon" />
                    <span style="font-size:18px;">000</span>
                </div>
                <div style="">@Resources.Resources.Likes</div>
            </div>
            <div style="width:33%;text-align:center;display:block;justify-content: space-evenly;">
                <div>
                    <img src="~/Content/icons/icons_perfil_rede_social_falar_seguros_v24.png" class="profile-icon" />
                    <span style="font-size:18px;">000</span>
                </div>
                <div style="">@Resources.Resources.Followers</div>
            </div>
        </div>
    </div>

    <div class="panel panel-white">
        <div style="width:100%;display:flex;text-align:center;">

        </div>
    </div>

    <div class="panel panel-white" style="display:block;padding:10px 20px;font-weight:bold;color:#4B5C66;font-size:12px;">
@using (Html.BeginForm("ProfileSave", "Home", FormMethod.Post, new { @class = "", enctype = "multipart/form-data", id = "profileInformationForm" }))
{
    @Html.HiddenFor(i => i.ProfileEditModel.ID)
        <div style="padding:10px 0px;">
            <span style="font-size:14px;">@Resources.Resources.BasicInformation</span>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.FirstName</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.FirstName)</label>
                @Html.ValidationMessageFor(i => i.ProfileEditModel.FirstName)
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.LastName</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.LastName)</label>
                @Html.ValidationMessageFor(i => i.ProfileEditModel.FirstName)
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.BirthDate</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.Birthdate)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.RegisterDate</span>
                <label class="form-control label-control profile-label">@Html.DisplayTextFor(i => i.ProfileEditModel.CreateDate)</label>
            </p>
        </div>

        <p></p>
        <div style="padding:10px 0px;">
            <span style="font-size:14px;">@Resources.Resources.ContactInformation</span>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.ContactEmail</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.ContactEmail)</label>
                @Html.ValidationMessageFor(i => i.ProfileEditModel.ContactEmail)
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.Website</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.Website)</label>
                @Html.ValidationMessageFor(i => i.ProfileEditModel.Website)
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.Telephone_1</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.Telephone_1)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.Telephone_2</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.Telephone_2)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.MobilePhone_1</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.MobilePhone_1)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.MobilePhone_2</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.MobilePhone_2)</label>
            </p>
        </div>
        <div>
            <p class="data-row">
                <span class="data-name profile-label">@Resources.Resources.Address</span>
                <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ProfileEditModel.Address)</label>
            </p>
        </div>

        <p></p>
        <div style="padding:10px 0px;">
            <span style="font-size:14px;">@Resources.Resources.AboutMe</span>
        </div>
        <div>
            @Html.TextAreaFor(i => i.ProfileEditModel.AboutMe, new { @class = "form-control aboutme profile-textarea", @style = "resize:none;scroll-behaviour:auto;font-weight:normal;" })
        </div>

        <p></p>
        <div style="padding:10px 0px;">
            <span style="font-size:14px;">@Resources.Resources.CompaniesWorkingWith</span>
        </div>
        <div>
            @Html.TextAreaFor(i => i.ProfileEditModel.CompaniesWorkingWith, new { @class = "form-control aboutme profile-textarea", @disabled = "disabled", @style = "resize:none;scroll-behaviour:auto;font-weight:normal;" })
        </div>

        <p></p>
        <div style="padding:10px 0px;">
            <span style="font-size:14px;">@Resources.Resources.AllowedEmailDomains</span>
        </div>
        <div style="padding:10px 0px;">
            @Html.TextAreaFor(i => i.ProfileEditModel.AllowedEmailsText, new { @class = "form-control aboutme profile-textarea", @disabled = "disabled", @style = "resize:none;scroll-behaviour:auto;font-weight:normal;" })
            @*@Html.ListBoxFor(m => m.SelectedAllowedEmails, new MultiSelectList(Model.AllowedEmails, "Text", "Text"), new { @class = "form-control listbox", id = "emailListbox", style = "max-width:49%;display: inline-flex;min-height: 103px;" })*@
        </div>

        <p></p>
        <div class="action-buttons" style="display:block; text-align:center;">
            @Html.ActionLink(Resources.Resources.Cancel, "ProfileInfo", new { id = Model.Profile.ID }, new { @class = "btn btn-darkblue" })
            <input type="submit" class="btn btn-blue" value="@Resources.Resources.Save" />
        </div>
}
    </div>

</div>


<script type="text/javascript">

    $(document).ready(function () {
        
    });

</script>
