@using InsuranceWebsite.Models
@model HomeViewModel

@*<style>

.ui-accordion-header-collapsed .img-garages
{
    background-image: url(../../../Content/icons/114.png);
    background-size: 50px;
}

.ui-accordion-header-active .img-garages
{
    background-image: url(../../../Content/icons/115.png);
    background-size: 50px;
}

.ui-accordion-header-collapsed .img-clinics
{
    background-image: url(../../../Content/icons/116.png);
    background-size: 50px;
}

.ui-accordion-header-active .img-clinics
{
    background-image: url(../../../Content/icons/117.png);
    background-size: 50px;
}

.ui-accordion-header-collapsed .img-constructioncompanies
{
    background-image: url(../../../Content/icons/118.png);
    background-size: 50px;
}

.ui-accordion-header-active .img-constructioncompanies
{
    background-image: url(../../../Content/icons/119.png);
    background-size: 50px;
}

.ui-accordion-header-collapsed .img-homeappliances
{
    background-image: url(../../../Content/icons/120.png);
    background-size: 50px;
}

.ui-accordion-header-active .img-homeappliances
{
    background-image: url(../../../Content/icons/121.png);
    background-size: 50px;
}

.ui-accordion-header-collapsed .img-insurancecontacts
{
    background-image: url(../../../Content/icons/122.png);
    background-size: 50px;
}

.ui-accordion-header-active .img-insurancecontacts
{
    background-image: url(../../../Content/icons/123.png);
    background-size: 50px;
}

</style>*@

<!-- left content-->

<div class="col-md-6" style="padding-left:10px; padding-right:10px;">

    <div class="profile-nav">

        <div class="panel" style="background-color:transparent; box-shadow:none; margin-bottom: 10px;">

            <div id="accordion">
                <h5>
                    <div class="img-garages" style="margin-left:10px; margin-right:10px;max-width:50px;width:50px;height:50px;display:inline-flex"></div>@Resources.Resources.SearchGarages
                </h5>
                <div>
                    @using (Html.BeginForm("SearchGarages", "Home", FormMethod.Post, new { id = "searchGaragesForm" }))
                    {
                        @Html.TextBoxFor(m => m.SearchCompaniesModel.GarageName, new { @class = "col-md-10", @style = "margin-top: 6px;margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.GarageName })
                        @Html.DropDownListFor(m => m.SearchCompaniesModel.GarageServiceID, Model.SearchCompaniesModel.GarageServiceList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.Services })
                        @Html.DropDownListFor(m => m.SearchCompaniesModel.GarageDistrict, Model.SearchCompaniesModel.DistrictList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.District, id = "garageDistrictList" })
                        @Html.DropDownListFor(m => m.SearchCompaniesModel.GarageCounty, Model.SearchCompaniesModel.CountyList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.Location, id = "garageCountyList" })
                        @Html.TextBoxFor(m => m.SearchCompaniesModel.GaragePartnership, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.Partnerships })
                        @Html.TextBoxFor(m => m.SearchCompaniesModel.GarageOfficialAgent, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.OfficialAgent })

                        <div class="col-md-10" style="margin-left:10%;margin-right:10%;width:80%; margin-bottom: 30px; padding: 0px;">
                            <a class="btn btn-info pull-right" href="#" onclick="document.getElementById('searchGaragesForm').submit();" style="width:100%">@Resources.Resources.SearchGarages</a>
                        </div>
                    }
                </div>
                <h5><div class="img-clinics" style="margin-left:10px; margin-right:10px;max-width:50px;width:50px;height:50px;display:inline-flex"></div>@Resources.Resources.SearchClinics</h5>
                <div>
                    @using (Html.BeginForm("SearchClinics", "Home", FormMethod.Post, new { id = "searchClinicsForm" }))
                    {
                        @Html.TextBoxFor(m => m.SearchCompaniesModel.ClinicName, new { @class = "col-md-10", @style = "margin-top: 6px;margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.ClinicName })
                        @Html.DropDownListFor(m => m.SearchCompaniesModel.ClinicServiceID, Model.SearchCompaniesModel.ClinicServiceList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.Services })
                        @Html.DropDownListFor(m => m.SearchCompaniesModel.ClinicDistrict, Model.SearchCompaniesModel.DistrictList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.District, id = "clinicDistrictList" })
                        @Html.DropDownListFor(m => m.SearchCompaniesModel.ClinicCounty, Model.SearchCompaniesModel.CountyList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.Location, id = "clinicCountyList" })
                        @Html.TextBoxFor(m => m.SearchCompaniesModel.ClinicPartnership, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.Partnerships })
                        @Html.TextBoxFor(m => m.SearchCompaniesModel.ClinicOfficialAgent, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.OfficialAgent })

                        <div class="col-md-10" style="margin-left:10%;margin-right:10%;width:80%; margin-bottom: 30px; padding: 0px;">
                            <a class="btn btn-info pull-right" href="#" onclick="document.getElementById('searchClinicsForm').submit();" style="width:100%">@Resources.Resources.SearchClinics</a>
                        </div>
                    }
                </div>
                <h5><div class="img-constructioncompanies" style="margin-left:10px; margin-right:10px;max-width:50px;width:50px;height:50px;display:inline-flex"></div>@Resources.Resources.SearchConstructionCompanies</h5>
                <div>
                    @using (Html.BeginForm("SearchConstructionCompanies", "Home", FormMethod.Post, new { id = "searchConstructionCompaniesForm" }))
                    {
                        @Html.TextBoxFor(m => m.SearchCompaniesModel.ConstructionCompanyName, new { @class = "col-md-10", @style = "margin-top: 6px;margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.ConstructionCompanyName })
                        @Html.DropDownListFor(m => m.SearchCompaniesModel.ConstructionCompanyServiceID, Model.SearchCompaniesModel.ConstructionCompanyServiceList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.Services })
                        @Html.DropDownListFor(m => m.SearchCompaniesModel.ConstructionCompanyDistrict, Model.SearchCompaniesModel.DistrictList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.District, id = "constructionCompanyDistrictList" })
                        @Html.DropDownListFor(m => m.SearchCompaniesModel.ConstructionCompanyCounty, Model.SearchCompaniesModel.CountyList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.Location, id = "constructionCompanyCountyList" })
                        @Html.TextBoxFor(m => m.SearchCompaniesModel.ConstructionCompanyPartnership, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.Partnerships })
                        @Html.TextBoxFor(m => m.SearchCompaniesModel.ConstructionCompanyOfficialAgent, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.OfficialAgent })

                        <div class="col-md-10" style="margin-left:10%;margin-right:10%;width:80%; margin-bottom: 30px; padding: 0px;">
                            <a class="btn btn-info pull-right" href="#" onclick="document.getElementById('searchConstructionCompaniesForm').submit();" style="width:100%">@Resources.Resources.SearchConstructionCompanies</a>
                        </div>
                    }
                </div>
                <h5><div class="img-homeappliances" style="margin-left:10px; margin-right:10px;max-width:50px;width:50px;height:50px;display:inline-flex"></div>@Resources.Resources.SearchHomeApplianceRepair</h5>
                <div>
                    @using (Html.BeginForm("SearchHomeApplianceRepair", "Home", FormMethod.Post, new { id = "searchHomeApplianceRepairForm" }))
                    {
                        @Html.TextBoxFor(m => m.SearchCompaniesModel.HomeApplianceRepairName, new { @class = "col-md-10", @style = "margin-top: 6px;margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.HomeApplianceRepairName })
                        @Html.DropDownListFor(m => m.SearchCompaniesModel.HomeApplianceRepairServiceID, Model.SearchCompaniesModel.HomeApplianceRepairServiceList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.Services })
                        @Html.DropDownListFor(m => m.SearchCompaniesModel.HomeApplianceRepairDistrict, Model.SearchCompaniesModel.DistrictList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.District, id = "homeApplianceRepairDistrictList" })
                        @Html.DropDownListFor(m => m.SearchCompaniesModel.HomeApplianceRepairCounty, Model.SearchCompaniesModel.CountyList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.Location, id = "homeApplianceRepairCountyList" })
                        @Html.TextBoxFor(m => m.SearchCompaniesModel.HomeApplianceRepairPartnership, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.Partnerships })
                        @Html.TextBoxFor(m => m.SearchCompaniesModel.HomeApplianceRepairOfficialAgent, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.OfficialAgent })

                        <div class="col-md-10" style="margin-left:10%;margin-right:10%;width:80%; margin-bottom: 30px; padding: 0px;">
                            <a class="btn btn-info pull-right" href="#" onclick="document.getElementById('searchHomeApplianceRepairForm').submit();" style="width:100%">@Resources.Resources.SearchHomeApplianceRepair</a>
                        </div>
                    }
                </div>
                <h5><div class="img-insurancecontacts" style="margin-left:10px; margin-right:10px;max-width:50px;width:50px;height:50px;display:inline-flex"></div>@Resources.Resources.SearchInsuranceContacts</h5>
                <div>
                    @using (Html.BeginForm("SearchInsuranceContacts", "Home", FormMethod.Post, new { id = "searchInsuranceContactsForm" }))
                    {
                        @Html.TextBoxFor(m => m.SearchCompaniesModel.InsuranceContactName, new { @class = "col-md-10", @style = "margin-top: 6px;margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.InsuranceContactName })
                        @Html.DropDownListFor(m => m.SearchCompaniesModel.InsuranceContactServiceID, Model.SearchCompaniesModel.InsuranceContactServiceList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.Services })
                        @Html.DropDownListFor(m => m.SearchCompaniesModel.InsuranceContactDistrict, Model.SearchCompaniesModel.DistrictList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.District, id = "insuranceContactDistrictList" })
                        @Html.DropDownListFor(m => m.SearchCompaniesModel.InsuranceContactCounty, Model.SearchCompaniesModel.CountyList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.Location, id = "insuranceContactCountyList" })
                        @Html.TextBoxFor(m => m.SearchCompaniesModel.InsuranceContactPartnership, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.Partnerships })
                        @Html.TextBoxFor(m => m.SearchCompaniesModel.InsuranceContactOfficialAgent, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.OfficialAgent })

                        <div class="col-md-10" style="margin-left:10%;margin-right:10%;width:80%; margin-bottom: 30px; padding: 0px;">
                            <a class="btn btn-info pull-right" href="#" onclick="document.getElementById('searchInsuranceContactsForm').submit();" style="width:100%">@Resources.Resources.SearchInsuranceContacts</a>
                        </div>
                    }
                </div>
            </div>

        </div>

    </div>

    <div class="profile-nav">

            <div class="panel" style="box-shadow:none; background-color:transparent; display:flex; margin-bottom: 10px;">
                <h5 class="btn-rightbar" style="margin: 0px; width:100%;"><img src="~/Content/icons/124.png" style="margin-left:10px; margin-right:10px;max-width:50px;"/>@Html.ActionLink(Resources.Resources.SafeBusinesses, "SafeBusinesses", "Home")</h5>
            </div>

            <div class="panel" style="box-shadow:none; background-color:transparent; display:flex; margin-bottom: 10px;">
                <h5 class="btn-rightbar" style="margin: 0px; width:100%;"><img src="~/Content/icons/126.png" style="margin-left:10px; margin-right:10px;max-width:50px;" />@Html.ActionLink(Resources.Resources.HRInsurances, "HRInsurances", "Home")</h5>
            </div>

            <div class="panel" style="box-shadow:none; background-color:transparent; display:flex; margin-bottom: 10px;">
                <h5 class="btn-rightbar"><img src="~/Content/icons/128.png" style="margin-left:10px; margin-right:10px;max-width:50px;" />@Html.ActionLink(Resources.Resources.InDiscussion, "CurrentDiscussions", "Home")</h5>
                <h5 class="btn-rightbar"><a href="/Home/AsfPage"><img src="~/Content/logos/asf_cor_2.png" style="margin-left:10px; margin-right:10px;max-width:70px;padding-top:7px;" /></a></h5>
            </div>

            <div class="panel" style="box-shadow:none; background-color:transparent; display:flex; margin-bottom: 10px;">
                <h5 class="btn-rightbar"><img src="~/Content/icons/128.png" style="margin-left:10px; margin-right:10px;max-width:50px;" />@Html.ActionLink(Resources.Resources.APROSE, "AprosePage", "Home")</h5>
                <h5 class="btn-rightbar"><img src="~/Content/icons/128.png" style="margin-left:10px; margin-right:10px;max-width:50px;" />@Html.ActionLink(Resources.Resources.APS, "ApsPage", "Home")</h5>
            </div>

        </div>

    @*<div class="profile-nav">

        <div class="panel" style="box-shadow:none; background-color:transparent; display:flex; margin-bottom: 10px;">
            <h5 class="btn-rightbar" style="margin: 0px; width:100%;"><a href="@Html.Action("Index", "Home")">@Resources.Resources.SafeBusinesses</a></h5>
        </div>

        <div class="panel" style="box-shadow:none; background-color:transparent; display:flex; margin-bottom: 10px;">
            <h5 class="btn-rightbar" style="margin: 0px; width:100%;"><a href="@Html.Action("Index", "Home")">@Resources.Resources.HRInsurances</a></h5>
        </div>

        <div class="panel" style="box-shadow:none; background-color:transparent; display:flex; margin-bottom: 10px;">
            <h5 class="btn-rightbar"><a href="@Html.Action("Index", "Home")">@Resources.Resources.InDiscussion</a></h5>
            <h5 class="btn-rightbar"><a href="@Html.Action("Index", "Home")">@Resources.Resources.ASF</a></h5>
        </div>

        <div class="panel" style="box-shadow:none; background-color:transparent; display:flex; margin-bottom: 10px;">
            <h5 class="btn-rightbar"><a href="@Html.Action("Index", "Home")">@Resources.Resources.APROSE</a></h5>
            <h5 class="btn-rightbar"><a href="@Html.Action("Index", "Home")">@Resources.Resources.APS</a></h5>
        </div>

    </div>*@

    @Html.Partial("./Partial/RightBannerPartialView", Model)

    @*<div class="bannerPanel">
        <h1>Banner de Publicidade</h1>
    </div>

    <div class="bannerPanel">
        <h1>Banner de Publicidade</h1>
    </div>

    <div class="bannerPanel">
        <h1>Banner de Publicidade</h1>
    </div>*@

</div><!-- end left content-->


<script>

    $(function () {

        var icons = {
            header: "ui-icon-circle-arrow-e",
            activeHeader: "ui-icon-circle-arrow-s"
        };

        $("#accordion").accordion({
            collapsible: true,
            active: false,
            icons: icons
        });

        $("#toggle").button().on("click", function () {
            if ($("#accordion").accordion("option", "icons")) {
                $("#accordion").accordion("option", "icons", null);
            }
            else {
                $("#accordion").accordion("option", "icons", icons);
            }
        });

        //$('#garageCountyList').hide();
        var ddlGarageCounties = $("#garageCountyList"); //dropdownlist for counties
        var ddlClinicCounties = $("#clinicCountyList"); //dropdownlist for counties
        var ddlConstructionCompanyCounties = $("#constructionCompanyCountyList"); //dropdownlist for counties
        var ddlHomeApplianceRepairCounties = $("#homeApplianceRepairCountyList"); //dropdownlist for counties
        var ddlinsuranceContactCounties = $("#insuranceContactCountyList"); //dropdownlist for counties

        $("#garageDistrictList").change(function () {
            var selectedItem = $("#garageDistrictList").val(); //dropdownlist for states

            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetCountiesByDistrict", "Home")',
                data: { "districtId": selectedItem },
                success: function (data) {
                    ddlGarageCounties.html('')
                    $.each(data, function (id, option) {
                        ddlGarageCounties.append($('<option></option>').val(option.Value).html(option.Text));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve counties.');
                }
            });
        });

        $("#clinicDistrictList").change(function () {
            var selectedItem = $("#clinicDistrictList").val(); //dropdownlist for states

            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetCountiesByDistrict", "Home")',
                data: { "districtId": selectedItem },
                success: function (data) {
                    ddlClinicCounties.html('')
                    $.each(data, function (id, option) {
                        ddlClinicCounties.append($('<option></option>').val(option.Value).html(option.Text));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve counties.');
                }
            });
        });

        $("#constructionCompanyDistrictList").change(function () {
            var selectedItem = $("#constructionCompanyDistrictList").val(); //dropdownlist for states

            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetCountiesByDistrict", "Home")',
                data: { "districtId": selectedItem },
                success: function (data) {
                    ddlConstructionCompanyCounties.html('')
                    $.each(data, function (id, option) {
                        ddlConstructionCompanyCounties.append($('<option></option>').val(option.Value).html(option.Text));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve counties.');
                }
            });
        });

        $("#homeApplianceRepairDistrictList").change(function () {
            var selectedItem = $("#homeApplianceRepairDistrictList").val(); //dropdownlist for states

            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetCountiesByDistrict", "Home")',
                data: { "districtId": selectedItem },
                success: function (data) {
                    ddlHomeApplianceRepairCounties.html('')
                    $.each(data, function (id, option) {
                        ddlHomeApplianceRepairCounties.append($('<option></option>').val(option.Value).html(option.Text));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve counties.');
                }
            });
        });

        $("#insuranceContactDistrictList").change(function () {
            var selectedItem = $("#insuranceContactDistrictList").val(); //dropdownlist for states

            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetCountiesByDistrict", "Home")',
                data: { "districtId": selectedItem },
                success: function (data) {
                    ddlinsuranceContactCounties.html('')
                    $.each(data, function (id, option) {
                        ddlinsuranceContactCounties.append($('<option></option>').val(option.Value).html(option.Text));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve counties.');
                }
            });
        });

    });

</script>