@using InsuranceWebsite.Models
@using InsuranceSocialNetworkBusiness
@using InsuranceSocialNetworkCore.Enums
@model HomeViewModel

<!-- left content-->
<div class="col-md-6 rightContentBar" style="padding-left:10px; padding-right:10px;overflow:auto;">

    @if (!InsuranceBusiness.BusinessLayer.IsUserInRole(this.User.Identity.Name, RoleEnum.DIRECTORY_COMPANY.ToString()))
    {
        <div class="profile-nav">

            <div class="panel" style="background-color:transparent; box-shadow:none; margin-bottom: 10px;">

                <div id="accordion">
                    <h5>
                        <div class="img-garages" style="margin-left:10px; margin-right:10px;max-width:50px;width:50px;height:50px;display:inline-flex"></div>@Resources.Resources.SearchGarages
                    </h5>
                    <div>
                        @using (Html.BeginForm("SearchGarages", "Home", FormMethod.Post, new { id = "searchGaragesForm" }))
                        {
                            @Html.TextBoxFor(m => m.SearchCompaniesModel.GarageName, new { @class = "col-md-10", @style = "margin-top: 6px;margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.GarageName })
                            @Html.DropDownListFor(m => m.SearchCompaniesModel.GarageServiceID, Model.SearchCompaniesModel.GarageServiceList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.Services })
                            @Html.DropDownListFor(m => m.SearchCompaniesModel.GarageDistrict, Model.SearchCompaniesModel.DistrictList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.District, id = "garageDistrictList" })
                            @Html.DropDownListFor(m => m.SearchCompaniesModel.GarageCounty, Model.SearchCompaniesModel.CountyList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.Location, id = "garageCountyList" })
                            @Html.TextBoxFor(m => m.SearchCompaniesModel.GaragePartnership, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.Partnerships })
                            @Html.TextBoxFor(m => m.SearchCompaniesModel.GarageOfficialAgent, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.OfficialAgent })

                            <div class="col-md-10" style="margin-left:10%;margin-right:10%;width:80%; margin-bottom: 30px; padding: 0px;">
                                <a class="btn btn-info pull-right"  onclick="document.getElementById('searchGaragesForm').submit();" style="width:100%">@Resources.Resources.Search</a>
                            </div>
                        }
                    </div>
                    <h5><div class="img-clinics" style="margin-left:10px; margin-right:10px;max-width:50px;width:50px;height:50px;display:inline-flex"></div>@Resources.Resources.SearchClinics</h5>
                    <div>
                        @using (Html.BeginForm("SearchClinics", "Home", FormMethod.Post, new { id = "searchClinicsForm" }))
                        {
                            @Html.TextBoxFor(m => m.SearchCompaniesModel.ClinicName, new { @class = "col-md-10", @style = "margin-top: 6px;margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.ClinicName })
                            @Html.DropDownListFor(m => m.SearchCompaniesModel.ClinicServiceID, Model.SearchCompaniesModel.ClinicServiceList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.Services })
                            @Html.DropDownListFor(m => m.SearchCompaniesModel.ClinicDistrict, Model.SearchCompaniesModel.DistrictList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.District, id = "clinicDistrictList" })
                            @Html.DropDownListFor(m => m.SearchCompaniesModel.ClinicCounty, Model.SearchCompaniesModel.CountyList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.Location, id = "clinicCountyList" })
                            @Html.TextBoxFor(m => m.SearchCompaniesModel.ClinicPartnership, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.Partnerships })
                            @Html.TextBoxFor(m => m.SearchCompaniesModel.ClinicOfficialAgent, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.OfficialAgent })

                            <div class="col-md-10" style="margin-left:10%;margin-right:10%;width:80%; margin-bottom: 30px; padding: 0px;">
                                <a class="btn btn-info pull-right"  onclick="document.getElementById('searchClinicsForm').submit();" style="width:100%">@Resources.Resources.Search</a>
                            </div>
                        }
                    </div>
                    <h5><div class="img-constructioncompanies" style="margin-left:10px; margin-right:10px;max-width:50px;width:50px;height:50px;display:inline-flex"></div>@Resources.Resources.SearchConstructionCompanies</h5>
                    <div>
                        @using (Html.BeginForm("SearchConstructionCompanies", "Home", FormMethod.Post, new { id = "searchConstructionCompaniesForm" }))
                        {
                            @Html.TextBoxFor(m => m.SearchCompaniesModel.ConstructionCompanyName, new { @class = "col-md-10", @style = "margin-top: 6px;margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.ConstructionCompanyName })
                            @Html.DropDownListFor(m => m.SearchCompaniesModel.ConstructionCompanyServiceID, Model.SearchCompaniesModel.ConstructionCompanyServiceList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.Services })
                            @Html.DropDownListFor(m => m.SearchCompaniesModel.ConstructionCompanyDistrict, Model.SearchCompaniesModel.DistrictList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.District, id = "constructionCompanyDistrictList" })
                            @Html.DropDownListFor(m => m.SearchCompaniesModel.ConstructionCompanyCounty, Model.SearchCompaniesModel.CountyList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.Location, id = "constructionCompanyCountyList" })
                            @Html.TextBoxFor(m => m.SearchCompaniesModel.ConstructionCompanyPartnership, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.Partnerships })
                            @Html.TextBoxFor(m => m.SearchCompaniesModel.ConstructionCompanyOfficialAgent, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.OfficialAgent })

                            <div class="col-md-10" style="margin-left:10%;margin-right:10%;width:80%; margin-bottom: 30px; padding: 0px;">
                                <a class="btn btn-info pull-right"  onclick="document.getElementById('searchConstructionCompaniesForm').submit();" style="width:100%">@Resources.Resources.Search</a>
                            </div>
                        }
                    </div>
                    <h5><div class="img-homeappliances" style="margin-left:10px; margin-right:10px;max-width:50px;width:50px;height:50px;display:inline-flex"></div>@Resources.Resources.SearchHomeApplianceRepair</h5>
                    <div>
                        @using (Html.BeginForm("SearchHomeApplianceRepair", "Home", FormMethod.Post, new { id = "searchHomeApplianceRepairForm" }))
                        {
                            @Html.TextBoxFor(m => m.SearchCompaniesModel.HomeApplianceRepairName, new { @class = "col-md-10", @style = "margin-top: 6px;margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.HomeApplianceRepairName })
                            @Html.DropDownListFor(m => m.SearchCompaniesModel.HomeApplianceRepairServiceID, Model.SearchCompaniesModel.HomeApplianceRepairServiceList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.Services })
                            @Html.DropDownListFor(m => m.SearchCompaniesModel.HomeApplianceRepairDistrict, Model.SearchCompaniesModel.DistrictList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.District, id = "homeApplianceRepairDistrictList" })
                            @Html.DropDownListFor(m => m.SearchCompaniesModel.HomeApplianceRepairCounty, Model.SearchCompaniesModel.CountyList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.Location, id = "homeApplianceRepairCountyList" })
                            @Html.TextBoxFor(m => m.SearchCompaniesModel.HomeApplianceRepairPartnership, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.Partnerships })
                            @Html.TextBoxFor(m => m.SearchCompaniesModel.HomeApplianceRepairOfficialAgent, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.OfficialAgent })

                            <div class="col-md-10" style="margin-left:10%;margin-right:10%;width:80%; margin-bottom: 30px; padding: 0px;">
                                <a class="btn btn-info pull-right"  onclick="document.getElementById('searchHomeApplianceRepairForm').submit();" style="width:100%">@Resources.Resources.Search</a>
                            </div>
                        }
                    </div>
                    <h5><div class="img-insurancecontacts" style="margin-left:10px; margin-right:10px;max-width:50px;width:50px;height:50px;display:inline-flex"></div>@Resources.Resources.SearchInsuranceContacts</h5>
                    <div>
                        @using (Html.BeginForm("SearchInsuranceContacts", "Home", FormMethod.Post, new { id = "searchInsuranceContactsForm" }))
                        {
                            @Html.TextBoxFor(m => m.SearchCompaniesModel.InsuranceContactName, new { @class = "col-md-10", @style = "margin-top: 6px;margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.InsuranceContactName })
                            @Html.DropDownListFor(m => m.SearchCompaniesModel.InsuranceContactServiceID, Model.SearchCompaniesModel.InsuranceContactServiceList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.Services })
                            @Html.DropDownListFor(m => m.SearchCompaniesModel.InsuranceContactDistrict, Model.SearchCompaniesModel.DistrictList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.District, id = "insuranceContactDistrictList" })
                            @Html.DropDownListFor(m => m.SearchCompaniesModel.InsuranceContactCounty, Model.SearchCompaniesModel.CountyList, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;color:#777;min-height:28px;", @placeholder = Resources.Resources.Location, id = "insuranceContactCountyList" })
                            @Html.TextBoxFor(m => m.SearchCompaniesModel.InsuranceContactPartnership, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.Partnerships })
                            @Html.TextBoxFor(m => m.SearchCompaniesModel.InsuranceContactOfficialAgent, new { @class = "col-md-10", @style = "margin-left:10%;margin-right:10%;width:80%;", @placeholder = Resources.Resources.OfficialAgent })

                            <div class="col-md-10" style="margin-left:10%;margin-right:10%;width:80%; margin-bottom: 30px; padding: 0px;">
                                <a class="btn btn-info pull-right"  onclick="document.getElementById('searchInsuranceContactsForm').submit();" style="width:100%">@Resources.Resources.Search</a>
                            </div>
                        }
                    </div>
                </div>

            </div>

        </div>
    }

    <div class="profile-nav">

            <div class="panel" style="box-shadow:none; background-color:transparent; display:flex; margin-bottom: 4px; margin-top: 0px;">
                <h5 class="btn-rightbar" style="margin: 0px; width:100%;"><img src="~/Content/icons/home_page_rede_social_falar_seguros_AF149.png" style="margin-left:10px; margin-right:10px;max-width:50px;"/>@Html.ActionLink(Resources.Resources.InsuranceBusinesses, "InsuranceBusinesses", "Home")</h5>
                @*<h5 class="btn-rightbar" style="margin: 0px; width:100%;"><img src="~/Content/icons/home_page_rede_social_falar_seguros_AF149.png" style="margin-left:10px; margin-right:10px;max-width:50px;" />@Resources.Resources.SafeBusinesses</h5>*@
            </div>

            <div class="panel" style="box-shadow:none; background-color:transparent; display:flex; margin-bottom: 4px; margin-top: 0px;">
                <h5 class="btn-rightbar" style="margin: 0px; width:100%;"><img src="~/Content/icons/home_page_rede_social_falar_seguros_AF152.png" style="margin-left:10px; margin-right:10px;max-width:50px;" />@Html.ActionLink(Resources.Resources.HRInsurances, "HRInsurances", "Home")</h5>
                @*<h5 class="btn-rightbar" style="margin: 0px; width:100%;"><img src="~/Content/icons/home_page_rede_social_falar_seguros_AF152.png" style="margin-left:10px; margin-right:10px;max-width:50px;" />@Resources.Resources.HRInsurances</h5>*@
            </div>

            <div class="panel" style="box-shadow:none; background-color:transparent; display:flex; margin-bottom: 4px; margin-top: 0px;">
                <h5 class="btn-rightbar" style="margin-left: 0px;"><img src="~/Content/icons/home_page_rede_social_falar_seguros_AF155.png" style="margin: 0px; max-width:50px;" />@Html.ActionLink(Resources.Resources.InDiscussion, "CurrentDiscussions", "Home")</h5>
                <h5 class="btn-rightbar" style="margin-right: 0px;"><a href="/Home/AsfPage"><img src="~/Content/images/ASF_Logotipo.jpg" style="margin: 0px; margin-right: 0px; max-width:175px;" /></a></h5>
            </div>

            <div class="panel" style="box-shadow:none; background-color:transparent; display:flex; margin-bottom: 4px; margin-top: 0px; min-height:62px">
                <h5 class="btn-rightbar" style="margin-left: 0px;"><img src="~/Content/icons/home_page_rede_social_falar_seguros_AF155.png" style="margin: 0px; margin-left: 0px; max-width:50px;" />@Html.ActionLink(Resources.Resources.APROSE, "AprosePage", "Home")</h5>
                <h5 class="btn-rightbar" style="margin-right: 0px;"><a href="/Home/ApsPage"><img src="~/Content/images/logo_aps.png" style="margin: 0px; margin-right: 0px; max-width:155px;padding-top:5px;" /></a>@*<img src="~/Content/images/logo_aps.png" style="margin-left:10px; margin-right:10px;max-width:175px;" />@Html.ActionLink(Resources.Resources.APS, "ApsPage", "Home")*@</h5>
            </div>

        </div>

    @Html.Partial("./Partial/RightBannerPartialView", Model)

</div><!-- end left content-->

<script>

    $(function () {

        var icons = {
            header: "ui-icon-circle-arrow-e",
            activeHeader: "ui-icon-circle-arrow-s"
        };

        $("#accordion").accordion({
            collapsible: true,
            active: false,
            icons: icons
        });

        $("#toggle").button().on("click", function () {
            if ($("#accordion").accordion("option", "icons")) {
                $("#accordion").accordion("option", "icons", null);
            }
            else {
                $("#accordion").accordion("option", "icons", icons);
            }
        });

        //$('#garageCountyList').hide();
        var ddlGarageCounties = $("#garageCountyList"); //dropdownlist for counties
        var ddlClinicCounties = $("#clinicCountyList"); //dropdownlist for counties
        var ddlConstructionCompanyCounties = $("#constructionCompanyCountyList"); //dropdownlist for counties
        var ddlHomeApplianceRepairCounties = $("#homeApplianceRepairCountyList"); //dropdownlist for counties
        var ddlinsuranceContactCounties = $("#insuranceContactCountyList"); //dropdownlist for counties

        $("#garageDistrictList").change(function () {
            var selectedItem = $("#garageDistrictList").val(); //dropdownlist for states

            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetCountiesByDistrict", "Home")',
                data: { "districtId": selectedItem },
                success: function (data) {
                    ddlGarageCounties.html('')
                    $.each(data, function (id, option) {
                        ddlGarageCounties.append($('<option></option>').val(option.Value).html(option.Text));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve counties.');
                }
            });
        });

        $("#clinicDistrictList").change(function () {
            var selectedItem = $("#clinicDistrictList").val(); //dropdownlist for states

            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetCountiesByDistrict", "Home")',
                data: { "districtId": selectedItem },
                success: function (data) {
                    ddlClinicCounties.html('')
                    $.each(data, function (id, option) {
                        ddlClinicCounties.append($('<option></option>').val(option.Value).html(option.Text));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve counties.');
                }
            });
        });

        $("#constructionCompanyDistrictList").change(function () {
            var selectedItem = $("#constructionCompanyDistrictList").val(); //dropdownlist for states

            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetCountiesByDistrict", "Home")',
                data: { "districtId": selectedItem },
                success: function (data) {
                    ddlConstructionCompanyCounties.html('')
                    $.each(data, function (id, option) {
                        ddlConstructionCompanyCounties.append($('<option></option>').val(option.Value).html(option.Text));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve counties.');
                }
            });
        });

        $("#homeApplianceRepairDistrictList").change(function () {
            var selectedItem = $("#homeApplianceRepairDistrictList").val(); //dropdownlist for states

            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetCountiesByDistrict", "Home")',
                data: { "districtId": selectedItem },
                success: function (data) {
                    ddlHomeApplianceRepairCounties.html('')
                    $.each(data, function (id, option) {
                        ddlHomeApplianceRepairCounties.append($('<option></option>').val(option.Value).html(option.Text));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve counties.');
                }
            });
        });

        $("#insuranceContactDistrictList").change(function () {
            var selectedItem = $("#insuranceContactDistrictList").val(); //dropdownlist for states

            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetCountiesByDistrict", "Home")',
                data: { "districtId": selectedItem },
                success: function (data) {
                    ddlinsuranceContactCounties.html('')
                    $.each(data, function (id, option) {
                        ddlinsuranceContactCounties.append($('<option></option>').val(option.Value).html(option.Text));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve counties.');
                }
            });
        });

    });

</script>