@using InsuranceWebsite.Models
@using InsuranceSocialNetworkDTO.UserProfile;
@model HomeViewModel


<div class="directory-info-row profile-info col-md-6 animated fadeInUp">

    @Html.Partial("./Partial/TopBannerPartialView", Model)

    

    <div class="panel topPanel" style="border:0px;">

        @using (Html.BeginForm("SearchUsers", "Home", FormMethod.Post, new { id = "searchForm" }))
        {
            <div class="panel panel-white post panel-shadow animated fadeInUp" style="margin-bottom:2px;">
                <div class="post-heading" style="padding: 10px 15px;">
                    <div class="title" style="border:0px;background-color:inherit; font-weight:bold; font-size: 17px; overflow: auto;">
                        <div style="float:left; padding-top:8px;">@Html.TextBoxFor(m => m.SearchModel.SearchTerm, new { @class = "form-control", @placeholder = Resources.Resources.Search + "...", @style = "padding:18px;border-radius:0px;" })</div>
                        <div style="float:right; max-width: 60px;">
                            <a href="#" onclick="document.getElementById('searchForm').submit();">
                                <img src="~/Content/icons/icone_pesquisa_rede_social_falar_seguros_AF.png" />
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            @*<div class="form-group" style="display:inline;">
                <div class="input-group" style="display:table;">

                    @Html.TextBoxFor(m => m.SearchModel.SearchTerm, new { @class = "form-control", @placeholder = Resources.Resources.Search + "...", @style="padding:18px;border-radius:0px;" })

                    <a href="#" onclick="document.getElementById('searchForm').submit();" class="input-group-addon" style="width:1%;padding:3px 12px;border-radius:0px;">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </div>
            </div>*@
        }
    </div>
    <div class="news">       

        @if (null != Model && null != Model.SearchModel && null != Model.SearchModel.Users)
        {
            foreach (UserProfileDTO profile in Model.SearchModel.Users)
            {

                <div class="col-md-4 col-sm-4">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    @if (null == profile.ProfilePhoto || profile.ProfilePhoto.Length == 0)
                                    {
                                        <img class="thumb media-object" src="~/Content/images/no_photo_img.jpg" alt="" style="border-radius:100px;">
                                    }
                                    else
                                    {
                                        <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(profile.ProfilePhoto))" class="thumb media-object" style="border-radius:100px;">
                                    }
                                </a>
                                <div class="media-body">
                                    <h5 style="text-align:center">@profile.FirstName @profile.LastName</h5>
                                    <ul class="social-links">
                                        @if (!Model.SearchModel.AlreadyFriends.Contains(profile.ID))
                                        {
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" onclick="addFriendFunction(this, @profile.ID)" data-original-title="@Resources.Resources.AddFriend"><i class="fa fa-user-plus"></i></a></li>
                                        }
                                        else
                                        {
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="@Resources.Resources.RemoveFriend"><i class="fa fa-user-times"></i></a></li>
                                        }
                                        <li><a href="@Url.Action("SendMessage",new { id= profile.ID })" title="" data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="@Resources.Resources.SendMessage"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="@Html.DisplayTextFor(i => i.Profile.Website)" target="_blank" title="" data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="@Resources.Resources.Website"><i class="fa fa-globe"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            }
        }

    </div>

</div><!--end right  content-->

<script type="text/javascript">

    function addFriendFunction(object, userId) {
        
        object.innerHTML = "<i class=\"fa fa-check\"></i>";

        jQuery.post('@Url.Action("AddFriend", "Home")',
                { id: userId }
            )
            .done(function (data) {})
            .fail(function () {
                object.innerHTML = "<i class=\"fa fa-user-plus\"></i>";
            });
    }

</script>