@using InsuranceWebsite.Models
@using InsuranceSocialNetworkDTO.UserProfile;
@model HomeViewModel


<div class="directory-info-row profile-info col-md-6 animated fadeInUp" style="overflow:auto;">

    @Html.Partial("./Partial/TopBannerPartialView", Model)

    <div class="panel topPanel" style="border:0px;">

        @using (Html.BeginForm("SearchUsers", "Home", FormMethod.Post, new { id = "searchForm" }))
        {
            @Html.AntiForgeryToken();

            <div class="panel panel-white post panel-shadow animated fadeInUp" style="margin-bottom:2px;height:70px;">
                <div class="post-heading" style="padding: 10px 15px;">
                    <div class="title" style="border:0px;background-color:inherit; font-weight:bold; font-size: 17px; overflow: auto;">
                        <div style="float:left; padding-top:8px;width: calc(100% - 50px);">@Html.TextBoxFor(m => m.SearchModel.SearchTerm, new { @class = "form-control", @placeholder = Resources.Resources.Search, @style = "padding:18px;border-radius:0px;border:0px;box-shadow: none;font-weight:normal;" })</div>
                        <div style="float:right; max-width: 50px;">
                            <a href="#" onclick="document.getElementById('searchForm').submit();">
                                <img src="~/Content/icons/icone_pesquisa_rede_social_falar_seguros_AF.png" />
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            @*<div class="form-group" style="display:inline;">
                <div class="input-group" style="display:table;">

                    @Html.TextBoxFor(m => m.SearchModel.SearchTerm, new { @class = "form-control", @placeholder = Resources.Resources.Search + "...", @style="padding:18px;border-radius:0px;" })

                    <a href="#" onclick="document.getElementById('searchForm').submit();" class="input-group-addon" style="width:1%;padding:3px 12px;border-radius:0px;">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </div>
            </div>*@
        }
        @if (!string.IsNullOrEmpty(Model.SearchModel.SearchTerm))
        {
            <div class="panel panel-white post panel-shadow animated fadeInUp" style="margin-bottom:2px;height:70px;background-color:#00C1DE;">
                <div class="post-heading" style="vertical-align:middle;">
                    <div class="pull-left" style="padding: 10px 15px;">
                        <span style="font-size:14px;color:#fff;">@Resources.Resources.ShowingResultsFor</span>
                        <span style="font-size:14px;font-weight:bold;color:#fff;">@Model.SearchModel.SearchTerm</span>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="news">       

        @if (null != Model && null != Model.SearchModel && null != Model.SearchModel.Users && Model.SearchModel.Users.Count > 0)
        {
            foreach (UserProfileDTO profile in Model.SearchModel.Users)
            {
                <div class="panel panel-body post panel-shadow animated fadeInUp" style="margin-bottom:2px;max-height:80px;padding:10px 15px;">
                    <a href="@Url.Action("ProfileInfo", "Home", new { id = profile.ID })" style="padding: 0px;">
                        <div class="pull-left image">
                            @if (null == profile.ProfilePhoto || profile.ProfilePhoto.Length == 0)
                            {
                                <img class="thumb media-object" src="~/Content/images/no_photo_img.jpg" alt="" style="border-radius:100px;max-height:60px;border: 2px solid #EDEFF0;">
                            }
                            else
                            {
                                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(profile.ProfilePhoto))" class="thumb media-object" style="border-radius:100px;max-height:60px;border: 2px solid #EDEFF0;">
                            }
                        </div>
                        <div style="float:left; padding:0px 15px; width: calc(100% - 60px);">
                            <div style="color:#4B5C66;font-weight:bold;font-size:14px;">@profile.FirstName @profile.LastName</div>
                            @if (string.IsNullOrEmpty(profile.CompanyName))
                            {
                                <div style="color:#939DA3;font-size:11px;font-weight:bold;">-</div>
                            }
                            else
                            {
                                <div style="color:#939DA3;font-size:11px;font-weight:bold;">@profile.CompanyName</div>
                            }
                            @if (!profile.ID_District.HasValue)
                            {
                                if (!profile.ID_County.HasValue)
                                {
                                    if (!profile.ID_Parish.HasValue)
                                    {
                                        <div style="color:#939DA3;font-size:11px;font-weight:bold;">-</div>
                                    }
                                    else
                                    {
                                        <div style="color:#939DA3;font-size:11px;font-weight:bold;">@profile.Parish.Name</div>

                                    }
                                }
                                else
                                {
                                    if (!profile.ID_Parish.HasValue)
                                    {
                                        <div style="color:#939DA3;font-size:11px;font-weight:bold;">@profile.County.Name</div>
                                    }
                                    else
                                    {
                                        <div style="color:#939DA3;font-size:11px;font-weight:bold;">@profile.Parish.Name, @profile.County.Name</div>

                                    }
                                }
                            }
                            else
                            {
                                if (!profile.ID_County.HasValue)
                                {
                                    if (!profile.ID_Parish.HasValue)
                                    {
                                        <div style="color:#939DA3;font-size:11px;font-weight:bold;">@profile.District.Name</div>
                                    }
                                    else
                                    {
                                        <div style="color:#939DA3;font-size:11px;font-weight:bold;">@profile.Parish.Name, @profile.District.Name</div>

                                    }
                                }
                                else
                                {
                                    if (!profile.ID_Parish.HasValue)
                                    {
                                        <div style="color:#939DA3;font-size:11px;font-weight:bold;">@profile.County.Name, @profile.District.Name</div>

                                    }
                                    else
                                    {
                                        <div style="color:#939DA3;font-size:11px;font-weight:bold;">@profile.Parish.Name, @profile.County.Name, @profile.District.Name</div>

                                    }
                                }
                            }
                        </div>
                    </a>
                </div>

                @*<div class="col-md-4 col-sm-4">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    @if (null == profile.ProfilePhoto || profile.ProfilePhoto.Length == 0)
                                    {
                                        <img class="thumb media-object" src="~/Content/images/no_photo_img.jpg" alt="" style="border-radius:100px;">
                                    }
                                    else
                                    {
                                        <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(profile.ProfilePhoto))" class="thumb media-object" style="border-radius:100px;">
                                    }
                                </a>
                                <div class="media-body">
                                    <h5 style="text-align:center">@profile.FirstName @profile.LastName</h5>
                                    <ul class="social-links">
                                        @if (!Model.SearchModel.AlreadyFriends.Contains(profile.ID))
                                        {
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" onclick="addFriendFunction(this, @profile.ID)" data-original-title="@Resources.Resources.AddFriend"><i class="fa fa-user-plus"></i></a></li>
                                        }
                                        else
                                        {
                                            <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="@Resources.Resources.RemoveFriend"><i class="fa fa-user-times"></i></a></li>
                                        }
                                        <li><a href="@Url.Action("SendMessage",new { id= profile.ID })" title="" data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="@Resources.Resources.SendMessage"><i class="fa fa-comments"></i></a></li>
                                        <li><a href="@Html.DisplayTextFor(i => i.Profile.Website)" target="_blank" title="" data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="@Resources.Resources.Website"><i class="fa fa-globe"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@

            }
        }
        else if (!string.IsNullOrEmpty(Model.SearchModel.SearchTerm))
        {
            <div class="col-md-12 alert alert-info" style="text-align:center">
                @Resources.Resources.NoResults
            </div>
        }

    </div>

</div><!--end right  content-->

<script type="text/javascript">

    function addFriendFunction(object, userId) {
        
        object.innerHTML = "<i class=\"fa fa-check\"></i>";

        jQuery.post('@Url.Action("AddFriend", "Home")',
                { id: userId }
            )
            .done(function (data) {})
            .fail(function () {
                object.innerHTML = "<i class=\"fa fa-user-plus\"></i>";
            });
    }

</script>