@using InsuranceWebsite.Models
@using InsuranceSocialNetworkBusiness
@using InsuranceSocialNetworkCore.Enums
@model ProfileViewModel

<!-- Fixed navbar -->
@*<nav class="navbar navbar-default navbar-fixed-top navbar-principal">*@

@if (!Request.Browser.IsMobileDevice || Request.Browser.ScreenPixelsHeight > 480)
{
<div class="left" id="sideNavBar">
    <div class="item no-hover" style="padding-bottom:0px;background-color:#00C1DE">
        <a href="@Url.Action("Index", "Home")" title="@Resources.Resources.Home" style="margin-top:10px">
            <img src="~/Content/logos/cinza_simbolo_falar_seguros.png" alt="" class="item-logo">
        </a>
    </div>
    @*<div class="item no-hover">
        <img src="~/Content/images/no_photo_img.jpg" class="item-photo">
    </div>*@
    <div class="item menu-item">
        <a href="@Url.Action("ProfileInfo", "Home", new { id = new Nullable<long>() })" title="@Resources.Resources.UserProfile">
            @if (null == Model.Profile || null == Model.Profile.ProfilePhoto || Model.Profile.ProfilePhoto.Length == 0)
            {
                <img src="~/Content/images/no_photo_img.jpg" class="mini-avatar item-photo">
            }
            else
            {
                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.Profile.ProfilePhoto))" class="mini-avatar item-photo">
            }
        </a>
    </div>
    @if (!InsuranceBusiness.BusinessLayer.IsUserInRoleByUsername(this.User.Identity.Name, RoleEnum.DIRECTORY_COMPANY.ToString())
        && !InsuranceBusiness.BusinessLayer.IsUserInRoleByUsername(this.User.Identity.Name, RoleEnum.PORTAL_COMMERCIAL.ToString()))
    {
        <div class="item menu-item">
            <a href="@Url.Action("Notifications", "Home")" title="@Resources.Resources.Notifications">
                @*<span class="glyphicon glyphicon-bell"></span>*@
                <img src="~/Content/icons/home_page_rede_social_falar_seguros_AF113.png" class="mini-avatar item-photo">
            </a>
            @if (Model.TotalUnreadNotifications > 0)
            {
                <span class="badge badge-notify">@Model.TotalUnreadNotifications</span>
            }
        </div>
        <div class="item menu-item">
            <a href="@Url.Action("Search", "Home")" title="@Resources.Resources.Search">
                @*<span class="glyphicon glyphicon-search"></span>*@
                <img src="~/Content/icons/home_page_rede_social_falar_seguros_AF116.png" class="mini-avatar item-photo">
            </a>
        </div>
        @*<div class="item">
            <a href="@Url.Action("Index", "Home")" title="@Resources.Resources.Home"><span class="glyphicon glyphicon-home"></span></a>
        </div>*@
        <div class="item menu-item">
            <a href="@Url.Action("Messages", "Home")" title="@Resources.Resources.Messages">
                @*<span class="glyphicon glyphicon-comment"></span>*@
                <img src="~/Content/icons/home_page_rede_social_falar_seguros_AF16.png" class="mini-avatar item-photo">
            </a>
            @if (Model.TotalUnreadMessages > 0)
            {
                <span class="badge badge-notify">@Model.TotalUnreadMessages</span>
            }
        </div>
        <div class="item menu-item">
            <a href="@Url.Action("Friends", "Home")" title="@Resources.Resources.Friends">
                @*<span class="glyphicon glyphicon-user"></span>*@
                <img src="~/Content/icons/home_page_rede_social_falar_seguros_AF122.png" class="mini-avatar item-photo">
            </a>
        </div>
        <div class="item menu-item">
            <a href="@Url.Action("ProfileConfigurations", "Home", new { userId = Model.Profile.ID_User })" title="@Resources.Resources.Settings">
                @*<span class="glyphicon glyphicon-option-horizontal"></span>*@
                <img src="~/Content/icons/home_page_rede_social_falar_seguros_AF125.png" class="mini-avatar item-photo">
            </a>
        </div>
    }
    <div class="item menu-item">
        <a href="@Url.Action("LogOff", "Account")" title="@Resources.Resources.Logout">
            <img src="~/Content/icons/home_page_rede_social_falar_seguros_AF128.png" class="mini-avatar item-photo">
        </a>
    </div>

    @if (InsuranceBusiness.BusinessLayer.IsUserAuthorizedToFunctionality(this.User.Identity.Name, Functionality.USERS_MANAGEMENT.ToString())
        || InsuranceBusiness.BusinessLayer.IsUserAuthorizedToFunctionality(this.User.Identity.Name, Functionality.COMPANIES_MANAGEMENT.ToString()))
    {
        <div class="item menu-item">
            <a href = "@Url.Action("SystemManagement", "Home")" title="@Resources.Resources.Administration">
                <img src="~/Content/icons/home_page_rede_social_falar_seguros_AF131.png" class="mini-avatar item-photo">
            </a>
        </div>
    }
    @*@if (InsuranceBusiness.BusinessLayer.IsUserAuthorizedToFunctionality(this.User.Identity.Name, Functionality.USERS_MANAGEMENT.ToString()))
    {
        <div class="item">
            <a href = "@Url.Action("Index", "UsersManagement")" title="@Resources.Resources.UsersManagement"><span class="glyphicon glyphicon-cog"></span></a>
        </div>
    }
    @if (InsuranceBusiness.BusinessLayer.IsUserAuthorizedToFunctionality(this.User.Identity.Name, Functionality.ROLES_MANAGEMENT.ToString()))
    {
        <div class="item">
            <a href="@Url.Action("Index", "RolesManagement")" title="@Resources.Resources.RolesManagement"><span class="glyphicon glyphicon-lock"></span></a>
        </div>
    }
    @if (InsuranceBusiness.BusinessLayer.IsUserAuthorizedToFunctionality(this.User.Identity.Name, Functionality.ALERTS_MANAGEMENT.ToString()))
    {
        <div class="item">
            <a href="@Url.Action("Index", "NotificationsManagement")" title="@Resources.Resources.AlertsManagement"><span class="glyphicon glyphicon-warning-sign"></span></a>
        </div>
    }
    @if (InsuranceBusiness.BusinessLayer.IsUserAuthorizedToFunctionality(this.User.Identity.Name, Functionality.BANNERS_MANAGEMENT.ToString()))
    {
        <div class="item">
            <a href="@Url.Action("Index", "BannersManagement")" title="@Resources.Resources.BannersManagement"><span class="glyphicon glyphicon-warning-sign"></span></a>
        </div>
    }*@

    
</div>
}

@*</nav>*@

<style type="text/css">
    td, th {
        vertical-align: middle !important;
    }

    div#sideNavBar.left, div#sideNavBar.right {
        float: left;
    }

    div#sideNavBar.left {
        background: #4B5C66;
        white-space: nowrap;
        width: 80px;
        transition: width 1s;
    }

    div#sideNavBar.right {
        background: #fff;
        width: 350px;
        transition: width 1s;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px;
    }

    /*.left:hover {
        width: 250px;
    }*/

    /*.item:hover {
        background-color: #ccc;
        border-radius: 40px;
    }

    .item.no-hover:hover {
        background-color: #337ab7;
        border-radius: 40px;
    }*/

    div#sideNavBar.left .glyphicon {
        margin: 20px;
        color: #00C1DE;
        border-color: #00C1DE;
        border-style: solid;
        border-width: medium;
        width: 40px;
        height: 40px;
        padding: 7px;
        border-radius: 32px;
        font-size: 21px;
    }

    div#sideNavBar.right .glyphicon {
        color: #a9a9a9;
    }

    span.glyphicon.glyphicon-refresh {
        font-size: 17px;
        vertical-align: middle !important;
    }

    .item {
        height: 70px;
        overflow: hidden;
        color: #fff;
        font-size: 25px;
        padding-bottom: 70px;
        text-align: center;
    }

    .menu-item{
        padding: 20px 0px;
        height: 78px;
    }

    .item > a {
        display: block;
        height: 100%;
        width: 100%;
    }

    .item-photo {
        /*padding: 18px;*/
        border-radius: 50px;
    }

    .item-logo {
        height: 70%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-height: 50px;
        max-width: 50px;
    }

    .title {
        background-color: #eee;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px;
        box-sizing: border-box;
    }

    .search:hover {
        border-color: #4aa9fb;
        border-width: 1px;
    }

    .search {
        padding: 3px 8px 3px !important;
    }

    input[type=search] {
        padding: 10px 0px 10px;
        border: 0px solid #fff;
        background: #eee;
        -webkit-appearance: none;
        width: 90%;
        float: none;
    }

        input[type=search]:focus {
            outline: none;
        }

    .type {
        height: 47px;
    }

    .date {
        background-color: #f7f7f7;
    }

    .docdate {
        vertical-align: bottom !important;
    }

    .distr {
        margin: 0 0 5px;
        font-size: 12px;
    }

    .ndoc {
        margin: 0 0 5px;
    }

    .storage {
        margin: 0;
        color: #aaa !important;
        font-size: 12px;
    }

    .badge-notify{
       background:#fff;
       position:relative;
       top: -46px;
       left: 21px;
       color: #00C1DE;
       padding: 3px;
       min-width: 20px;
       min-height: 20px;
       text-align: center;
    }
</style>
