@using InsuranceWebsite.Models
@using InsuranceSocialNetworkBusiness
@using InsuranceSocialNetworkCore.Enums
@model ProfileViewModel

<!-- Fixed navbar -->
@*<nav class="navbar navbar-default navbar-fixed-top navbar-principal">*@

<div class="left">
    <div class="item no-hover" style="padding-bottom:0px;margin-top: 10px;margin-bottom: 10px;">
        <img src="~/Content/images/no_logo_img.png" alt="" class="item-logo">
    </div>
    @*<div class="item no-hover">
        <img src="~/Content/images/no_photo_img.jpg" class="item-photo">
    </div>*@
    <div class="item">
        <a href="@Url.Action("ProfileInfo", "Home")" title="@Resources.Resources.UserProfile"><img src="~/Content/images/no_photo_img.jpg" class="item-photo"></a>
    </div>
    <div class="item">
        <a href="@Url.Action("Notifications", "Home")">
            <span class="glyphicon glyphicon-bell"></span>
        </a>
        @if (Model.TotalUnreadNotifications > 0)
        {

            <span class="badge badge-notify">@Model.TotalUnreadNotifications</span>
        }
    </div>
    <div class="item active">
        <a href="@Url.Action("Search", "Home")" title="@Resources.Resources.Search"><span class="glyphicon glyphicon-search"></span></a>
    </div>
    @*<div class="item">
        <a href="@Url.Action("Index", "Home")" title="@Resources.Resources.Home"><span class="glyphicon glyphicon-home"></span></a>
    </div>*@
    <div class="item active">
        <a href="@Url.Action("Messages", "Home")" title="@Resources.Resources.Messages"><span class="glyphicon glyphicon-comment"></span></a>
    </div>
    <div class="item">
        <a href="@Url.Action("Friends", "Home")" title="@Resources.Resources.Friends"><span class="glyphicon glyphicon-user"></span></a>
    </div>
    <div class="item">
        <a href="@Url.Action("Settings", "Home")" title="@Resources.Resources.Settings"><span class="glyphicon glyphicon-option-horizontal"></span></a>
    </div>
    <div class="item">
        <a href="@Url.Action("LogOff", "Account")" title="@Resources.Resources.Logout"><span class="glyphicon glyphicon-log-out"></span></a>
    </div>
    @if (InsuranceBusiness.BusinessLayer.IsUserAuthorizedToFunctionality(this.User.Identity.Name, Functionality.USERS_MANAGEMENT.ToString()))
    {
        <div class="item">
            <a href = "@Url.Action("Index", "UsersManagement")" title="@Resources.Resources.UsersManagement"><span class="glyphicon glyphicon-cog"></span></a>
        </div>
    }
    @if (InsuranceBusiness.BusinessLayer.IsUserAuthorizedToFunctionality(this.User.Identity.Name, Functionality.ROLES_MANAGEMENT.ToString()))
    {
        <div class="item">
            <a href="@Url.Action("Index", "RolesManagement")" title="@Resources.Resources.RolesManagement"><span class="glyphicon glyphicon-lock"></span></a>
        </div>
    }
    @if (InsuranceBusiness.BusinessLayer.IsUserAuthorizedToFunctionality(this.User.Identity.Name, Functionality.ALERTS_MANAGEMENT.ToString()))
    {
        <div class="item">
            <a href="@Url.Action("AlertsManagement", "Home")" title="@Resources.Resources.AlertsManagement"><span class="glyphicon glyphicon-warning-sign"></span></a>
        </div>
    }

    
</div>

@*</nav>*@

<style type="text/css">
    td, th {
        vertical-align: middle !important;
    }

    .left, .right {
        float: left;
    }

    .left {
        background: #4A5B67;
        white-space: nowrap;
        width: 80px;
        transition: width 1s;
    }

    .right {
        background: #fff;
        width: 350px;
        transition: width 1s;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px;
    }

    /*.left:hover {
        width: 250px;
    }*/

    /*.item:hover {
        background-color: #ccc;
        border-radius: 40px;
    }

    .item.no-hover:hover {
        background-color: #337ab7;
        border-radius: 40px;
    }*/

    .left .glyphicon {
        margin: 20px;
        color: #05C0DE;
        border-color: #05C0DE;
        border-style: solid;
        border-width: medium;
        width: 40px;
        height: 40px;
        padding: 7px;
        border-radius: 32px;
        font-size: smaller;
    }

    .right .glyphicon {
        color: #a9a9a9;
    }

    span.glyphicon.glyphicon-refresh {
        font-size: 17px;
        vertical-align: middle !important;
    }

    .item {
        height: 80px;
        overflow: hidden;
        color: #fff;
        font-size: 25px;
        padding-bottom: 80px;
    }

        .item > a {
            display: block;
            height: 100%;
            width: 100%;
        }

    .item-photo {
        padding: 18px;
        border-radius: 50px;
    }

    .item-logo {
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .title {
        background-color: #eee;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px;
        box-sizing: border-box;
    }

    .search:hover {
        border-color: #4aa9fb;
        border-width: 1px;
    }

    .search {
        padding: 3px 8px 3px !important;
    }

    input[type=search] {
        padding: 10px 0px 10px;
        border: 0px solid #fff;
        background: #eee;
        -webkit-appearance: none;
        width: 90%;
        float: none;
    }

        input[type=search]:focus {
            outline: none;
        }

    .type {
        height: 47px;
    }

    .date {
        background-color: #f7f7f7;
    }

    .docdate {
        vertical-align: bottom !important;
    }

    .distr {
        margin: 0 0 5px;
        font-size: 12px;
    }

    .ndoc {
        margin: 0 0 5px;
    }

    .storage {
        margin: 0;
        color: #aaa !important;
        font-size: 12px;
    }

    .badge-notify{
       background:red;
       position:relative;
       top: 10px;
       left: 50px;
    }
</style>
