@using InsuranceWebsite.Models
@model HomeViewModel

<link href="~/Content/contextMenu/jquery.contextMenu.css" rel="stylesheet" />

<script src="~/Scripts/contextMenu/jquery.contextMenu.js"></script>
<script src="~/Scripts/contextMenu/jquery.ui.position.min.js"></script>
<script src="~/Scripts/contextMenu/contextMenu.main.js"></script>

<div class="profile-info col-md-6 animated fadeInUp">

    @Html.Partial("./Partial/TopBannerPartialView", Model)

    <div class="panel topPanel">
        @using (Html.BeginForm("NewPost", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.Profile.ID_User)
            @Html.HiddenFor(m => m.Profile.ID)

            <textarea placeholder="@Resources.Resources.WhatsInYourMindToday" rows="2" class="form-control input-lg p-text-area" id="postContentTextarea" name="postContentTextarea"></textarea>
            <img id="imgPlaceholder" src="#" alt="" style="visibility:hidden;position:absolute" />
            <div class="panel-footer" style="border-top: 0px; padding: 5px 15px">
                <button class="btn btn-info pull-right" id="publishButton">@Resources.Resources.Publish</button>
                <ul class="nav nav-pills">
                    <li>
                        <input type='file' id="imgUpload" style="visibility:hidden;position:absolute" name="imgUpload" />
                        <a href="javascript:$('#imgUpload').click()" style="padding: 7px 10px"><i class="fa fa-camera"></i></a>
                    </li>
                    <li>
                        <input type='file' id="fileUpload" style="visibility:hidden;position:absolute" name="fileUpload" />
                        <a href="javascript:$('#fileUpload').click()" style="padding: 7px 10px"><i class="fa fa-paperclip"></i></a>
                    </li>
                </ul>
            </div>
        }
    </div>    
    
    <div class="news">
        <div class="partialContents" data-url="/home/posts">
            <div style="text-align:center">
                <img src="~/Content/images/waiting.gif" /> @Resources.Resources.Loading...
            </div>
        </div>
    </div>
    
</div><!--end right  content-->


<script type="text/javascript">

    var site = site || {};
    site.baseUrl = site.baseUrl || "";

    $(document).ready(function () {

        // locate each partial section.
        // if it has a URL set, load the contents into the area.
        $(".partialContents").each(function (index, item) {
            var url = site.baseUrl + $(item).data("url");
            if (url && url.length > 0) {
                $(item).load(url);
            }
        });

        $("#imgUpload").change(function () {
            readURL(this);
            $("#fileUpload").files = null;
        });

        $("#fileUpload").change(function () {
            $('#imgPlaceholder').attr('style', 'visibility:hidden;position:absolute');
            $('#imgPlaceholder').attr('src', '');
            $("#imgUpload").files = null;
        });

        $("#publishButton").click(function (event) {
            if ($("#imgUpload").files == null
                && $("#fileUpload").files == null
                && !$.trim($("#postContentTextarea").val()))
            {
                event.preventDefault();
                return false;
            }
        });
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPlaceholder').attr('style', '');
                $('#imgPlaceholder').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
