@using InsuranceWebsite.Models
@model HomeViewModel


<div class="profile-info col-md-6 animated fadeInUp">

    <div class="panel topPanel">

        @using (Html.BeginForm("SearchUsers", "Home", FormMethod.Post, new { id = "searchForm" }))
        {
            <div class="form-group" style="display:inline;">
                <div class="input-group" style="display:table;">

                    @Html.TextBoxFor(m => m.SearchModel.SearchTerm, new { @class = "form-control", @placeholder = Resources.Resources.Search + "..." })

                    @*<input type="submit" id="submitButton" hidden="hidden" />*@
                    <a href="#" onclick="document.getElementById('searchForm').submit();" class="input-group-addon" style="width:1%;padding:3px 12px">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </div>
            </div>
        }
    </div>
    <p></p>
    <div class="panel topPanel">
        @using (Html.BeginForm("NewPost", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.Profile.ID_User)
            @Html.HiddenFor(m => m.Profile.ID)

            <textarea placeholder="@Resources.Resources.WhatsInYourMindToday" rows="2" class="form-control input-lg p-text-area" id="postContentTextarea" name="postContentTextarea"></textarea>
            <img id="imgPlaceholder" src="#" alt="" style="visibility:hidden;position:absolute" />
            <div class="panel-footer">
                <button class="btn btn-info pull-right">Post</button>
                <ul class="nav nav-pills">
                    <li>
                        <input type='file' id="imgUpload" style="visibility:hidden;position:absolute" name="imgUpload" />
                        <a href="javascript:$('#imgUpload').click()"><i class="fa fa-camera"></i></a>

                    </li>
                </ul>
            </div>
        }
    </div>    
    
    <div class="news">
        <div class="partialContents" data-url="/home/posts">
            <div style="text-align:center">
                <img src="~/Content/images/waiting.gif" /> Loading ...
            </div>
        </div>
    </div>


    @*Html.Partial("PostsControl", Model.Posts)*@
    


    @*<div class="panel panel-white post-load-more panel-shadow text-center">

        <button class="btn btn-info">

            <i class="fa fa-refresh"></i>Load More...

        </button>

    </div>*@

</div><!--end right  content-->


<script type="text/javascript">

    var site = site || {};
    site.baseUrl = site.baseUrl || "";

    $(document).ready(function () {

        // locate each partial section.
        // if it has a URL set, load the contents into the area.
        $(".partialContents").each(function (index, item) {
            var url = site.baseUrl + $(item).data("url");
            if (url && url.length > 0) {
                $(item).load(url);
            }
        });

        $("#imgUpload").change(function () {
            readURL(this);
        });

        @*$('#searchForm').submit(function (e) {

            alert("submit by ajax");

            var formData = new FormData(this);

            $.ajax({
                url: '@Url.Action("SearchUsers", "Home")',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: formData,
                contentType: false,
                processData: false,
                success: function (result) {
                    alert("sucesso!!");
                    $("#div_Results").html(data);
                },
                error: function (result) {
                    alert(result);
                    $("#div_Results").html(data);
                }
            });

            e.preventDefault();
        });*@
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPlaceholder').attr('style', '');
                $('#imgPlaceholder').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
