@using InsuranceWebsite.Models
@using InsuranceSocialNetworkBusiness
@using InsuranceSocialNetworkCore.Enums
@model HomeViewModel

<link href="~/Content/contextMenu/jquery.contextMenu.css" rel="stylesheet" />

<script src="~/Scripts/contextMenu/jquery.contextMenu.js"></script>
<script src="~/Scripts/contextMenu/jquery.ui.position.min.js"></script>
<script src="~/Scripts/contextMenu/contextMenu.main.js"></script>

<div class="profile-info col-md-6 animated fadeInUp" style="overflow:auto;">

    @Html.Partial("./Partial/TopBannerPartialView", Model)

    <div class="panel topPanel">
        @using (Html.BeginForm("NewPost", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.Profile.ID_User)
            @Html.HiddenFor(m => m.Profile.ID)

            <textarea id="livePreviewImgHidden" name="livePreviewImgHidden" style="visibility:hidden;display:none;"></textarea>
            <textarea id="livePreviewTitleHidden" name="livePreviewTitleHidden" style="visibility:hidden;display:none;"></textarea>
            <textarea id="livePreviewDescriptionHidden" name="livePreviewDescriptionHidden" style="visibility:hidden;display:none;"></textarea>
            <textarea id="livePreviewDomainHidden" name="livePreviewDomainHidden" style="visibility:hidden;display:none;"></textarea>
            <textarea id="livePreviewUrlHidden" name="livePreviewUrlHidden" style="visibility:hidden;display:none;"></textarea>

            <textarea placeholder="@Resources.Resources.WhatsInYourMindToday" rows="1" class="form-control input-lg p-text-area" id="postContentTextarea" name="postContentTextarea"></textarea>
            <img id="imgPlaceholder"  alt="" style="visibility:hidden;position:absolute" />
            <div id="livePreviewBox" style="display:none;">
                <div style="padding:10px;">
                    <div style="border: 1px #ccc solid;">
                        <div id="livePreviewImageBlock">
                            <div>
                                <button type="button" id="removeImgButton" style="float:right;margin-top:10px;margin-right:10px;width:20px;height:20px;background-color:transparent;border:none;background-image:url(../../../Content/icons/136_20x20.png)"></button>
                                <div style="text-align: center;" id="livePreviewImg"></div>
                            </div>
                        </div>
                        <div id="livePreviewTextBlock" style="border-top: 1px #ccc solid;padding: 10px;min-height:40px;">
                            <button type="button" id="removeTextButton" style="float:right;margin-top:0px;margin-right:0px;width:20px;height:20px;background-color:transparent;border:none;background-image:url(../../../Content/icons/136_20x20.png)"></button>
                            <div id="livePreviewTitle" name="livePreviewTitle" style="font-weight: bold;font-size: 16px;color:#333;"></div>
                            <div id="livePreviewDescription" style="font-size: 12px;"></div>
                            <div>
                                <div>
                                    <div class="" id="livePreviewDomain" style="color: #6F7D85;"></div>
                                    <div class=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer" style="border-top: 0px; padding: 10px 10px">
                <button class="btn btn-info pull-right" id="publishButton">@Resources.Resources.Publish</button>
                <ul class="nav nav-pills">
                    <li>
                        <input type='file' id="imgUpload" style="visibility:hidden;position:absolute" name="imgUpload" />
                        <a href="javascript:$('#imgUpload').click()" style="padding: 3px 5px" title="@Resources.Resources.Image">
                            <img src="~/Content/icons/home_page_rede_social_falar_seguros_AF110.png" class="icon-normal" />
                        </a>
                    </li>
                    <li>
                        <input type='file' id="fileUpload" style="visibility:hidden;position:absolute" name="fileUpload" />
                        <a href="javascript:$('#fileUpload').click()" style="padding: 3px 5px" title="@Resources.Resources.File">
                            <img src="~/Content/icons/home_page_rede_social_falar_seguros_AF111.png" class="icon-normal" />
                        </a>
                    </li>
                    <li>
                    @if (InsuranceBusiness.BusinessLayer.IsUserInRole(this.User.Identity.Name, RoleEnum.ADMINISTRATOR.ToString()))
                    {
                        @Html.DropDownListFor(m => m.NewPostSuject, Model.PostSubjects, new { @class = "form-control login-select-input", id = "postSubjectDropdown" })
                    }
                    </li>
                </ul>
            </div>
        }
    </div>
    
    <div class="news">
        <div class="partialContents" data-url="/home/posts">
            <div style="text-align:center">
                <img src="~/Content/images/waiting.gif" /> @Resources.Resources.Loading...
            </div>
        </div>
    </div>
    
</div><!--end right  content-->


<script type="text/javascript">

    var site = site || {};
    site.baseUrl = site.baseUrl || "";
    
    $(document).ready(function () {

        $("#postContentTextarea").keyup(function () {
            //var urls = $("#postContentTextarea").val().match(/\b(http|https)?(:\/\/)?(\S*)\.(\w{2,4})\b/ig);
            var urls = $("#postContentTextarea").val().match(/^(http(s)?:\/\/)?(www\.)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/);
            //alert(urls);
            if (urls == null || urls.length == 0)
            {
                //alert("no urls");
                return;
            }
            if (urls[0] == $("#livePreviewUrlHidden").text())
            {
                //alert($("#livePreviewUrlHidden").text());
                //alert(urls[0])
                return;
            }
            //alert(urls[0]);
            $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Preview", "Home")',
                    data: { url: urls[0] },
                    success: function (data) {
                        $("#livePreviewTitle").text(data.title);
                        $("#livePreviewTitleHidden").text(data.title);
                        $("#livePreviewDescription").text(data.description);
                        $("#livePreviewDescriptionHidden").text(data.description);
                        $("#livePreviewDomain").text(data.url);
                        $("#livePreviewDomainHidden").text(data.url);
                        //alert('afectar url');
                        $("#livePreviewUrlHidden").text(data.url);
                        $("#livePreviewImg").html('');
                        $.each(data.lstImages, function (e, element) {
                            $("#livePreviewImg").append("<img src='" + element + "' style='max-height:400px;max-width:460px'/>");
                            $("#livePreviewImgHidden").text(element);
                        });

                        $('#livePreviewBox').attr('style', '');
                        $('#imgPlaceholder').attr('src', '');
                        $("#imgUpload").files = null;
                        $("#fileUpload").files = null;
                    }
                });
        });

        // locate each partial section.
        // if it has a URL set, load the contents into the area.
        $(".partialContents").each(function (index, item) {
            var url = site.baseUrl + $(item).data("url");
            if (url && url.length > 0) {
                $(item).load(url);
            }
        });

        $("#imgUpload").change(function () {
            readURL(this);
            $("#fileUpload").files = null;
            $('#livePreviewBox').attr('style', 'display:none;');
            clearLivePreviewFields();
        });

        $("#fileUpload").change(function () {
            $('#imgPlaceholder').attr('style', 'visibility:hidden;position:absolute');
            $('#imgPlaceholder').attr('src', '');
            $("#imgUpload").files = null;
            $('#livePreviewBox').attr('style', 'display:none;');
            clearLivePreviewFields();
        });

        $("#publishButton").click(function (event) {
            if ($("#imgUpload").files == null
                && $("#fileUpload").files == null
                && !$.trim($("#postContentTextarea").val()))
            {
                event.preventDefault();
                return false;
            }
        });

        $("#removeImgButton").click(function (event) {
            $("#livePreviewImgHidden").text("");
            $("#livePreviewImageBlock").attr('style', 'display:none;');

            if ($("#livePreviewTitleHidden").text() == "") {
                $("#livePreviewUrlHidden").text("");
            }
        });

        $("#removeTextButton").click(function (event) {
            $("#livePreviewTitleHidden").text("");
            $("#livePreviewDescriptionHidden").text("");
            $("#livePreviewDomainHidden").text("");
            $("#livePreviewTextBlock").attr('style', 'display:none;');
            
            if ($("#livePreviewImgHidden").text() == "")
            {
                $("#livePreviewUrlHidden").text("");
            }
        });
    });

    function clearLivePreviewFields()
    {
        $("#livePreviewTitleHidden").text("");
        $("#livePreviewDescriptionHidden").text("");
        $("#livePreviewDomainHidden").text("");
        $("#livePreviewImgHidden").text("");
        $("#livePreviewUrlHidden").text("");
        $("#livePreviewImg").html('');
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPlaceholder').attr('style', '');
                $('#imgPlaceholder').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
