<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="~/Content/icons/15x15_social_falar_seguros_v1.png" />

    <!-- Bootstrap core CSS -->
    <!--
    <link href="~/Content/bookpost/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/bookpost/animate.min.css" rel="stylesheet">
    <link href="~/Content/bookpost/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/bookpost/timeline.css" rel="stylesheet">
    <script src="~/Content/bookpost/jquery.1.11.1.min.js"></script>
    <script src="~/Content/bookpost/bootstrap.min.js"></script>
    <script src="~/Content/bookpost/custom.js"></script>
    -->
    <title>@Resources.Resources.SiteTitle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: "a3b2a20c-cace-4785-8616-f199b0aacc06"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>

<body class="welcome-page animated fadeIn">

    <div class="row-welcome" style="background-image: url('../../Content/images/login.jpg');">

        <div class="row-body">

            <div class="welcome-inner">

                @RenderBody()

            </div>

        </div>

    </div>    
    
    @*@Html.Partial("~/Views/Home/Partial/Footer.cshtml", new HomeViewModel())*@

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
