@using InsuranceWebsite.Models
@model InsuranceWebsite.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<!-- register and login form-->

<div class="welcome-inputs">

    <div class="widget panel-inputs panel-home animated fadeInUp">

        <div class="widget-body">

            <div class="row" style="margin-left: 15px; padding-top:0px;">

                @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group" style="margin-bottom: 35px !important;">
                        <img src="~/Content/logos/logotipo_falar_seguros.png" style="padding: 30px 50px;" />
                    </div>

                    <div class="form-group login-box">
                        <h6 style="font-weight:bold;">@Resources.Resources.EnterYourEmailToRecoverAccount</h6>
                    </div>
                    
                    @*<hr />*@

                    <div class="form-group login-box">
                        <div class="col-md-12 login-box-elements light">
                            <img src="~/Content/icons/envelope.png" style="width:40px; height:40px;" />
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control login-box-input", @placeholder = Resources.Resources.Email, @id = "short" })
                        </div>
                    </div>

                    <div class="form-group login-box">
                        <div class="col-md-12 login-link-control" style="text-align:center;">
                            @Html.ActionLink(Resources.Resources.Login, "Login", "Account", new { @class = "", style = "font-weight: bold;color:#00C1DE;" })
                        </div>
                    </div>

                    <div class="form-group login-box" style="text-align: center;">
                        <input type="submit" value="@Resources.Resources.Send" style="margin-top:0px" class="btn btn-info login-button" />
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                        </div>
                    </div>
                }

            </div>

        </div>

    </div>

</div><!-- end register and login form -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(".btn-panel-home").click(function () {
        $(".panel-home").toggleClass("hidden");
        $(".panel-home").toggleClass("animated");
        $(".panel-home").toggleClass("fadeInUp");
    });
</script>