@using InsuranceWebsite.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<!-- register and login form-->

<div class="welcome-inputs">

    <div class="widget panel-inputs panel-home animated fadeInUp">

        <div class="widget-body">

            <div class="row" style="margin-left: 15px;padding-top:0px">

                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <img src="~/Content/logos/logotipo_falar_seguros.png" style="padding: 30px 50px;" />
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                        
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-user"></span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = Resources.Resources.Email, @id = "short" })
                        </div>
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                        
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-lock"></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = Resources.Resources.Password, @id = "short" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group forgot-password-link">

                        <a href="@Url.Action("ForgotPassword", "Account")">@Resources.Resources.ForgotYourPassword</a><br>

                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" style="margin-left: 0px; padding-left: 70px;">
                            @Html.ActionLink(Resources.Resources.Register.ToUpper(), "Register", "Account", new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" style="margin-left: 0px">
                            <input type="submit" value="@Resources.Resources.Login" class="btn btn-info" />
                        </div>
                    </div>
                }

            </div>

        </div>

    </div>

</div><!-- end register and login form -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(".btn-panel-home").click(function () {
        $(".panel-home").toggleClass("hidden");
        $(".panel-home").toggleClass("animated");
        $(".panel-home").toggleClass("fadeInUp");
    });
</script>

<style type="text/css">

/*.register_button {
    width: 90%;
    margin-bottom: 10px;
    font-size: 14px;
    background: #fff;
    color: #777;
    border: 1px solid #00C1DE;
    outline: 0;
    border-radius: 5px;
    -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
}*/

.glyphicon {
    /*color: #00C1DE;
    border-color: #00C1DE;*/
    border-style: solid;
    border-width: medium;
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 32px;
    font-size: 20px;
    color: darkgrey;
}
</style>