@using InsuranceWebsite.Models
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<!-- register and login form-->

<div class="welcome-inputs">

    <div class="widget panel-inputs panel-home animated fadeInUp">

        <div class="widget-header">

            <h3 class="widget-caption">

                <span class="pull-right">

                    @Html.ActionLink("Login", "Login", "Account", new { @class = "btn btn-info btn-xs btn-panel-home" })

                </span>

            </h3>

        </div>

        <div class="widget-body">

            <div class="row" style="margin-left: 0px;">

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @*<h4>Create a new account.</h4>
                    <hr />*@
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = Resources.Resources.Name, @id = "short" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = Resources.Resources.Email, @id = "short" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = Resources.Resources.Password, @id = "short" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = Resources.Resources.Password, @id = "short" })
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-info" value="@Resources.Resources.Regist" />
                        </div>
                    </div>
                }

            </div>

        </div>

    </div>

</div><!-- end register and login form -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(".btn-panel-home").click(function () {
        $(".panel-home").toggleClass("hidden");
        $(".panel-home").toggleClass("animated");
        $(".panel-home").toggleClass("fadeInUp");
    });
</script>
