@using InsuranceWebsite.Models
@using MVCGrid.Web
@model CompanyModelObject

@{
    ViewBag.Title = Resources.Resources.HomePageTitle;
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

@Scripts.Render("~/bundles/jqueryval")

<div id="dialog-form" title="@Resources.Resources.CreateNewCompany">

    @using (Html.BeginForm("Create", "CompaniesManagement", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        @Html.HiddenFor(i => i.ID);
        <p>
            @Html.Label(Resources.Resources.Name)
            @Html.TextBoxFor(i => i.Name, new { @class = "text ui-widget-content ui-corner-all", id = "firstname" })
            @Html.ValidationMessageFor(i => i.Name)
        </p>
        <p>
            @Html.Label(Resources.Resources.NIF)
            @Html.TextBoxFor(model => model.NIF, new { @class = "text ui-widget-content ui-corner-all", id = "lastname" })
            @Html.ValidationMessageFor(i => i.NIF)
        </p>
        <p>
            @Html.Label(Resources.Resources.Description)
            @Html.TextBoxFor(model => model.Description, new { @class = "text ui-widget-content ui-corner-all", id = "lastname" })
            @Html.ValidationMessageFor(i => i.Description)
        </p>
        <p>
            @Html.Label(Resources.Resources.ContactEmail)
            @Html.TextBoxFor(model => model.ContactEmail, new { @class = "text ui-widget-content ui-corner-all", id = "lastname" })
            @Html.ValidationMessageFor(i => i.ContactEmail)
        </p>
        @*<p>
            @Html.Label(Resources.Resources.UserRole)
            @Html.DropDownListFor(i => i.ID_Role, Model.UserRolesList, new { @class = "text ui-widget-content ui-corner-all", id = "bannertype", style = "width:95%;padding:.4em;" })
            @Html.ValidationMessageFor(i => i.ID_Role)
        </p>*@
    }
</div>

<script>

    $(function () {

        $.validator.addMethod('date', function (value, element) {
            if (this.optional(element)) {
                return true;
            }

            var ok = true;
            try {
                $.datepicker.parseDate('dd/mm/yy', value);
            }
            catch (err) {
                ok = false;
            }
            return ok;
        });

        $('.date-picker').datepicker({
            dateFormat: 'dd/mm/yy'
        });

    } );

</script>