@using InsuranceWebsite.Models
@using InsuranceSocialNetworkCore.Enums
@model CompanyModelObject

@{
    ViewBag.Title = Resources.Resources.HomePageTitle;
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

@Scripts.Render("~/bundles/jquery")

@Scripts.Render("~/bundles/jqueryval")

<style>
    .panel {
        margin-bottom: 4px !important;
    }

    .main-photo {
        max-width: 120px;
        max-height: 120px;
        border-radius: 100px;
        border: 3px solid #E3E6E8;
    }

    .profile-icon {
        max-width: 65px;
    }

    .profile-info {
        font-size: 12px;
    }

    .data-row {
        display: flex;
        margin: 0px 0px 2px;
        height: 34px;
    }

    .label-control {
        border: none;
        box-shadow: none;
        border-radius: 0px;
    }

    .profile-label {
        font-size: 12px !important;
        font-weight: bold !important;
        padding: 10px !important;
    }

    .label-control {
        background-color: #F6F8F7;
    }

    .form-control input {
        width: 100% !important;
        border: 0px !important;
        background-color: transparent !important;
    }

    .profile-textarea {
        background-color: #F6F8F7;
        border-radius: 0px;
    }

    .btn-blue {
        background-color: #00C1DE;
        color: #fff;
        font-weight: bold;
        width: 100px;
        padding: 10px;
    }

    .btn-darkblue {
        background-color: #4B5C66;
        color: #fff;
        font-weight: bold;
        width: 100px;
        padding: 10px;
    }

    .ui-dialog {
        z-index: 1000 !important;
    }

    .ui-front {
        z-index: 1000 !important;
    }

    .ui-widget-overlay {
        z-index: 999 !important;
        opacity: 0.3;
    }

    .ui-dialog-titlebar {
        display: none;
    }
</style>

<div id="dialog-form" title="@Resources.Resources.EditCompany">

    @using (Html.BeginForm("Edit", "CompaniesManagement", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        @Html.HiddenFor(i => i.ID);
        @Html.HiddenFor(i => i.CompanyType);
        @Html.HiddenFor(i => i.LogoPhoto);

        <ul class="nav nav-tabs nav-tabs-custom-colored tabs-iconized">
            <li class="active">
                <a href="#info-tab" data-toggle="tab" aria-expanded="false">
                    <i class="fa fa-user"></i> @Resources.Resources.CompanyData
                </a>
            </li>
            <li class="">
                <a href="#contacts-tab" data-toggle="tab" aria-expanded="false">
                    <i class="fa fa-gear"></i> @Resources.Resources.Contacts
                </a>
            </li>
            <li class="">
                <a href="#payments-tab" data-toggle="tab" aria-expanded="false">
                    <i class="fa fa-gear"></i> @Resources.Resources.Payments
                </a>
            </li>
        </ul>

        <div class="tab-content profile-page">
            <div class="tab-pane profile active" id="info-tab">
                <div>
                    <p class="data-row">
                        <input type='file' id="imgUpload" style="visibility:hidden;position:absolute" name="imgUpload" />
                        <a href="javascript:$('#imgUpload').click()" style="padding: 3px 5px">
                            <img src="~/Content/icons/home_page_rede_social_falar_seguros_AF110.png" class="icon-normal" />
                        </a>
                    </p>
                </div>
                <div>
                    <p class="data-row">
                        <span class="data-name profile-label">@Resources.Resources.Name</span>
                        <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.Name)</label>
                        @Html.ValidationMessageFor(i => i.Name)
                    </p>
                </div>
                <div>
                    <p class="data-row">
                        <span class="data-name profile-label">@Resources.Resources.NIF</span>
                        <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.NIF)</label>
                        @Html.ValidationMessageFor(i => i.NIF)
                    </p>
                </div>
                <div>
                    <p class="data-row" style="height: 55px;">
                        <span class="data-name profile-label">@Resources.Resources.BusinessName</span>
                        <label class="form-control label-control profile-label" style="height: 55px;">@Html.TextBoxFor(i => i.BusinessName, new { style = "height: 34px;" })</label>
                        @Html.ValidationMessageFor(i => i.BusinessName)
                    </p>
                </div>
                <div>
                    <p class="data-row">
                        <span class="data-name profile-label">@Resources.Resources.Services</span>
                        <label class="form-control label-control profile-label" style="padding: 3px !important;">@Html.DropDownListFor(m => m.ID_Service, Model.ServiceList, new { @class = "text ui-widget-content ui-corner-all", @style = "color:#777;min-height:28px;width:100%;", @placeholder = Resources.Resources.Services, id = "serviceList" })</label>
                        @Html.HiddenFor(i => i.ID_Service, new { id = "serviceId" })
                    </p>
                </div>
                <div>
                    <p class="data-row">
                        <span class="data-name profile-label">@Resources.Resources.Description</span>
                        <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.Description)</label>
                        @Html.ValidationMessageFor(i => i.Description)
                    </p>
                </div>
                <div>
                    <p class="data-row">
                        <span class="data-name profile-label">@Resources.Resources.Address</span>
                        <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.Address)</label>
                        @Html.ValidationMessageFor(i => i.Address)
                    </p>
                </div>
                <div>
                    <p class="data-row">
                        <span class="data-name profile-label">@Resources.Resources.District</span>
                        <label class="form-control label-control profile-label" style="padding: 3px !important;">@Html.DropDownListFor(m => m.ID_District, Model.DistrictList, new { @class = "text ui-widget-content ui-corner-all", @style = "color:#777;min-height:28px;width:100%;", @placeholder = Resources.Resources.District, id = "districtList" })</label>
                        @Html.HiddenFor(i => i.ID_District, new { id = "districtId" })
                    </p>
                </div>
                <div>
                    <p class="data-row">
                        <span class="data-name profile-label">@Resources.Resources.County</span>
                        <label class="form-control label-control profile-label" style="padding: 3px !important;">@Html.DropDownListFor(m => m.ID_County, Model.CountyList, new { @class = "text ui-widget-content ui-corner-all", @style = "color:#777;min-height:28px;width:100%;", @placeholder = Resources.Resources.Location, id = "countyList" })</label>
                        @Html.HiddenFor(i => i.ID_County, new { id = "countyId" })
                    </p>
                </div>
                <div>
                    <p class="data-row">
                        <span class="data-name profile-label">@Resources.Resources.OfficialAgent</span>
                        <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.OfficialAgent)</label>
                        @Html.ValidationMessageFor(i => i.OfficialAgent)
                    </p>
                </div>
                <div>
                    <p class="data-row">
                        <span class="data-name profile-label">@Resources.Resources.OfficialPartner</span>
                        <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.OfficialPartner)</label>
                        @Html.ValidationMessageFor(i => i.OfficialPartner)
                    </p>
                </div>
            </div>
            <div class="tab-pane settings" id="contacts-tab">
                <div>
                    <p class="data-row">
                        <span class="data-name profile-label">@Resources.Resources.ContactEmail</span>
                        <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.ContactEmail)</label>
                        @Html.ValidationMessageFor(i => i.ContactEmail)
                    </p>
                </div>
                <div>
                    <p class="data-row">
                        <span class="data-name profile-label">@Resources.Resources.Telephone_1</span>
                        <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.Telephone_1)</label>
                        @Html.ValidationMessageFor(i => i.Telephone_1)
                    </p>
                </div>
                <div>
                    <p class="data-row">
                        <span class="data-name profile-label">@Resources.Resources.Telephone_2</span>
                        <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.Telephone_2)</label>
                        @Html.ValidationMessageFor(i => i.Telephone_2)
                    </p>
                </div>
                <div>
                    <p class="data-row">
                        <span class="data-name profile-label">@Resources.Resources.MobilePhone_1</span>
                        <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.MobilePhone_1)</label>
                        @Html.ValidationMessageFor(i => i.MobilePhone_1)
                    </p>
                </div>
                <div>
                    <p class="data-row">
                        <span class="data-name profile-label">@Resources.Resources.MobilePhone_2</span>
                        <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.MobilePhone_2)</label>
                        @Html.ValidationMessageFor(i => i.MobilePhone_2)
                    </p>
                </div>
                <div>
                    <p class="data-row">
                        <span class="data-name profile-label">@Resources.Resources.Website</span>
                        <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.Website)</label>
                        @Html.ValidationMessageFor(i => i.Website)
                    </p>
                </div>
            </div>
            <div class="tab-pane settings" id="payments-tab" contenteditable="false">
                <div>
                    <p class="data-row">
                        <span class="data-name profile-label">@Resources.Resources.PaymentType</span>
                        @if (Model.HasPendingPayment)
                        {
                            <label class="form-control label-control profile-label" style="padding: 3px !important;">@Html.DropDownListFor(m => m.ID_PaymentType, Model.PaymentTypeList, new { @class = "text ui-widget-content ui-corner-all", @style = "color:#777;min-height:28px;width:100%;", @placeholder = Resources.Resources.PaymentType, id = "paymentTypeList", disabled = "true" })</label>
                        }
                        else
                        {
                            <label class="form-control label-control profile-label" style="padding: 3px !important;">@Html.DropDownListFor(m => m.ID_PaymentType, Model.PaymentTypeList, new { @class = "text ui-widget-content ui-corner-all", @style = "color:#777;min-height:28px;width:100%;", @placeholder = Resources.Resources.PaymentType, id = "paymentTypeList" })</label>
                        }
                        @Html.HiddenFor(i => i.ID_PaymentType, new { id = "paymentTypeId" })
                    </p>
                </div>
                <div id="ibanSection">
                    <p class="data-row">
                        <span class="data-name profile-label">@Resources.Resources.IBAN</span>
                        @if (Model.HasPendingPayment)
                        {
                            <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.IBAN, new { disabled = "true" })</label>
                        }
                        else
                        {
                            <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.IBAN)</label>
                        }
                    </p>
                </div>
                <div>
                    <p class="data-row">
                        <span class="data-name profile-label">@Resources.Resources.Value</span>
                        @if (Model.HasPendingPayment)
                        {
                            <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.Value, new { disabled = "true" })</label>
                        }
                        else
                        {
                            <label class="form-control label-control profile-label">@Html.TextBoxFor(i => i.Value)</label>
                        }                        
                    </p>
                </div>
                <div>
                    <p class="data-row">
                        @if (!Model.HasPendingPayment)
                        {
                            <span class="data-name profile-label" style="width:40em;">@Resources.Resources.CreateNewPayment?</span>
                            <label class="form-control label-control profile-label" style="font-weight:bold;">@Html.CheckBoxFor(i => i.CreatePayment)</label>
                        }
                    </p>
                </div>
                @if (Model.HasActiveDirectDebitPayment)
                {
                <div>
                    @Resources.Resources.AlreadyHasDirectDebitConfigured
                    @*<a href="" class="btn btn-warning lnkCancelDirectDebit" id="canceldd_@Model.Payments.FirstOrDefault(i => i.Active && i.ID_PaymentType == (int)PaymentTypeEnum.DIRECT_DEBIT && (i.ID_PaymentStatus != (int)PaymentStatusEnum.CANCELED || i.ID_PaymentStatus != (int)PaymentStatusEnum.EXPIRED)).ID">@Resources.Resources.CancelDirectDebit</a>*@
                </div>
                }
                <div>
                    <a href="" class="btn btn-warning lnkCreateDirectDebit">@Resources.Resources.SetupDirectDebit</a>
                </div>
                <div>
                    <p class="data-row">
                        @Html.ValidationMessageFor(i => i.IBAN)
                        @Html.ValidationMessageFor(i => i.Value)
                    </p>
                </div>
                @if (Model.HasPendingPayment)
                {
                    <p style="border-top: 0.5px solid #dddddd;padding-bottom: 20px;"></p>
                    <div style="font-weight: bold;width: 100%;text-align: center;padding-bottom: 10px;">@Resources.Resources.PendingPayment</div>
                    <div>
                        <p class="data-row">
                            <span class="data-name profile-label">@Resources.Resources.PaymentType</span>
                            <label class="form-control label-control profile-label" style="font-weight:bold;">@Html.TextBox("PaymentType", Model.PaymentTypeList.FirstOrDefault(i=>i.Value== Model.Payments.FirstOrDefault(j => j.ID_PaymentStatus == (int)PaymentStatusEnum.PENDING).ID_PaymentType.ToString()).Text, new { disabled = "true" })</label>
                        </p>
                    </div>
                    <div>
                        <p class="data-row">
                            <span class="data-name profile-label">@Resources.Resources.Entity</span>
                            <label class="form-control label-control profile-label" style="font-weight:bold;">@Html.TextBoxFor(i => i.Payments.FirstOrDefault(j=>j.ID_PaymentStatus==(int)PaymentStatusEnum.PENDING).ep_entity, new { disabled = "true" })</label>
                        </p>
                    </div>
                    <div>
                        <p class="data-row">
                            <span class="data-name profile-label">@Resources.Resources.Reference</span>
                            <label class="form-control label-control profile-label" style="font-weight:bold;">@Html.TextBoxFor(i => i.Payments.FirstOrDefault(j => j.ID_PaymentStatus == (int)PaymentStatusEnum.PENDING).ep_reference, new { disabled = "true" })</label>
                        </p>
                    </div>
                    <div>
                        <p class="data-row">
                            <span class="data-name profile-label">@Resources.Resources.Value</span>
                            <label class="form-control label-control profile-label" style="font-weight:bold;">@Html.TextBoxFor(i => i.Payments.FirstOrDefault(j => j.ID_PaymentStatus == (int)PaymentStatusEnum.PENDING).ep_value, new { disabled = "true" })</label>
                        </p>
                    </div>
                }
            </div>
        </div>
        <div>
            <input id="submitButton" type="submit" value="@Resources.Resources.Save" />
        </div>
    }
</div>

<script>

    var paymentId = 0;

    $(function () {

        $.validator.addMethod('date', function (value, element) {
            if (this.optional(element)) {
                return true;
            }

            var ok = true;
            try {
                $.datepicker.parseDate('dd/mm/yy', value);
            }
            catch (err) {
                ok = false;
            }
            return ok;
        });

        $('.date-picker').datepicker({
            dateFormat: 'dd/mm/yy'
        });

        $("#dialog-activate").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog-deactivate").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $(".lnkDeactivate").click(function (e) {
            // e.preventDefault(); use this or return false
            url = $(this).attr('href');
            $("#dialog-deactivate").dialog('open');

            return false;
        });

        $(".lnkActivate").click(function (e) {
            // e.preventDefault(); use this or return false
            url = $(this).attr('href');
            $("#dialog-activate").dialog('open');

            return false;
        });

        //$('#countyList').hide();
        $('#countyList').prop('disabled', true);
        var ddlCounties = $("#countyList"); //dropdownlist for counties

        $("#districtList").change(function () {
            var selectedItem = $("#districtList").val(); //dropdownlist for states

            $('#countyList').prop('disabled', false);

            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetCountiesByDistrict", "Home")',
                data: { "districtId": selectedItem },
                success: function (data) {
                    ddlCounties.html('')
                    $.each(data, function (id, option) {
                        ddlCounties.append($('<option></option>').val(option.Value).html(option.Text));
                    });
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve counties.');
                }
            });

        });

        $("#paymentTypeList").change(function () {
            var selectedItem = $("#paymentTypeList").val();

            if (selectedItem == 4)
            {
                $('#ibanSection :input').attr('disabled', false);
            }
            else
            {
                $('#ibanSection :input').attr('disabled', true);
            }
        });

        $(".lnkCreateDirectDebit").click(function (e) {
            e.preventDefault(); //use this or return false

            $.ajax({
                url: '@(Url.Action("SetupDirectDebit", "CompaniesManagement", new { id=Model.ID, idType=Model.CompanyType }))',
                type: "GET",
                dataType: "html",
                cache: false,
                success: function (data) {
                    $('#dialog-direct-debit').html(data); //write the dialog content into the diaog container
                    $("#dialog-direct-debit").dialog({ //dialogize it with JqueryUI
                        autoOpen: false,
                        height: 750,
                        width: 1050,
                        modal: true,
                        buttons: {
                            //"Chiudi": function () { $(this).dialog("close"); }
                        },
                        close: function () { }
                    });
                    $("#dialog-direct-debit").dialog("open"); //open it!
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Error');
                }
            });

            return false;
        });

        $(".lnkCancelDirectDebit").click(function (e) {
            e.preventDefault(); //use this or return false
            paymentId = $(this).attr("id").replace("canceldd_", "");
            $("#dialog-cancel-directdebit").dialog('open');
        });

        $("#dialog-direct-debit").dialog({
            title: '@Resources.Resources.SetupDirectDebit',
            autoOpen: false,
            resizable: false,
            width: 450,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            position: { my: "center top", at: "center top", of: window },
            open: function (event, ui) {
                $(this).load(url);
            },
            buttons: {
                "@Resources.Resources.Save": function () { $("#dialog-direct-debit").find("form").submit(); }
            },
            close: function() {
            }
        });

        $("#dialog-cancel-directdebit").dialog({
            title: '@Resources.Resources.CancelDirectDebit',
            autoOpen: false,
            resizable: false,
            width: 400,
            height: 200,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            position: { my: "center", at: "center", of: window },
            open: function (e, ui) {
                $(this).load("@Url.Action("ConfirmDirectDebitCancel", "Home")" + "/" + paymentId);
            },
            buttons: {}
        });

    } );

</script>

<div id="dialog-activate" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        @Resources.Resources.AreYouSureToActivateCompany
    </p>
</div>

<div id="dialog-deactivate" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        @Resources.Resources.AreYouSureToDeactivateCompany
    </p>
</div>

<div id="dialog-cancel-directdebit" style="display: none"></div>

<div id="dialog-direct-debit" style="display: none;">
</div>